{
  "classes" : {
    "java.security.AccessControlContext" : "AccessControlContext",
    "java.security.AccessControlException" : "AccessControlException",
    "java.security.AccessController" : "AccessController",
    "java.security.AlgorithmConstraints" : "AlgorithmConstraints",
    "java.security.AlgorithmParameterGenerator" : "AlgorithmParameterGenerator",
    "java.security.AlgorithmParameterGeneratorSpi" : "AlgorithmParameterGeneratorSpi",
    "java.security.AlgorithmParameters" : "AlgorithmParameters",
    "java.security.AlgorithmParametersSpi" : "AlgorithmParametersSpi",
    "java.security.AllPermission" : "AllPermission",
    "java.security.AuthProvider" : "AuthProvider",
    "java.security.BasicPermission" : "BasicPermission",
    "java.security.Certificate" : "Certificate",
    "java.security.CodeSigner" : "CodeSigner",
    "java.security.CodeSource" : "CodeSource",
    "java.security.CryptoPrimitive" : "CryptoPrimitive",
    "java.security.DigestException" : "DigestException",
    "java.security.DigestInputStream" : "DigestInputStream",
    "java.security.DigestOutputStream" : "DigestOutputStream",
    "java.security.DomainCombiner" : "DomainCombiner",
    "java.security.DomainLoadStoreParameter" : "DomainLoadStoreParameter",
    "java.security.GeneralSecurityException" : "GeneralSecurityException",
    "java.security.Guard" : "Guard",
    "java.security.GuardedObject" : "GuardedObject",
    "java.security.Identity" : "Identity",
    "java.security.IdentityScope" : "IdentityScope",
    "java.security.InvalidAlgorithmParameterException" : "InvalidAlgorithmParameterException",
    "java.security.InvalidKeyException" : "InvalidKeyException",
    "java.security.InvalidParameterException" : "InvalidParameterException",
    "java.security.Key" : "Key",
    "java.security.KeyException" : "KeyException",
    "java.security.KeyFactory" : "KeyFactory",
    "java.security.KeyFactorySpi" : "KeyFactorySpi",
    "java.security.KeyManagementException" : "KeyManagementException",
    "java.security.KeyPair" : "KeyPair",
    "java.security.KeyPairGenerator" : "KeyPairGenerator",
    "java.security.KeyPairGeneratorSpi" : "KeyPairGeneratorSpi",
    "java.security.KeyRep" : "KeyRep",
    "java.security.KeyRep$Type" : "KeyRep.Type",
    "java.security.KeyStore" : "KeyStore",
    "java.security.KeyStore$Builder" : "KeyStore.Builder",
    "java.security.KeyStore$CallbackHandlerProtection" : "KeyStore.CallbackHandlerProtection",
    "java.security.KeyStore$Entry" : "KeyStore.Entry",
    "java.security.KeyStore$Entry$Attribute" : "KeyStore.Entry.Attribute",
    "java.security.KeyStore$LoadStoreParameter" : "KeyStore.LoadStoreParameter",
    "java.security.KeyStore$PasswordProtection" : "KeyStore.PasswordProtection",
    "java.security.KeyStore$PrivateKeyEntry" : "KeyStore.PrivateKeyEntry",
    "java.security.KeyStore$ProtectionParameter" : "KeyStore.ProtectionParameter",
    "java.security.KeyStore$SecretKeyEntry" : "KeyStore.SecretKeyEntry",
    "java.security.KeyStore$TrustedCertificateEntry" : "KeyStore.TrustedCertificateEntry",
    "java.security.KeyStoreException" : "KeyStoreException",
    "java.security.KeyStoreSpi" : "KeyStoreSpi",
    "java.security.MessageDigest" : "MessageDigest",
    "java.security.MessageDigestSpi" : "MessageDigestSpi",
    "java.security.NoSuchAlgorithmException" : "NoSuchAlgorithmException",
    "java.security.NoSuchProviderException" : "NoSuchProviderException",
    "java.security.PKCS12Attribute" : "PKCS12Attribute",
    "java.security.Permission" : "Permission",
    "java.security.PermissionCollection" : "PermissionCollection",
    "java.security.Permissions" : "Permissions",
    "java.security.Policy" : "Policy",
    "java.security.Policy$Parameters" : "Policy.Parameters",
    "java.security.PolicySpi" : "PolicySpi",
    "java.security.Principal" : "Principal",
    "java.security.PrivateKey" : "PrivateKey",
    "java.security.PrivilegedAction" : "PrivilegedAction",
    "java.security.PrivilegedActionException" : "PrivilegedActionException",
    "java.security.PrivilegedExceptionAction" : "PrivilegedExceptionAction",
    "java.security.ProtectionDomain" : "ProtectionDomain",
    "java.security.Provider" : "Provider",
    "java.security.Provider$Service" : "Provider.Service",
    "java.security.ProviderException" : "ProviderException",
    "java.security.PublicKey" : "PublicKey",
    "java.security.SecureClassLoader" : "SecureClassLoader",
    "java.security.SecureRandom" : "SecureRandom",
    "java.security.SecureRandomSpi" : "SecureRandomSpi",
    "java.security.Security" : "Security",
    "java.security.SecurityPermission" : "SecurityPermission",
    "java.security.Signature" : "Signature",
    "java.security.SignatureException" : "SignatureException",
    "java.security.SignatureSpi" : "SignatureSpi",
    "java.security.SignedObject" : "SignedObject",
    "java.security.Signer" : "Signer",
    "java.security.Timestamp" : "Timestamp",
    "java.security.UnrecoverableEntryException" : "UnrecoverableEntryException",
    "java.security.UnrecoverableKeyException" : "UnrecoverableKeyException",
    "java.security.UnresolvedPermission" : "UnresolvedPermission",
    "java.security.cert.CRL" : "CRL",
    "java.security.cert.CRLException" : "CRLException",
    "java.security.cert.CRLReason" : "CRLReason",
    "java.security.cert.CRLSelector" : "CRLSelector",
    "java.security.cert.CertPath" : "CertPath",
    "java.security.cert.CertPath$CertPathRep" : "CertPath.CertPathRep",
    "java.security.cert.CertPathBuilder" : "CertPathBuilder",
    "java.security.cert.CertPathBuilderException" : "CertPathBuilderException",
    "java.security.cert.CertPathBuilderResult" : "CertPathBuilderResult",
    "java.security.cert.CertPathBuilderSpi" : "CertPathBuilderSpi",
    "java.security.cert.CertPathChecker" : "CertPathChecker",
    "java.security.cert.CertPathParameters" : "CertPathParameters",
    "java.security.cert.CertPathValidator" : "CertPathValidator",
    "java.security.cert.CertPathValidatorException" : "CertPathValidatorException",
    "java.security.cert.CertPathValidatorException$BasicReason" : "CertPathValidatorException.BasicReason",
    "java.security.cert.CertPathValidatorException$Reason" : "CertPathValidatorException.Reason",
    "java.security.cert.CertPathValidatorResult" : "CertPathValidatorResult",
    "java.security.cert.CertPathValidatorSpi" : "CertPathValidatorSpi",
    "java.security.cert.CertSelector" : "CertSelector",
    "java.security.cert.CertStore" : "CertStore",
    "java.security.cert.CertStoreException" : "CertStoreException",
    "java.security.cert.CertStoreParameters" : "CertStoreParameters",
    "java.security.cert.CertStoreSpi" : "CertStoreSpi",
    "java.security.cert.Certificate" : "CertCertificate",
    "java.security.cert.Certificate$CertificateRep" : "CertCertificate.CertificateRep",
    "java.security.cert.CertificateEncodingException" : "CertificateEncodingException",
    "java.security.cert.CertificateException" : "CertificateException",
    "java.security.cert.CertificateExpiredException" : "CertificateExpiredException",
    "java.security.cert.CertificateFactory" : "CertificateFactory",
    "java.security.cert.CertificateFactorySpi" : "CertificateFactorySpi",
    "java.security.cert.CertificateNotYetValidException" : "CertificateNotYetValidException",
    "java.security.cert.CertificateParsingException" : "CertificateParsingException",
    "java.security.cert.CertificateRevokedException" : "CertificateRevokedException",
    "java.security.cert.CollectionCertStoreParameters" : "CollectionCertStoreParameters",
    "java.security.cert.Extension" : "Extension",
    "java.security.cert.LDAPCertStoreParameters" : "LDAPCertStoreParameters",
    "java.security.cert.PKIXBuilderParameters" : "PKIXBuilderParameters",
    "java.security.cert.PKIXCertPathBuilderResult" : "PKIXCertPathBuilderResult",
    "java.security.cert.PKIXCertPathChecker" : "PKIXCertPathChecker",
    "java.security.cert.PKIXCertPathValidatorResult" : "PKIXCertPathValidatorResult",
    "java.security.cert.PKIXParameters" : "PKIXParameters",
    "java.security.cert.PKIXReason" : "PKIXReason",
    "java.security.cert.PKIXRevocationChecker" : "PKIXRevocationChecker",
    "java.security.cert.PKIXRevocationChecker$Option" : "PKIXRevocationChecker.Option",
    "java.security.cert.PolicyNode" : "PolicyNode",
    "java.security.cert.PolicyQualifierInfo" : "PolicyQualifierInfo",
    "java.security.cert.TrustAnchor" : "TrustAnchor",
    "java.security.cert.URICertStoreParameters" : "URICertStoreParameters",
    "java.security.cert.X509CRL" : "X509CRL",
    "java.security.cert.X509CRLEntry" : "X509CRLEntry",
    "java.security.cert.X509CRLSelector" : "X509CRLSelector",
    "java.security.cert.X509CertSelector" : "X509CertSelector",
    "java.security.cert.X509Certificate" : "X509Certificate",
    "java.security.cert.X509Extension" : "X509Extension",
    "java.security.interfaces.DSAKey" : "DSAKey",
    "java.security.interfaces.DSAKeyPairGenerator" : "DSAKeyPairGenerator",
    "java.security.interfaces.DSAParams" : "DSAParams",
    "java.security.interfaces.DSAPrivateKey" : "DSAPrivateKey",
    "java.security.interfaces.DSAPublicKey" : "DSAPublicKey",
    "java.security.interfaces.ECKey" : "ECKey",
    "java.security.interfaces.ECPrivateKey" : "ECPrivateKey",
    "java.security.interfaces.ECPublicKey" : "ECPublicKey",
    "java.security.interfaces.EdECKey" : "EdECKey",
    "java.security.interfaces.EdECPrivateKey" : "EdECPrivateKey",
    "java.security.interfaces.EdECPublicKey" : "EdECPublicKey",
    "java.security.interfaces.RSAKey" : "RSAKey",
    "java.security.interfaces.RSAMultiPrimePrivateCrtKey" : "RSAMultiPrimePrivateCrtKey",
    "java.security.interfaces.RSAPrivateCrtKey" : "RSAPrivateCrtKey",
    "java.security.interfaces.RSAPrivateKey" : "RSAPrivateKey",
    "java.security.interfaces.RSAPublicKey" : "RSAPublicKey",
    "java.security.interfaces.XECKey" : "XECKey",
    "java.security.interfaces.XECPrivateKey" : "XECPrivateKey",
    "java.security.interfaces.XECPublicKey" : "XECPublicKey",
    "java.security.spec.AlgorithmParameterSpec" : "AlgorithmParameterSpec",
    "java.security.spec.DSAParameterSpec" : "DSAParameterSpec",
    "java.security.spec.DSAPrivateKeySpec" : "DSAPrivateKeySpec",
    "java.security.spec.DSAPublicKeySpec" : "DSAPublicKeySpec",
    "java.security.spec.ECField" : "ECField",
    "java.security.spec.ECFieldF2m" : "ECFieldF2m",
    "java.security.spec.ECFieldFp" : "ECFieldFp",
    "java.security.spec.ECGenParameterSpec" : "ECGenParameterSpec",
    "java.security.spec.ECParameterSpec" : "ECParameterSpec",
    "java.security.spec.ECPoint" : "ECPoint",
    "java.security.spec.ECPrivateKeySpec" : "ECPrivateKeySpec",
    "java.security.spec.ECPublicKeySpec" : "ECPublicKeySpec",
    "java.security.spec.EdECPoint" : "EdECPoint",
    "java.security.spec.EdECPrivateKeySpec" : "EdECPrivateKeySpec",
    "java.security.spec.EdECPublicKeySpec" : "EdECPublicKeySpec",
    "java.security.spec.EllipticCurve" : "EllipticCurve",
    "java.security.spec.EncodedKeySpec" : "EncodedKeySpec",
    "java.security.spec.InvalidKeySpecException" : "InvalidKeySpecException",
    "java.security.spec.InvalidParameterSpecException" : "InvalidParameterSpecException",
    "java.security.spec.KeySpec" : "KeySpec",
    "java.security.spec.MGF1ParameterSpec" : "MGF1ParameterSpec",
    "java.security.spec.NamedParameterSpec" : "NamedParameterSpec",
    "java.security.spec.PKCS8EncodedKeySpec" : "PKCS8EncodedKeySpec",
    "java.security.spec.PSSParameterSpec" : "PSSParameterSpec",
    "java.security.spec.RSAKeyGenParameterSpec" : "RSAKeyGenParameterSpec",
    "java.security.spec.RSAMultiPrimePrivateCrtKeySpec" : "RSAMultiPrimePrivateCrtKeySpec",
    "java.security.spec.RSAOtherPrimeInfo" : "RSAOtherPrimeInfo",
    "java.security.spec.RSAPrivateCrtKeySpec" : "RSAPrivateCrtKeySpec",
    "java.security.spec.RSAPrivateKeySpec" : "RSAPrivateKeySpec",
    "java.security.spec.RSAPublicKeySpec" : "RSAPublicKeySpec",
    "java.security.spec.X509EncodedKeySpec" : "X509EncodedKeySpec",
    "java.security.spec.XECPrivateKeySpec" : "XECPrivateKeySpec",
    "java.security.spec.XECPublicKeySpec" : "XECPublicKeySpec",
  },
  "classpath" : "android.jar"
}
