{
  "classes" : {
    "android.content.AbstractThreadedSyncAdapter" : "AbstractThreadedSyncAdapter",
    "android.content.ActivityNotFoundException" : "ActivityNotFoundException",
    "android.content.AsyncQueryHandler" : "AsyncQueryHandler",
    "android.content.AsyncQueryHandler$WorkerArgs" : "AsyncQueryHandler.WorkerArgs",
    "android.content.AsyncQueryHandler$WorkerHandler" : "AsyncQueryHandler.WorkerHandler",
    "android.content.AsyncTaskLoader" : "AsyncTaskLoader",
    "android.content.AttributionSource" : "AttributionSource",
    "android.content.AttributionSource$Builder" : "AttributionSource.Builder",
    "android.content.BroadcastReceiver" : "BroadcastReceiver",
    "android.content.BroadcastReceiver$PendingResult" : "BroadcastReceiver.PendingResult",
    "android.content.ClipData" : "ClipData",
    "android.content.ClipData$Item" : "ClipData.Item",
    "android.content.ClipDescription" : "ClipDescription",
    "android.content.ClipboardManager" : "ClipboardManager",
    "android.content.ClipboardManager$OnPrimaryClipChangedListener" : "ClipboardManager.OnPrimaryClipChangedListener",
    "android.content.ComponentCallbacks" : "ComponentCallbacks",
    "android.content.ComponentCallbacks2" : "ComponentCallbacks2",
    "android.content.ComponentName" : "ComponentName",
    "android.content.ContentProvider" : "ContentProvider",
    "android.content.ContentProvider$CallingIdentity" : "ContentProvider.CallingIdentity",
    "android.content.ContentProvider$PipeDataWriter" : "ContentProvider.PipeDataWriter",
    "android.content.ContentProviderClient" : "ContentProviderClient",
    "android.content.ContentProviderOperation" : "ContentProviderOperation",
    "android.content.ContentProviderOperation$Builder" : "ContentProviderOperation.Builder",
    "android.content.ContentProviderResult" : "ContentProviderResult",
    "android.content.ContentQueryMap" : "ContentQueryMap",
    "android.content.ContentResolver" : "ContentResolver",
    "android.content.ContentResolver$MimeTypeInfo" : "ContentResolver.MimeTypeInfo",
    "android.content.ContentUris" : "ContentUris",
    "android.content.ContentValues" : "ContentValues",
    "android.content.Context" : "Context",
    "android.content.ContextParams" : "ContextParams",
    "android.content.ContextParams$Builder" : "ContextParams.Builder",
    "android.content.ContextWrapper" : "ContextWrapper",
    "android.content.CursorLoader" : "CursorLoader",
    "android.content.DialogInterface" : "DialogInterface",
    "android.content.DialogInterface$OnCancelListener" : "DialogInterface.OnCancelListener",
    "android.content.DialogInterface$OnClickListener" : "DialogInterface.OnClickListener",
    "android.content.DialogInterface$OnDismissListener" : "DialogInterface.OnDismissListener",
    "android.content.DialogInterface$OnKeyListener" : "DialogInterface.OnKeyListener",
    "android.content.DialogInterface$OnMultiChoiceClickListener" : "DialogInterface.OnMultiChoiceClickListener",
    "android.content.DialogInterface$OnShowListener" : "DialogInterface.OnShowListener",
    "android.content.Entity" : "Entity",
    "android.content.Entity$NamedContentValues" : "Entity.NamedContentValues",
    "android.content.EntityIterator" : "EntityIterator",
    "android.content.Intent" : "Intent",
    "android.content.Intent$FilterComparison" : "Intent.FilterComparison",
    "android.content.Intent$ShortcutIconResource" : "Intent.ShortcutIconResource",
    "android.content.IntentFilter" : "IntentFilter",
    "android.content.IntentFilter$AuthorityEntry" : "IntentFilter.AuthorityEntry",
    "android.content.IntentFilter$MalformedMimeTypeException" : "IntentFilter.MalformedMimeTypeException",
    "android.content.IntentSender" : "IntentSender",
    "android.content.IntentSender$OnFinished" : "IntentSender.OnFinished",
    "android.content.IntentSender$SendIntentException" : "IntentSender.SendIntentException",
    "android.content.Loader" : "Loader",
    "android.content.Loader$ForceLoadContentObserver" : "Loader.ForceLoadContentObserver",
    "android.content.Loader$OnLoadCanceledListener" : "Loader.OnLoadCanceledListener",
    "android.content.Loader$OnLoadCompleteListener" : "Loader.OnLoadCompleteListener",
    "android.content.LocusId" : "LocusId",
    "android.content.MutableContextWrapper" : "MutableContextWrapper",
    "android.content.OperationApplicationException" : "OperationApplicationException",
    "android.content.PeriodicSync" : "PeriodicSync",
    "android.content.QuickViewConstants" : "QuickViewConstants",
    "android.content.ReceiverCallNotAllowedException" : "ReceiverCallNotAllowedException",
    "android.content.RestrictionEntry" : "RestrictionEntry",
    "android.content.RestrictionsManager" : "RestrictionsManager",
    "android.content.SearchRecentSuggestionsProvider" : "SearchRecentSuggestionsProvider",
    "android.content.ServiceConnection" : "ServiceConnection",
    "android.content.SharedPreferences" : "SharedPreferences",
    "android.content.SharedPreferences$Editor" : "SharedPreferences.Editor",
    "android.content.SharedPreferences$OnSharedPreferenceChangeListener" : "SharedPreferences.OnSharedPreferenceChangeListener",
    "android.content.SyncAdapterType" : "SyncAdapterType",
    "android.content.SyncContext" : "SyncContext",
    "android.content.SyncInfo" : "SyncInfo",
    "android.content.SyncRequest" : "SyncRequest",
    "android.content.SyncRequest$Builder" : "SyncRequest.Builder",
    "android.content.SyncResult" : "SyncResult",
    "android.content.SyncStats" : "SyncStats",
    "android.content.SyncStatusObserver" : "SyncStatusObserver",
    "android.content.UriMatcher" : "UriMatcher",
    "android.content.UriPermission" : "UriPermission",
    "android.content.pm.ActivityInfo" : "ActivityInfo",
    "android.content.pm.ActivityInfo$WindowLayout" : "ActivityInfo.WindowLayout",
    "android.content.pm.ApkChecksum" : "ApkChecksum",
    "android.content.pm.ApplicationInfo" : "ApplicationInfo",
    "android.content.pm.ApplicationInfo$DisplayNameComparator" : "ApplicationInfo.DisplayNameComparator",
    "android.content.pm.Attribution" : "Attribution",
    "android.content.pm.Capability" : "Capability",
    "android.content.pm.Capability$Builder" : "Capability.Builder",
    "android.content.pm.CapabilityParams" : "CapabilityParams",
    "android.content.pm.CapabilityParams$Builder" : "CapabilityParams.Builder",
    "android.content.pm.ChangedPackages" : "ChangedPackages",
    "android.content.pm.Checksum" : "Checksum",
    "android.content.pm.ComponentInfo" : "ComponentInfo",
    "android.content.pm.ConfigurationInfo" : "ConfigurationInfo",
    "android.content.pm.CrossProfileApps" : "CrossProfileApps",
    "android.content.pm.FeatureGroupInfo" : "FeatureGroupInfo",
    "android.content.pm.FeatureInfo" : "FeatureInfo",
    "android.content.pm.InstallSourceInfo" : "InstallSourceInfo",
    "android.content.pm.InstrumentationInfo" : "InstrumentationInfo",
    "android.content.pm.LabeledIntent" : "LabeledIntent",
    "android.content.pm.LauncherActivityInfo" : "LauncherActivityInfo",
    "android.content.pm.LauncherApps" : "LauncherApps",
    "android.content.pm.LauncherApps$Callback" : "LauncherApps.Callback",
    "android.content.pm.LauncherApps$PinItemRequest" : "LauncherApps.PinItemRequest",
    "android.content.pm.LauncherApps$ShortcutQuery" : "LauncherApps.ShortcutQuery",
    "android.content.pm.ModuleInfo" : "ModuleInfo",
    "android.content.pm.PackageInfo" : "PackageInfo",
    "android.content.pm.PackageInstaller" : "PackageInstaller",
    "android.content.pm.PackageInstaller$Session" : "PackageInstaller.Session",
    "android.content.pm.PackageInstaller$SessionCallback" : "PackageInstaller.SessionCallback",
    "android.content.pm.PackageInstaller$SessionInfo" : "PackageInstaller.SessionInfo",
    "android.content.pm.PackageInstaller$SessionParams" : "PackageInstaller.SessionParams",
    "android.content.pm.PackageItemInfo" : "PackageItemInfo",
    "android.content.pm.PackageItemInfo$DisplayNameComparator" : "PackageItemInfo.DisplayNameComparator",
    "android.content.pm.PackageManager" : "PackageManager",
    "android.content.pm.PackageManager$ApplicationInfoFlags" : "PackageManager.ApplicationInfoFlags",
    "android.content.pm.PackageManager$ComponentEnabledSetting" : "PackageManager.ComponentEnabledSetting",
    "android.content.pm.PackageManager$ComponentInfoFlags" : "PackageManager.ComponentInfoFlags",
    "android.content.pm.PackageManager$NameNotFoundException" : "PackageManager.NameNotFoundException",
    "android.content.pm.PackageManager$OnChecksumsReadyListener" : "PackageManager.OnChecksumsReadyListener",
    "android.content.pm.PackageManager$PackageInfoFlags" : "PackageManager.PackageInfoFlags",
    "android.content.pm.PackageManager$Property" : "PackageManager.Property",
    "android.content.pm.PackageManager$ResolveInfoFlags" : "PackageManager.ResolveInfoFlags",
    "android.content.pm.PackageStats" : "PackageStats",
    "android.content.pm.PathPermission" : "PathPermission",
    "android.content.pm.PermissionGroupInfo" : "PermissionGroupInfo",
    "android.content.pm.PermissionInfo" : "PermissionInfo",
    "android.content.pm.ProviderInfo" : "ProviderInfo",
    "android.content.pm.ResolveInfo" : "ResolveInfo",
    "android.content.pm.ResolveInfo$DisplayNameComparator" : "ResolveInfo.DisplayNameComparator",
    "android.content.pm.ServiceInfo" : "ServiceInfo",
    "android.content.pm.SharedLibraryInfo" : "SharedLibraryInfo",
    "android.content.pm.ShortcutInfo" : "ShortcutInfo",
    "android.content.pm.ShortcutInfo$Builder" : "ShortcutInfo.Builder",
    "android.content.pm.ShortcutManager" : "ShortcutManager",
    "android.content.pm.Signature" : "Signature",
    "android.content.pm.SigningInfo" : "SigningInfo",
    "android.content.pm.VersionedPackage" : "VersionedPackage",
    "android.content.pm.verify.domain.DomainVerificationManager" : "DomainVerificationManager",
    "android.content.pm.verify.domain.DomainVerificationUserState" : "DomainVerificationUserState",
    "android.content.res.AssetFileDescriptor" : "AssetFileDescriptor",
    "android.content.res.AssetFileDescriptor$AutoCloseInputStream" : "AssetFileDescriptor.AutoCloseInputStream",
    "android.content.res.AssetFileDescriptor$AutoCloseOutputStream" : "AssetFileDescriptor.AutoCloseOutputStream",
    "android.content.res.AssetManager" : "AssetManager",
    "android.content.res.AssetManager$AssetInputStream" : "AssetManager.AssetInputStream",
    "android.content.res.ColorStateList" : "ColorStateList",
    "android.content.res.Configuration" : "Configuration",
    "android.content.res.ObbInfo" : "ObbInfo",
    "android.content.res.ObbScanner" : "ObbScanner",
    "android.content.res.Resources" : "Resources",
    "android.content.res.Resources$NotFoundException" : "Resources.NotFoundException",
    "android.content.res.Resources$Theme" : "Resources.Theme",
    "android.content.res.TypedArray" : "TypedArray",
    "android.content.res.XmlResourceParser" : "XmlResourceParser",
    "android.content.res.loader.AssetsProvider" : "AssetsProvider",
    "android.content.res.loader.ResourcesLoader" : "ResourcesLoader",
    "android.content.res.loader.ResourcesProvider" : "ResourcesProvider"
  },
  "classpath" : "android.jar"
}
