{
  "classes" : {
    "android.widget.AbsListView" : "AbsListView",
    "android.widget.AbsListView$LayoutParams" : "AbsListView.LayoutParams",
    "android.widget.AbsListView$MultiChoiceModeListener" : "AbsListView.MultiChoiceModeListener",
    "android.widget.AbsListView$OnScrollListener" : "AbsListView.OnScrollListener",
    "android.widget.AbsListView$RecyclerListener" : "AbsListView.RecyclerListener",
    "android.widget.AbsListView$SelectionBoundsAdjuster" : "AbsListView.SelectionBoundsAdjuster",
    "android.widget.AbsSeekBar" : "AbsSeekBar",
    "android.widget.AbsSpinner" : "AbsSpinner",
    "android.widget.AbsoluteLayout" : "AbsoluteLayout",
    "android.widget.AbsoluteLayout$LayoutParams" : "AbsoluteLayout.LayoutParams",
    "android.widget.ActionMenuView" : "ActionMenuView",
    "android.widget.ActionMenuView$LayoutParams" : "ActionMenuView.LayoutParams",
    "android.widget.ActionMenuView$OnMenuItemClickListener" : "ActionMenuView.OnMenuItemClickListener",
    "android.widget.Adapter" : "Adapter",
    "android.widget.AdapterView" : "AdapterView",
    "android.widget.AdapterView$AdapterContextMenuInfo" : "AdapterView.AdapterContextMenuInfo",
    "android.widget.AdapterView$OnItemClickListener" : "AdapterView.OnItemClickListener",
    "android.widget.AdapterView$OnItemLongClickListener" : "AdapterView.OnItemLongClickListener",
    "android.widget.AdapterView$OnItemSelectedListener" : "AdapterView.OnItemSelectedListener",
    "android.widget.AdapterViewAnimator" : "AdapterViewAnimator",
    "android.widget.AdapterViewFlipper" : "AdapterViewFlipper",
    "android.widget.Advanceable" : "Advanceable",
    "android.widget.AlphabetIndexer" : "AlphabetIndexer",
    "android.widget.AnalogClock" : "AnalogClock",
    "android.widget.ArrayAdapter" : "ArrayAdapter",
    "android.widget.AutoCompleteTextView" : "AutoCompleteTextView",
    "android.widget.AutoCompleteTextView$OnDismissListener" : "AutoCompleteTextView.OnDismissListener",
    "android.widget.AutoCompleteTextView$Validator" : "AutoCompleteTextView.Validator",
    "android.widget.BaseAdapter" : "BaseAdapter",
    "android.widget.BaseExpandableListAdapter" : "BaseExpandableListAdapter",
    "android.widget.Button" : "Button",
    "android.widget.CalendarView" : "CalendarView",
    "android.widget.CalendarView$OnDateChangeListener" : "CalendarView.OnDateChangeListener",
    "android.widget.CheckBox" : "CheckBox",
    "android.widget.Checkable" : "Checkable",
    "android.widget.CheckedTextView" : "CheckedTextView",
    "android.widget.Chronometer" : "Chronometer",
    "android.widget.Chronometer$OnChronometerTickListener" : "Chronometer.OnChronometerTickListener",
    "android.widget.CompoundButton" : "CompoundButton",
    "android.widget.CompoundButton$OnCheckedChangeListener" : "CompoundButton.OnCheckedChangeListener",
    "android.widget.CursorAdapter" : "CursorAdapter",
    "android.widget.CursorTreeAdapter" : "CursorTreeAdapter",
    "android.widget.DatePicker" : "DatePicker",
    "android.widget.DatePicker$OnDateChangedListener" : "DatePicker.OnDateChangedListener",
    "android.widget.DialerFilter" : "DialerFilter",
    "android.widget.DigitalClock" : "DigitalClock",
    "android.widget.EdgeEffect" : "EdgeEffect",
    "android.widget.EditText" : "EditText",
    "android.widget.ExpandableListAdapter" : "ExpandableListAdapter",
    "android.widget.ExpandableListView" : "ExpandableListView",
    "android.widget.ExpandableListView$ExpandableListContextMenuInfo" : "ExpandableListView.ExpandableListContextMenuInfo",
    "android.widget.ExpandableListView$OnChildClickListener" : "ExpandableListView.OnChildClickListener",
    "android.widget.ExpandableListView$OnGroupClickListener" : "ExpandableListView.OnGroupClickListener",
    "android.widget.ExpandableListView$OnGroupCollapseListener" : "ExpandableListView.OnGroupCollapseListener",
    "android.widget.ExpandableListView$OnGroupExpandListener" : "ExpandableListView.OnGroupExpandListener",
    "android.widget.Filter" : "Filter",
    "android.widget.Filter$FilterListener" : "Filter.FilterListener",
    "android.widget.Filter$FilterResults" : "Filter.FilterResults",
    "android.widget.FilterQueryProvider" : "FilterQueryProvider",
    "android.widget.Filterable" : "Filterable",
    "android.widget.FrameLayout" : "FrameLayout",
    "android.widget.FrameLayout$LayoutParams" : "FrameLayout.LayoutParams",
    "android.widget.Gallery" : "Gallery",
    "android.widget.Gallery$LayoutParams" : "Gallery.LayoutParams",
    "android.widget.GridLayout" : "GridLayout",
    "android.widget.GridLayout$Alignment" : "GridLayout.Alignment",
    "android.widget.GridLayout$LayoutParams" : "GridLayout.LayoutParams",
    "android.widget.GridLayout$Spec" : "GridLayout.Spec",
    "android.widget.GridView" : "GridView",
    "android.widget.HeaderViewListAdapter" : "HeaderViewListAdapter",
    "android.widget.HeterogeneousExpandableList" : "HeterogeneousExpandableList",
    "android.widget.HorizontalScrollView" : "HorizontalScrollView",
    "android.widget.ImageButton" : "ImageButton",
    "android.widget.ImageSwitcher" : "ImageSwitcher",
    "android.widget.ImageView" : "ImageView",
    "android.widget.ImageView$ScaleType" : "ImageView.ScaleType",
    "android.widget.LinearLayout" : "LinearLayout",
    "android.widget.LinearLayout$LayoutParams" : "LinearLayout.LayoutParams",
    "android.widget.ListAdapter" : "ListAdapter",
    "android.widget.ListPopupWindow" : "ListPopupWindow",
    "android.widget.ListView" : "ListView",
    "android.widget.ListView$FixedViewInfo" : "ListView.FixedViewInfo",
    "android.widget.Magnifier" : "Magnifier",
    "android.widget.Magnifier$Builder" : "Magnifier.Builder",
    "android.widget.MediaController" : "MediaController",
    "android.widget.MediaController$MediaPlayerControl" : "MediaController.MediaPlayerControl",
    "android.widget.MultiAutoCompleteTextView" : "MultiAutoCompleteTextView",
    "android.widget.MultiAutoCompleteTextView$CommaTokenizer" : "MultiAutoCompleteTextView.CommaTokenizer",
    "android.widget.MultiAutoCompleteTextView$Tokenizer" : "MultiAutoCompleteTextView.Tokenizer",
    "android.widget.NumberPicker" : "NumberPicker",
    "android.widget.NumberPicker$Formatter" : "NumberPicker.Formatter",
    "android.widget.NumberPicker$OnScrollListener" : "NumberPicker.OnScrollListener",
    "android.widget.NumberPicker$OnValueChangeListener" : "NumberPicker.OnValueChangeListener",
    "android.widget.OverScroller" : "OverScroller",
    "android.widget.PopupMenu" : "PopupMenu",
    "android.widget.PopupMenu$OnDismissListener" : "PopupMenu.OnDismissListener",
    "android.widget.PopupMenu$OnMenuItemClickListener" : "PopupMenu.OnMenuItemClickListener",
    "android.widget.PopupWindow" : "PopupWindow",
    "android.widget.PopupWindow$OnDismissListener" : "PopupWindow.OnDismissListener",
    "android.widget.ProgressBar" : "ProgressBar",
    "android.widget.QuickContactBadge" : "QuickContactBadge",
    "android.widget.RadioButton" : "RadioButton",
    "android.widget.RadioGroup" : "RadioGroup",
    "android.widget.RadioGroup$LayoutParams" : "RadioGroup.LayoutParams",
    "android.widget.RadioGroup$OnCheckedChangeListener" : "RadioGroup.OnCheckedChangeListener",
    "android.widget.RatingBar" : "RatingBar",
    "android.widget.RatingBar$OnRatingBarChangeListener" : "RatingBar.OnRatingBarChangeListener",
    "android.widget.RelativeLayout" : "RelativeLayout",
    "android.widget.RelativeLayout$LayoutParams" : "RelativeLayout.LayoutParams",
    "android.widget.RemoteViews" : "RemoteViews",
    "android.widget.RemoteViews$ActionException" : "RemoteViews.ActionException",
    "android.widget.RemoteViews$RemoteCollectionItems" : "RemoteViews.RemoteCollectionItems",
    "android.widget.RemoteViews$RemoteCollectionItems$Builder" : "RemoteViews.RemoteCollectionItems.Builder",
    "android.widget.RemoteViews$RemoteResponse" : "RemoteViews.RemoteResponse",
    "android.widget.RemoteViews$RemoteView" : "RemoteViews.RemoteView",
    "android.widget.RemoteViews$RemoteViewOutlineProvider" : "RemoteViews.RemoteViewOutlineProvider",
    "android.widget.RemoteViewsService" : "RemoteViewsService",
    "android.widget.RemoteViewsService$RemoteViewsFactory" : "RemoteViewsService.RemoteViewsFactory",
    "android.widget.ResourceCursorAdapter" : "ResourceCursorAdapter",
    "android.widget.ResourceCursorTreeAdapter" : "ResourceCursorTreeAdapter",
    "android.widget.ScrollView" : "ScrollView",
    "android.widget.Scroller" : "Scroller",
    "android.widget.SearchView" : "SearchView",
    "android.widget.SearchView$OnCloseListener" : "SearchView.OnCloseListener",
    "android.widget.SearchView$OnQueryTextListener" : "SearchView.OnQueryTextListener",
    "android.widget.SearchView$OnSuggestionListener" : "SearchView.OnSuggestionListener",
    "android.widget.SectionIndexer" : "SectionIndexer",
    "android.widget.SeekBar" : "SeekBar",
    "android.widget.SeekBar$OnSeekBarChangeListener" : "SeekBar.OnSeekBarChangeListener",
    "android.widget.ShareActionProvider" : "ShareActionProvider",
    "android.widget.ShareActionProvider$OnShareTargetSelectedListener" : "ShareActionProvider.OnShareTargetSelectedListener",
    "android.widget.SimpleAdapter" : "SimpleAdapter",
    "android.widget.SimpleAdapter$ViewBinder" : "SimpleAdapter.ViewBinder",
    "android.widget.SimpleCursorAdapter" : "SimpleCursorAdapter",
    "android.widget.SimpleCursorAdapter$CursorToStringConverter" : "SimpleCursorAdapter.CursorToStringConverter",
    "android.widget.SimpleCursorAdapter$ViewBinder" : "SimpleCursorAdapter.ViewBinder",
    "android.widget.SimpleCursorTreeAdapter" : "SimpleCursorTreeAdapter",
    "android.widget.SimpleCursorTreeAdapter$ViewBinder" : "SimpleCursorTreeAdapter.ViewBinder",
    "android.widget.SimpleExpandableListAdapter" : "SimpleExpandableListAdapter",
    "android.widget.SlidingDrawer" : "SlidingDrawer",
    "android.widget.SlidingDrawer$OnDrawerCloseListener" : "SlidingDrawer.OnDrawerCloseListener",
    "android.widget.SlidingDrawer$OnDrawerOpenListener" : "SlidingDrawer.OnDrawerOpenListener",
    "android.widget.SlidingDrawer$OnDrawerScrollListener" : "SlidingDrawer.OnDrawerScrollListener",
    "android.widget.Space" : "Space",
    "android.widget.Spinner" : "Spinner",
    "android.widget.SpinnerAdapter" : "SpinnerAdapter",
    "android.widget.StackView" : "StackView",
    "android.widget.Switch" : "Switch",
    "android.widget.TabHost" : "TabHost",
    "android.widget.TabHost$OnTabChangeListener" : "TabHost.OnTabChangeListener",
    "android.widget.TabHost$TabContentFactory" : "TabHost.TabContentFactory",
    "android.widget.TabHost$TabSpec" : "TabHost.TabSpec",
    "android.widget.TabWidget" : "TabWidget",
    "android.widget.TableLayout" : "TableLayout",
    "android.widget.TableLayout$LayoutParams" : "TableLayout.LayoutParams",
    "android.widget.TableRow" : "TableRow",
    "android.widget.TableRow$LayoutParams" : "TableRow.LayoutParams",
    "android.widget.TextClock" : "TextClock",
    "android.widget.TextSwitcher" : "TextSwitcher",
    "android.widget.TextView" : "TextView",
    "android.widget.TextView$BufferType" : "TextView.BufferType",
    "android.widget.TextView$OnEditorActionListener" : "TextView.OnEditorActionListener",
    "android.widget.TextView$SavedState" : "TextView.SavedState",
    "android.widget.ThemedSpinnerAdapter" : "ThemedSpinnerAdapter",
    "android.widget.TimePicker" : "TimePicker",
    "android.widget.TimePicker$OnTimeChangedListener" : "TimePicker.OnTimeChangedListener",
    "android.widget.Toast" : "Toast",
    "android.widget.Toast$Callback" : "Toast.Callback",
    "android.widget.ToggleButton" : "ToggleButton",
    "android.widget.Toolbar" : "Toolbar",
    "android.widget.Toolbar$LayoutParams" : "Toolbar.LayoutParams",
    "android.widget.Toolbar$OnMenuItemClickListener" : "Toolbar.OnMenuItemClickListener",
    "android.widget.TwoLineListItem" : "TwoLineListItem",
    "android.widget.VideoView" : "VideoView",
    "android.widget.ViewAnimator" : "ViewAnimator",
    "android.widget.ViewFlipper" : "ViewFlipper",
    "android.widget.ViewSwitcher" : "ViewSwitcher",
    "android.widget.ViewSwitcher$ViewFactory" : "ViewSwitcher.ViewFactory",
    "android.widget.WrapperListAdapter" : "WrapperListAdapter",
    "android.widget.ZoomButton" : "ZoomButton",
    "android.widget.ZoomButtonsController" : "ZoomButtonsController",
    "android.widget.ZoomButtonsController$OnZoomListener" : "ZoomButtonsController.OnZoomListener",
    "android.widget.ZoomControls" : "ZoomControls",
    "android.widget.inline.InlineContentView" : "InlineContentView",
    "android.widget.inline.InlineContentView$SurfaceControlCallback" : "InlineContentView.SurfaceControlCallback",
    "android.widget.inline.InlinePresentationSpec" : "InlinePresentationSpec",
    "android.widget.inline.InlinePresentationSpec$Builder" : "InlinePresentationSpec.Builder"
  },
  "classpath" : "android.jar"
}
