{
  "classes" : {
    "java.lang.Cloneable" : "Cloneable",
    "java.lang.Comparable" : "Comparable",
    "java.lang.constant.Constable" : "Constable",
    "java.lang.constant.ConstantDesc" : "ConstantDesc",
    "java.lang.Deprecated" : "Deprecated",
    "java.lang.EnumConstantNotPresentException" : "EnumConstantNotPresentException",
    "java.lang.ExceptionInInitializerError" : "ExceptionInInitializerError",
    "java.lang.FunctionalInterface" : "FunctionalInterface",
    "java.lang.IllegalAccessError" : "IllegalAccessError",
    "java.lang.IllegalAccessException" : "IllegalAccessException",
    "java.lang.IllegalArgumentException" : "IllegalArgumentException",
    "java.lang.IllegalMonitorStateException" : "IllegalMonitorStateException",
    "java.lang.IllegalStateException" : "IllegalStateException",
    "java.lang.IllegalThreadStateException" : "IllegalThreadStateException",
    "java.lang.IncompatibleClassChangeError" : "IncompatibleClassChangeError",
    "java.lang.IndexOutOfBoundsException" : "IndexOutOfBoundsException",
    "java.lang.InheritableThreadLocal" : "InheritableThreadLocal",
    "java.lang.InstantiationError" : "InstantiationError",
    "java.lang.InstantiationException" : "InstantiationException",
    "java.lang.InternalError" : "InternalError",
    "java.lang.InterruptedException" : "InterruptedException",
    "java.lang.Iterable" : "Iterable",
    "java.lang.LinkageError" : "LinkageError",
    "java.lang.Math" : "Math",
    "java.lang.NegativeArraySizeException" : "NegativeArraySizeException",
    "java.lang.NoClassDefFoundError" : "NoClassDefFoundError",
    "java.lang.NoSuchFieldError" : "NoSuchFieldError",
    "java.lang.NoSuchFieldException" : "NoSuchFieldException",
    "java.lang.NoSuchMethodError" : "NoSuchMethodError",
    "java.lang.NoSuchMethodException" : "NoSuchMethodException",
    "java.lang.NullPointerException" : "NullPointerException",
    "java.lang.NumberFormatException" : "NumberFormatException",
    "java.lang.OutOfMemoryError" : "OutOfMemoryError",
    "java.lang.Override" : "Override",
    "java.lang.Package" : "Package",
    "java.lang.Process" : "Process",
    "java.lang.ProcessHandle" : "ProcessHandle",
    "java.lang.ProcessHandle$Info" : "ProcessHandle.Info",
    "java.lang.ProcessBuilder" : "ProcessBuilder",
    "java.lang.ProcessBuilder$Redirect" : "ProcessBuilder.Redirect",
    "java.lang.ProcessBuilder$Redirect$Type" : "ProcessBuilder.Redirect.Type",
    "java.lang.Readable" : "Readable",
    "java.lang.ReflectiveOperationException" : "ReflectiveOperationException",
    "java.lang.Runnable" : "Runnable",
    "java.lang.Runtime" : "Runtime",
    "java.lang.RuntimePermission" : "RuntimePermission",
    "java.lang.SafeVarargs" : "SafeVarargs",
    "java.lang.SecurityException" : "SecurityException",
    "java.lang.SecurityManager" : "SecurityManager",
    "java.lang.StackOverflowError" : "StackOverflowError",
    "java.lang.StackTraceElement" : "StackTraceElement",
    "java.lang.StrictMath" : "StrictMath",
    "java.lang.StringBuffer" : "StringBuffer",
    "java.lang.StringBuilder" : "StringBuilder",
    "java.lang.StringIndexOutOfBoundsException" : "StringIndexOutOfBoundsException",
    "java.lang.SuppressWarnings" : "SuppressWarnings",
    "java.lang.System" : "System",
    "java.lang.Thread" : "Thread",
    "java.lang.Thread$State" : "Thread.State",
    "java.lang.Thread$UncaughtExceptionHandler" : "Thread.UncaughtExceptionHandler",
    "java.lang.ThreadDeath" : "ThreadDeath",
    "java.lang.ThreadGroup" : "ThreadGroup",
    "java.lang.ThreadLocal" : "ThreadLocal",
    "java.lang.TypeNotPresentException" : "TypeNotPresentException",
    "java.lang.UnknownError" : "UnknownError",
    "java.lang.UnsatisfiedLinkError" : "UnsatisfiedLinkError",
    "java.lang.UnsupportedClassVersionError" : "UnsupportedClassVersionError",
    "java.lang.UnsupportedOperationException" : "UnsupportedOperationException",
    "java.lang.VerifyError" : "VerifyError",
    "java.lang.VirtualMachineError" : "VirtualMachineError",
  },
  "classpath" : "android.jar"
}
