{
  "classes" : {
    "android.webkit.ClientCertRequest" : "ClientCertRequest",
    "android.webkit.ConsoleMessage" : "ConsoleMessage",
    "android.webkit.ConsoleMessage$MessageLevel" : "ConsoleMessage.MessageLevel",
    "android.webkit.CookieManager" : "CookieManager",
    "android.webkit.CookieSyncManager" : "CookieSyncManager",
    "android.webkit.DateSorter" : "DateSorter",
    "android.webkit.DownloadListener" : "DownloadListener",
    "android.webkit.GeolocationPermissions" : "GeolocationPermissions",
    "android.webkit.GeolocationPermissions$Callback" : "GeolocationPermissions.Callback",
    "android.webkit.HttpAuthHandler" : "HttpAuthHandler",
    "android.webkit.JavascriptInterface" : "JavascriptInterface",
    "android.webkit.JsPromptResult" : "JsPromptResult",
    "android.webkit.JsResult" : "JsResult",
    "android.webkit.MimeTypeMap" : "MimeTypeMap",
    "android.webkit.PermissionRequest" : "PermissionRequest",
    "android.webkit.PluginStub" : "PluginStub",
    "android.webkit.RenderProcessGoneDetail" : "RenderProcessGoneDetail",
    "android.webkit.SafeBrowsingResponse" : "SafeBrowsingResponse",
    "android.webkit.ServiceWorkerClient" : "ServiceWorkerClient",
    "android.webkit.ServiceWorkerController" : "ServiceWorkerController",
    "android.webkit.ServiceWorkerWebSettings" : "ServiceWorkerWebSettings",
    "android.webkit.SslErrorHandler" : "SslErrorHandler",
    "android.webkit.TracingConfig" : "TracingConfig",
    "android.webkit.TracingConfig$Builder" : "TracingConfig.Builder",
    "android.webkit.TracingController" : "TracingController",
    "android.webkit.URLUtil" : "URLUtil",
    "android.webkit.ValueCallback" : "ValueCallback",
    "android.webkit.WebBackForwardList" : "WebBackForwardList",
    "android.webkit.WebChromeClient" : "WebChromeClient",
    "android.webkit.WebChromeClient$CustomViewCallback" : "WebChromeClient.CustomViewCallback",
    "android.webkit.WebChromeClient$FileChooserParams" : "WebChromeClient.FileChooserParams",
    "android.webkit.WebHistoryItem" : "WebHistoryItem",
    "android.webkit.WebIconDatabase" : "WebIconDatabase",
    "android.webkit.WebIconDatabase$IconListener" : "WebIconDatabase.IconListener",
    "android.webkit.WebMessage" : "WebMessage",
    "android.webkit.WebMessagePort" : "WebMessagePort",
    "android.webkit.WebMessagePort$WebMessageCallback" : "WebMessagePort.WebMessageCallback",
    "android.webkit.WebResourceError" : "WebResourceError",
    "android.webkit.WebResourceRequest" : "WebResourceRequest",
    "android.webkit.WebResourceResponse" : "WebResourceResponse",
    "android.webkit.WebSettings" : "WebSettings",
    "android.webkit.WebSettings$LayoutAlgorithm" : "WebSettings.LayoutAlgorithm",
    "android.webkit.WebSettings$PluginState" : "WebSettings.PluginState",
    "android.webkit.WebSettings$RenderPriority" : "WebSettings.RenderPriority",
    "android.webkit.WebSettings$TextSize" : "WebSettings.TextSize",
    "android.webkit.WebSettings$ZoomDensity" : "WebSettings.ZoomDensity",
    "android.webkit.WebStorage" : "WebStorage",
    "android.webkit.WebStorage$Origin" : "WebStorage.Origin",
    "android.webkit.WebStorage$QuotaUpdater" : "WebStorage.QuotaUpdater",
    "android.webkit.WebView" : "WebView",
    "android.webkit.WebView$FindListener" : "WebView.FindListener",
    "android.webkit.WebView$HitTestResult" : "WebView.HitTestResult",
    "android.webkit.WebView$PictureListener" : "WebView.PictureListener",
    "android.webkit.WebView$VisualStateCallback" : "WebView.VisualStateCallback",
    "android.webkit.WebView$WebViewTransport" : "WebView.WebViewTransport",
    "android.webkit.WebViewClient" : "WebViewClient",
    "android.webkit.WebViewDatabase" : "WebViewDatabase",
    "android.webkit.WebViewFragment" : "WebViewFragment",
    "android.webkit.WebViewRenderProcess" : "WebViewRenderProcess",
    "android.webkit.WebViewRenderProcessClient" : "WebViewRenderProcessClient"
  },
  "classpath" : "android.jar"
}
