{
  "classes" : {
    "android.nfc.AvailableNfcAntenna" : "AvailableNfcAntenna",
    "android.nfc.FormatException" : "FormatException",
    "android.nfc.NdefMessage" : "NdefMessage",
    "android.nfc.NdefRecord" : "NdefRecord",
    "android.nfc.NfcAdapter" : "NfcAdapter",
    "android.nfc.NfcAdapter$CreateBeamUrisCallback" : "NfcAdapter.CreateBeamUrisCallback",
    "android.nfc.NfcAdapter$CreateNdefMessageCallback" : "NfcAdapter.CreateNdefMessageCallback",
    "android.nfc.NfcAdapter$OnNdefPushCompleteCallback" : "NfcAdapter.OnNdefPushCompleteCallback",
    "android.nfc.NfcAdapter$OnTagRemovedListener" : "NfcAdapter.OnTagRemovedListener",
    "android.nfc.NfcAdapter$ReaderCallback" : "NfcAdapter.ReaderCallback",
    "android.nfc.NfcAntennaInfo" : "NfcAntennaInfo",
    "android.nfc.NfcEvent" : "NfcEvent",
    "android.nfc.NfcManager" : "NfcManager",
    "android.nfc.Tag" : "Tag",
    "android.nfc.TagLostException" : "TagLostException",
    "android.nfc.cardemulation.CardEmulation" : "CardEmulation",
    "android.nfc.cardemulation.HostApduService" : "HostApduService",
    "android.nfc.cardemulation.HostNfcFService" : "HostNfcFService",
    "android.nfc.cardemulation.NfcFCardEmulation" : "NfcFCardEmulation",
    "android.nfc.cardemulation.OffHostApduService" : "OffHostApduService",
    "android.nfc.cardemulation.PollingFrame" : "PollingFrame",
    "android.nfc.tech.IsoDep" : "IsoDep",
    "android.nfc.tech.MifareClassic" : "MifareClassic",
    "android.nfc.tech.MifareUltralight" : "MifareUltralight",
    "android.nfc.tech.Ndef" : "Ndef",
    "android.nfc.tech.NdefFormatable" : "NdefFormatable",
    "android.nfc.tech.NfcA" : "NfcA",
    "android.nfc.tech.NfcB" : "NfcB",
    "android.nfc.tech.NfcBarcode" : "NfcBarcode",
    "android.nfc.tech.NfcF" : "NfcF",
    "android.nfc.tech.NfcV" : "NfcV",
    "android.nfc.tech.TagTechnology" : "TagTechnology"
  },
  "classpath" : "jar/android.jar"
}
