{
  "classes" : {
    "android.app.ActionBar" : "ActionBar",
    "android.app.ActionBar$LayoutParams" : "ActionBar.LayoutParams",
    "android.app.ActionBar$OnMenuVisibilityListener" : "ActionBar.OnMenuVisibilityListener",
    "android.app.ActionBar$OnNavigationListener" : "ActionBar.OnNavigationListener",
    "android.app.ActionBar$Tab" : "ActionBar.Tab",
    "android.app.ActionBar$TabListener" : "ActionBar.TabListener",
    "android.app.Activity" : "Activity",
    "android.app.ActivityGroup" : "ActivityGroup",
    "android.app.ActivityManager" : "ActivityManager",
    "android.app.ActivityManager$AppTask" : "ActivityManager.AppTask",
    "android.app.ActivityManager$MemoryInfo" : "ActivityManager.MemoryInfo",
    "android.app.ActivityManager$ProcessErrorStateInfo" : "ActivityManager.ProcessErrorStateInfo",
    "android.app.ActivityManager$RecentTaskInfo" : "ActivityManager.RecentTaskInfo",
    "android.app.ActivityManager$RunningAppProcessInfo" : "ActivityManager.RunningAppProcessInfo",
    "android.app.ActivityManager$RunningServiceInfo" : "ActivityManager.RunningServiceInfo",
    "android.app.ActivityManager$RunningTaskInfo" : "ActivityManager.RunningTaskInfo",
    "android.app.ActivityManager$TaskDescription" : "ActivityManager.TaskDescription",
    "android.app.ActivityManager$TaskDescription$Builder" : "ActivityManager.TaskDescription.Builder",
    "android.app.ActivityOptions" : "ActivityOptions",
    "android.app.AlarmManager" : "AlarmManager",
    "android.app.AlarmManager$AlarmClockInfo" : "AlarmManager.AlarmClockInfo",
    "android.app.AlarmManager$OnAlarmListener" : "AlarmManager.OnAlarmListener",
    "android.app.AlertDialog" : "AlertDialog",
    "android.app.AlertDialog$Builder" : "AlertDialog.Builder",
    "android.app.AliasActivity" : "AliasActivity",
    "android.app.AppComponentFactory" : "AppComponentFactory",
    "android.app.AppOpsManager" : "AppOpsManager",
    "android.app.AppOpsManager$OnOpActiveChangedListener" : "AppOpsManager.OnOpActiveChangedListener",
    "android.app.AppOpsManager$OnOpChangedListener" : "AppOpsManager.OnOpChangedListener",
    "android.app.AppOpsManager$OnOpNotedCallback" : "AppOpsManager.OnOpNotedCallback",
    "android.app.Application" : "Application",
    "android.app.Application$ActivityLifecycleCallbacks" : "Application.ActivityLifecycleCallbacks",
    "android.app.Application$OnProvideAssistDataListener" : "Application.OnProvideAssistDataListener",
    "android.app.ApplicationErrorReport" : "ApplicationErrorReport",
    "android.app.ApplicationErrorReport$AnrInfo" : "ApplicationErrorReport.AnrInfo",
    "android.app.ApplicationErrorReport$BatteryInfo" : "ApplicationErrorReport.BatteryInfo",
    "android.app.ApplicationErrorReport$CrashInfo" : "ApplicationErrorReport.CrashInfo",
    "android.app.ApplicationErrorReport$RunningServiceInfo" : "ApplicationErrorReport.RunningServiceInfo",
    "android.app.ApplicationExitInfo" : "ApplicationExitInfo",
    "android.app.AsyncNotedAppOp" : "AsyncNotedAppOp",
    "android.app.AuthenticationRequiredException" : "AuthenticationRequiredException",
    "android.app.AutomaticZenRule" : "AutomaticZenRule",
    "android.app.BackgroundServiceStartNotAllowedException" : "BackgroundServiceStartNotAllowedException",
    "android.app.DatePickerDialog" : "DatePickerDialog",
    "android.app.DatePickerDialog$OnDateSetListener" : "DatePickerDialog.OnDateSetListener",
    "android.app.Dialog" : "Dialog",
    "android.app.DialogFragment" : "DialogFragment",
    "android.app.DirectAction" : "DirectAction",
    "android.app.DirectAction$Builder" : "DirectAction.Builder",
    "android.app.DownloadManager" : "DownloadManager",
    "android.app.DownloadManager$Query" : "DownloadManager.Query",
    "android.app.DownloadManager$Request" : "DownloadManager.Request",
    "android.app.ExpandableListActivity" : "ExpandableListActivity",
    "android.app.ForegroundServiceStartNotAllowedException" : "ForegroundServiceStartNotAllowedException",
    "android.app.Fragment" : "Fragment",
    "android.app.Fragment$InstantiationException" : "Fragment.InstantiationException",
    "android.app.Fragment$SavedState" : "Fragment.SavedState",
    "android.app.FragmentBreadCrumbs" : "FragmentBreadCrumbs",
    "android.app.FragmentBreadCrumbs$OnBreadCrumbClickListener" : "FragmentBreadCrumbs.OnBreadCrumbClickListener",
    "android.app.FragmentContainer" : "FragmentContainer",
    "android.app.FragmentController" : "FragmentController",
    "android.app.FragmentHostCallback" : "FragmentHostCallback",
    "android.app.FragmentManager" : "FragmentManager",
    "android.app.FragmentManager$BackStackEntry" : "FragmentManager.BackStackEntry",
    "android.app.FragmentManager$FragmentLifecycleCallbacks" : "FragmentManager.FragmentLifecycleCallbacks",
    "android.app.FragmentManager$OnBackStackChangedListener" : "FragmentManager.OnBackStackChangedListener",
    "android.app.FragmentManagerNonConfig" : "FragmentManagerNonConfig",
    "android.app.FragmentTransaction" : "FragmentTransaction",
    "android.app.GameManager" : "GameManager",
    "android.app.GameState" : "GameState",
    "android.app.Instrumentation" : "Instrumentation",
    "android.app.Instrumentation$ActivityMonitor" : "Instrumentation.ActivityMonitor",
    "android.app.Instrumentation$ActivityResult" : "Instrumentation.ActivityResult",
    "android.app.IntentService" : "IntentService",
    "android.app.KeyguardManager" : "KeyguardManager",
    "android.app.KeyguardManager$KeyguardDismissCallback" : "KeyguardManager.KeyguardDismissCallback",
    "android.app.KeyguardManager$KeyguardLock" : "KeyguardManager.KeyguardLock",
    "android.app.KeyguardManager$KeyguardLockedStateListener" : "KeyguardManager.KeyguardLockedStateListener",
    "android.app.KeyguardManager$OnKeyguardExitResult" : "KeyguardManager.OnKeyguardExitResult",
    "android.app.LauncherActivity" : "LauncherActivity",
    "android.app.LauncherActivity$IconResizer" : "LauncherActivity.IconResizer",
    "android.app.LauncherActivity$ListItem" : "LauncherActivity.ListItem",
    "android.app.ListActivity" : "ListActivity",
    "android.app.ListFragment" : "ListFragment",
    "android.app.LoaderManager" : "LoaderManager",
    "android.app.LoaderManager$LoaderCallbacks" : "LoaderManager.LoaderCallbacks",
    "android.app.LocalActivityManager" : "LocalActivityManager",
    "android.app.LocaleConfig" : "LocaleConfig",
    "android.app.LocaleManager" : "LocaleManager",
    "android.app.MediaRouteActionProvider" : "MediaRouteActionProvider",
    "android.app.MediaRouteButton" : "MediaRouteButton",
    "android.app.NativeActivity" : "NativeActivity",
    "android.app.Notification" : "Notification",
    "android.app.Notification$Action" : "Notification.Action",
    "android.app.Notification$Action$Builder" : "Notification.Action.Builder",
    "android.app.Notification$Action$Extender" : "Notification.Action.Extender",
    "android.app.Notification$Action$WearableExtender" : "Notification.Action.WearableExtender",
    "android.app.Notification$BigPictureStyle" : "Notification.BigPictureStyle",
    "android.app.Notification$BigTextStyle" : "Notification.BigTextStyle",
    "android.app.Notification$BubbleMetadata" : "Notification.BubbleMetadata",
    "android.app.Notification$BubbleMetadata$Builder" : "Notification.BubbleMetadata.Builder",
    "android.app.Notification$Builder" : "Notification.Builder",
    "android.app.Notification$CallStyle" : "Notification.CallStyle",
    "android.app.Notification$CarExtender" : "Notification.CarExtender",
    "android.app.Notification$CarExtender$Builder" : "Notification.CarExtender.Builder",
    "android.app.Notification$CarExtender$UnreadConversation" : "Notification.CarExtender.UnreadConversation",
    "android.app.Notification$DecoratedCustomViewStyle" : "Notification.DecoratedCustomViewStyle",
    "android.app.Notification$DecoratedMediaCustomViewStyle" : "Notification.DecoratedMediaCustomViewStyle",
    "android.app.Notification$Extender" : "Notification.Extender",
    "android.app.Notification$InboxStyle" : "Notification.InboxStyle",
    "android.app.Notification$MediaStyle" : "Notification.MediaStyle",
    "android.app.Notification$MessagingStyle" : "Notification.MessagingStyle",
    "android.app.Notification$MessagingStyle$Message" : "Notification.MessagingStyle.Message",
    "android.app.Notification$Style" : "Notification.Style",
    "android.app.Notification$WearableExtender" : "Notification.WearableExtender",
    "android.app.NotificationChannel" : "NotificationChannel",
    "android.app.NotificationChannelGroup" : "NotificationChannelGroup",
    "android.app.NotificationManager" : "NotificationManager",
    "android.app.NotificationManager$Policy" : "NotificationManager.Policy",
    "android.app.PendingIntent" : "PendingIntent",
    "android.app.PendingIntent$CanceledException" : "PendingIntent.CanceledException",
    "android.app.PendingIntent$OnFinished" : "PendingIntent.OnFinished",
    "android.app.Person" : "Person",
    "android.app.Person$Builder" : "Person.Builder",
    "android.app.PictureInPictureParams" : "PictureInPictureParams",
    "android.app.PictureInPictureParams$Builder" : "PictureInPictureParams.Builder",
    "android.app.PictureInPictureUiState" : "PictureInPictureUiState",
    "android.app.Presentation" : "Presentation",
    "android.app.ProgressDialog" : "ProgressDialog",
    "android.app.RecoverableSecurityException" : "RecoverableSecurityException",
    "android.app.RemoteAction" : "RemoteAction",
    "android.app.RemoteInput" : "RemoteInput",
    "android.app.RemoteInput$Builder" : "RemoteInput.Builder",
    "android.app.SearchManager" : "SearchManager",
    "android.app.SearchManager$OnCancelListener" : "SearchManager.OnCancelListener",
    "android.app.SearchManager$OnDismissListener" : "SearchManager.OnDismissListener",
    "android.app.SearchableInfo" : "SearchableInfo",
    "android.app.Service" : "Service",
    "android.app.ServiceStartNotAllowedException" : "ServiceStartNotAllowedException",
    "android.app.SharedElementCallback" : "SharedElementCallback",
    "android.app.SharedElementCallback$OnSharedElementsReadyListener" : "SharedElementCallback.OnSharedElementsReadyListener",
    "android.app.StatusBarManager" : "StatusBarManager",
    "android.app.SyncNotedAppOp" : "SyncNotedAppOp",
    "android.app.TabActivity" : "TabActivity",
    "android.app.TaskInfo" : "TaskInfo",
    "android.app.TaskStackBuilder" : "TaskStackBuilder",
    "android.app.TimePickerDialog" : "TimePickerDialog",
    "android.app.TimePickerDialog$OnTimeSetListener" : "TimePickerDialog.OnTimeSetListener",
    "android.app.UiAutomation" : "UiAutomation",
    "android.app.UiAutomation$AccessibilityEventFilter" : "UiAutomation.AccessibilityEventFilter",
    "android.app.UiAutomation$OnAccessibilityEventListener" : "UiAutomation.OnAccessibilityEventListener",
    "android.app.UiModeManager" : "UiModeManager",
    "android.app.VoiceInteractor" : "VoiceInteractor",
    "android.app.VoiceInteractor$AbortVoiceRequest" : "VoiceInteractor.AbortVoiceRequest",
    "android.app.VoiceInteractor$CommandRequest" : "VoiceInteractor.CommandRequest",
    "android.app.VoiceInteractor$CompleteVoiceRequest" : "VoiceInteractor.CompleteVoiceRequest",
    "android.app.VoiceInteractor$ConfirmationRequest" : "VoiceInteractor.ConfirmationRequest",
    "android.app.VoiceInteractor$PickOptionRequest" : "VoiceInteractor.PickOptionRequest",
    "android.app.VoiceInteractor$PickOptionRequest$Option" : "VoiceInteractor.PickOptionRequest.Option",
    "android.app.VoiceInteractor$Prompt" : "VoiceInteractor.Prompt",
    "android.app.VoiceInteractor$Request" : "VoiceInteractor.Request",
    "android.app.WallpaperColors" : "WallpaperColors",
    "android.app.WallpaperInfo" : "WallpaperInfo",
    "android.app.WallpaperManager" : "WallpaperManager",
    "android.app.WallpaperManager$OnColorsChangedListener" : "WallpaperManager.OnColorsChangedListener",
    "android.app.ZygotePreload" : "ZygotePreload",
    "android.app.admin.ConnectEvent" : "ConnectEvent",
    "android.app.admin.DelegatedAdminReceiver" : "DelegatedAdminReceiver",
    "android.app.admin.DeviceAdminInfo" : "DeviceAdminInfo",
    "android.app.admin.DeviceAdminReceiver" : "DeviceAdminReceiver",
    "android.app.admin.DeviceAdminService" : "DeviceAdminService",
    "android.app.admin.DevicePolicyManager" : "DevicePolicyManager",
    "android.app.admin.DevicePolicyManager$InstallSystemUpdateCallback" : "DevicePolicyManager.InstallSystemUpdateCallback",
    "android.app.admin.DevicePolicyManager$OnClearApplicationUserDataListener" : "DevicePolicyManager.OnClearApplicationUserDataListener",
    "android.app.admin.DevicePolicyResources" : "DevicePolicyResources",
    "android.app.admin.DevicePolicyResourcesManager" : "DevicePolicyResourcesManager",
    "android.app.admin.DnsEvent" : "DnsEvent",
    "android.app.admin.FactoryResetProtectionPolicy" : "FactoryResetProtectionPolicy",
    "android.app.admin.FactoryResetProtectionPolicy$Builder" : "FactoryResetProtectionPolicy.Builder",
    "android.app.admin.FreezePeriod" : "FreezePeriod",
    "android.app.admin.NetworkEvent" : "NetworkEvent",
    "android.app.admin.PreferentialNetworkServiceConfig" : "PreferentialNetworkServiceConfig",
    "android.app.admin.PreferentialNetworkServiceConfig$Builder" : "PreferentialNetworkServiceConfig.Builder",
    "android.app.admin.SecurityLog" : "SecurityLog",
    "android.app.admin.SecurityLog$SecurityEvent" : "SecurityLog.SecurityEvent",
    "android.app.admin.SystemUpdateInfo" : "SystemUpdateInfo",
    "android.app.admin.SystemUpdatePolicy" : "SystemUpdatePolicy",
    "android.app.admin.SystemUpdatePolicy$ValidationFailedException" : "SystemUpdatePolicy.ValidationFailedException",
    "android.app.admin.UnsafeStateException" : "UnsafeStateException",
    "android.app.admin.WifiSsidPolicy" : "WifiSsidPolicy",
    "android.app.appsearch.AppSearchBatchResult" : "AppSearchBatchResult",
    "android.app.appsearch.AppSearchBatchResult$Builder" : "AppSearchBatchResult.Builder",
    "android.app.appsearch.AppSearchManager" : "AppSearchManager",
    "android.app.appsearch.AppSearchManager$SearchContext" : "AppSearchManager.SearchContext",
    "android.app.appsearch.AppSearchManager$SearchContext$Builder" : "AppSearchManager.SearchContext.Builder",
    "android.app.appsearch.AppSearchResult" : "AppSearchResult",
    "android.app.appsearch.AppSearchSchema" : "AppSearchSchema",
    "android.app.appsearch.AppSearchSchema$BooleanPropertyConfig" : "AppSearchSchema.BooleanPropertyConfig",
    "android.app.appsearch.AppSearchSchema$BooleanPropertyConfig$Builder" : "AppSearchSchema.BooleanPropertyConfig.Builder",
    "android.app.appsearch.AppSearchSchema$Builder" : "AppSearchSchema.Builder",
    "android.app.appsearch.AppSearchSchema$BytesPropertyConfig" : "AppSearchSchema.BytesPropertyConfig",
    "android.app.appsearch.AppSearchSchema$BytesPropertyConfig$Builder" : "AppSearchSchema.BytesPropertyConfig.Builder",
    "android.app.appsearch.AppSearchSchema$DocumentPropertyConfig" : "AppSearchSchema.DocumentPropertyConfig",
    "android.app.appsearch.AppSearchSchema$DocumentPropertyConfig$Builder" : "AppSearchSchema.DocumentPropertyConfig.Builder",
    "android.app.appsearch.AppSearchSchema$DoublePropertyConfig" : "AppSearchSchema.DoublePropertyConfig",
    "android.app.appsearch.AppSearchSchema$DoublePropertyConfig$Builder" : "AppSearchSchema.DoublePropertyConfig.Builder",
    "android.app.appsearch.AppSearchSchema$LongPropertyConfig" : "AppSearchSchema.LongPropertyConfig",
    "android.app.appsearch.AppSearchSchema$LongPropertyConfig$Builder" : "AppSearchSchema.LongPropertyConfig.Builder",
    "android.app.appsearch.AppSearchSchema$PropertyConfig" : "AppSearchSchema.PropertyConfig",
    "android.app.appsearch.AppSearchSchema$StringPropertyConfig" : "AppSearchSchema.StringPropertyConfig",
    "android.app.appsearch.AppSearchSchema$StringPropertyConfig$Builder" : "AppSearchSchema.StringPropertyConfig.Builder",
    "android.app.appsearch.AppSearchSession" : "AppSearchSession",
    "android.app.appsearch.BatchResultCallback" : "BatchResultCallback",
    "android.app.appsearch.GetByDocumentIdRequest" : "GetByDocumentIdRequest",
    "android.app.appsearch.GetByDocumentIdRequest$Builder" : "GetByDocumentIdRequest.Builder",
    "android.app.appsearch.GetSchemaResponse" : "GetSchemaResponse",
    "android.app.appsearch.GetSchemaResponse$Builder" : "GetSchemaResponse.Builder",
    "android.app.appsearch.GlobalSearchSession" : "GlobalSearchSession",
    "android.app.appsearch.Migrator" : "Migrator",
    "android.app.appsearch.PackageIdentifier" : "PackageIdentifier",
    "android.app.appsearch.PutDocumentsRequest" : "PutDocumentsRequest",
    "android.app.appsearch.PutDocumentsRequest$Builder" : "PutDocumentsRequest.Builder",
    "android.app.appsearch.RemoveByDocumentIdRequest" : "RemoveByDocumentIdRequest",
    "android.app.appsearch.RemoveByDocumentIdRequest$Builder" : "RemoveByDocumentIdRequest.Builder",
    "android.app.appsearch.ReportSystemUsageRequest" : "ReportSystemUsageRequest",
    "android.app.appsearch.ReportSystemUsageRequest$Builder" : "ReportSystemUsageRequest.Builder",
    "android.app.appsearch.ReportUsageRequest" : "ReportUsageRequest",
    "android.app.appsearch.ReportUsageRequest$Builder" : "ReportUsageRequest.Builder",
    "android.app.appsearch.SearchResult" : "SearchResult",
    "android.app.appsearch.SearchResult$Builder" : "SearchResult.Builder",
    "android.app.appsearch.SearchResult$MatchInfo" : "SearchResult.MatchInfo",
    "android.app.appsearch.SearchResult$MatchInfo$Builder" : "SearchResult.MatchInfo.Builder",
    "android.app.appsearch.SearchResult$MatchRange" : "SearchResult.MatchRange",
    "android.app.appsearch.SearchResults" : "SearchResults",
    "android.app.appsearch.SearchSpec" : "SearchSpec",
    "android.app.appsearch.SearchSpec$Builder" : "SearchSpec.Builder",
    "android.app.appsearch.SetSchemaRequest" : "SetSchemaRequest",
    "android.app.appsearch.SetSchemaRequest$Builder" : "SetSchemaRequest.Builder",
    "android.app.appsearch.SetSchemaResponse" : "SetSchemaResponse",
    "android.app.appsearch.SetSchemaResponse$Builder" : "SetSchemaResponse.Builder",
    "android.app.appsearch.SetSchemaResponse$MigrationFailure" : "SetSchemaResponse.MigrationFailure",
    "android.app.appsearch.StorageInfo" : "StorageInfo",
    "android.app.appsearch.StorageInfo$Builder" : "StorageInfo.Builder",
    "android.app.appsearch.exceptions.AppSearchException" : "AppSearchException",
    "android.app.appsearch.observer.DocumentChangeInfo" : "DocumentChangeInfo",
    "android.app.appsearch.observer.ObserverCallback" : "ObserverCallback",
    "android.app.appsearch.observer.ObserverSpec" : "ObserverSpec",
    "android.app.appsearch.observer.ObserverSpec$Builder" : "ObserverSpec.Builder",
    "android.app.appsearch.observer.SchemaChangeInfo" : "SchemaChangeInfo",
    "android.app.assist.AssistContent" : "AssistContent",
    "android.app.assist.AssistStructure" : "AssistStructure",
    "android.app.assist.AssistStructure$ViewNode" : "AssistStructure.ViewNode",
    "android.app.assist.AssistStructure$WindowNode" : "AssistStructure.WindowNode",
    "android.app.backup.BackupAgent" : "BackupAgent",
    "android.app.backup.BackupAgentHelper" : "BackupAgentHelper",
    "android.app.backup.BackupDataInput" : "BackupDataInput",
    "android.app.backup.BackupDataInputStream" : "BackupDataInputStream",
    "android.app.backup.BackupDataOutput" : "BackupDataOutput",
    "android.app.backup.BackupHelper" : "BackupHelper",
    "android.app.backup.BackupManager" : "BackupManager",
    "android.app.backup.FileBackupHelper" : "FileBackupHelper",
    "android.app.backup.FullBackupDataOutput" : "FullBackupDataOutput",
    "android.app.backup.RestoreObserver" : "RestoreObserver",
    "android.app.backup.SharedPreferencesBackupHelper" : "SharedPreferencesBackupHelper",
    "android.app.blob.BlobHandle" : "BlobHandle",
    "android.app.blob.BlobStoreManager" : "BlobStoreManager",
    "android.app.blob.BlobStoreManager$Session" : "BlobStoreManager.Session",
    "android.app.job.JobInfo" : "JobInfo",
    "android.app.job.JobInfo$Builder" : "JobInfo.Builder",
    "android.app.job.JobInfo$TriggerContentUri" : "JobInfo.TriggerContentUri",
    "android.app.job.JobParameters" : "JobParameters",
    "android.app.job.JobScheduler" : "JobScheduler",
    "android.app.job.JobService" : "JobService",
    "android.app.job.JobServiceEngine" : "JobServiceEngine",
    "android.app.job.JobWorkItem" : "JobWorkItem",
    "android.app.people.ConversationStatus" : "ConversationStatus",
    "android.app.people.ConversationStatus$Builder" : "ConversationStatus.Builder",
    "android.app.people.PeopleManager" : "PeopleManager",
    "android.app.role.RoleManager" : "RoleManager",
    "android.app.sdksandbox.SdkSandboxManager" : "SdkSandboxManager",
    "android.app.slice.Slice" : "Slice",
    "android.app.slice.Slice$Builder" : "Slice.Builder",
    "android.app.slice.SliceItem" : "SliceItem",
    "android.app.slice.SliceManager" : "SliceManager",
    "android.app.slice.SliceMetrics" : "SliceMetrics",
    "android.app.slice.SliceProvider" : "SliceProvider",
    "android.app.slice.SliceSpec" : "SliceSpec",
    "android.app.usage.ConfigurationStats" : "ConfigurationStats",
    "android.app.usage.EventStats" : "EventStats",
    "android.app.usage.ExternalStorageStats" : "ExternalStorageStats",
    "android.app.usage.NetworkStats" : "NetworkStats",
    "android.app.usage.NetworkStats$Bucket" : "NetworkStats.Bucket",
    "android.app.usage.NetworkStatsManager" : "NetworkStatsManager",
    "android.app.usage.NetworkStatsManager$UsageCallback" : "NetworkStatsManager.UsageCallback",
    "android.app.usage.StorageStats" : "StorageStats",
    "android.app.usage.StorageStatsManager" : "StorageStatsManager",
    "android.app.usage.UsageEvents" : "UsageEvents",
    "android.app.usage.UsageEvents$Event" : "UsageEvents.Event",
    "android.app.usage.UsageStats" : "UsageStats",
    "android.app.usage.UsageStatsManager" : "UsageStatsManager",
  },
  "classpath" : "android.jar"
}
