{
  "classes" : {
    "java.lang.Enum" : "Enum",
    "java.lang.EnumConstantNotPresentException" : "EnumConstantNotPresentException",
    "java.lang.annotation.Annotation" : "Annotation",
    "java.lang.annotation.AnnotationFormatError" : "AnnotationFormatError",
    "java.lang.annotation.AnnotationTypeMismatchException" : "AnnotationTypeMismatchException",
    "java.lang.annotation.Documented" : "Documented",
    "java.lang.annotation.ElementType" : "ElementType",
    "java.lang.annotation.IncompleteAnnotationException" : "IncompleteAnnotationException",
    "java.lang.annotation.Inherited" : "Inherited",
    "java.lang.annotation.Native" : "Native",
    "java.lang.annotation.Repeatable" : "Repeatable",
    "java.lang.annotation.Retention" : "Retention",
    "java.lang.annotation.RetentionPolicy" : "RetentionPolicy",
    "java.lang.annotation.Target" : "Target",
    "java.lang.Cloneable" : "Cloneable",
    "java.lang.Comparable" : "Comparable",
    "java.lang.constant.ClassDesc" : "ClassDesc",
    "java.lang.constant.DynamicConstantDesc" : "DynamicConstantDesc",
    "java.lang.Runnable" : "Runnable",
    "java.lang.Thread" : "Thread",
    "java.util.concurrent.Executor" : "Executor",
    "java.util.Map" : "Map",
    "java.util.Comparator" : "Comparator",
    "java.net.InetAddress" : "InetAddress",
    "java.io.PrintWriter" : "PrintWriter",
    "java.io.PrintStream" : "PrintStream",
    "java.io.FilterOutputStream" : "FilterOutputStream",
    "java.io.IOException" : "IOException",
    "java.time.Clock" : "Clock",
    "java.time.Duration" : "Duration",
    "java.nio.ByteBuffer" : "ByteBuffer"
  },
  "classpath" : "android.jar"
}
