{
  "classes" : {
    "java.nio.Buffer" : "Buffer",
    "java.nio.BufferOverflowException" : "BufferOverflowException",
    "java.nio.BufferUnderflowException" : "BufferUnderflowException",
    "java.nio.ByteBuffer" : "ByteBuffer",
    "java.nio.ByteOrder" : "ByteOrder",
    "java.nio.CharBuffer" : "CharBuffer",
    "java.nio.DoubleBuffer" : "DoubleBuffer",
    "java.nio.FloatBuffer" : "FloatBuffer",
    "java.nio.IntBuffer" : "IntBuffer",
    "java.nio.InvalidMarkException" : "InvalidMarkException",
    "java.nio.LongBuffer" : "LongBuffer",
    "java.nio.MappedByteBuffer" : "MappedByteBuffer",
    "java.nio.ReadOnlyBufferException" : "ReadOnlyBufferException",
    "java.nio.ShortBuffer" : "ShortBuffer",
    "java.nio.channels.AcceptPendingException" : "AcceptPendingException",
    "java.nio.channels.AlreadyBoundException" : "AlreadyBoundException",
    "java.nio.channels.AlreadyConnectedException" : "AlreadyConnectedException",
    "java.nio.channels.AsynchronousByteChannel" : "AsynchronousByteChannel",
    "java.nio.channels.AsynchronousChannel" : "AsynchronousChannel",
    "java.nio.channels.AsynchronousChannelGroup" : "AsynchronousChannelGroup",
    "java.nio.channels.AsynchronousCloseException" : "AsynchronousCloseException",
    "java.nio.channels.AsynchronousFileChannel" : "AsynchronousFileChannel",
    "java.nio.channels.AsynchronousServerSocketChannel" : "AsynchronousServerSocketChannel",
    "java.nio.channels.AsynchronousSocketChannel" : "AsynchronousSocketChannel",
    "java.nio.channels.ByteChannel" : "ByteChannel",
    "java.nio.channels.CancelledKeyException" : "CancelledKeyException",
    "java.nio.channels.Channel" : "Channel",
    "java.nio.channels.Channels" : "Channels",
    "java.nio.channels.ClosedByInterruptException" : "ClosedByInterruptException",
    "java.nio.channels.ClosedChannelException" : "ClosedChannelException",
    "java.nio.channels.ClosedSelectorException" : "ClosedSelectorException",
    "java.nio.channels.CompletionHandler" : "CompletionHandler",
    "java.nio.channels.ConnectionPendingException" : "ConnectionPendingException",
    "java.nio.channels.DatagramChannel" : "DatagramChannel",
    "java.nio.channels.FileChannel" : "FileChannel",
    "java.nio.channels.FileChannel$MapMode" : "FileChannel.MapMode",
    "java.nio.channels.FileLock" : "FileLock",
    "java.nio.channels.FileLockInterruptionException" : "FileLockInterruptionException",
    "java.nio.channels.GatheringByteChannel" : "GatheringByteChannel",
    "java.nio.channels.IllegalBlockingModeException" : "IllegalBlockingModeException",
    "java.nio.channels.IllegalChannelGroupException" : "IllegalChannelGroupException",
    "java.nio.channels.IllegalSelectorException" : "IllegalSelectorException",
    "java.nio.channels.InterruptedByTimeoutException" : "InterruptedByTimeoutException",
    "java.nio.channels.InterruptibleChannel" : "InterruptibleChannel",
    "java.nio.channels.MembershipKey" : "MembershipKey",
    "java.nio.channels.MulticastChannel" : "MulticastChannel",
    "java.nio.channels.NetworkChannel" : "NetworkChannel",
    "java.nio.channels.NoConnectionPendingException" : "NoConnectionPendingException",
    "java.nio.channels.NonReadableChannelException" : "NonReadableChannelException",
    "java.nio.channels.NonWritableChannelException" : "NonWritableChannelException",
    "java.nio.channels.NotYetBoundException" : "NotYetBoundException",
    "java.nio.channels.NotYetConnectedException" : "NotYetConnectedException",
    "java.nio.channels.OverlappingFileLockException" : "OverlappingFileLockException",
    "java.nio.channels.Pipe" : "Pipe",
    "java.nio.channels.Pipe$SinkChannel" : "Pipe.SinkChannel",
    "java.nio.channels.Pipe$SourceChannel" : "Pipe.SourceChannel",
    "java.nio.channels.ReadPendingException" : "ReadPendingException",
    "java.nio.channels.ReadableByteChannel" : "ReadableByteChannel",
    "java.nio.channels.ScatteringByteChannel" : "ScatteringByteChannel",
    "java.nio.channels.SeekableByteChannel" : "SeekableByteChannel",
    "java.nio.channels.SelectableChannel" : "SelectableChannel",
    "java.nio.channels.SelectionKey" : "SelectionKey",
    "java.nio.channels.Selector" : "Selector",
    "java.nio.channels.ServerSocketChannel" : "ServerSocketChannel",
    "java.nio.channels.ShutdownChannelGroupException" : "ShutdownChannelGroupException",
    "java.nio.channels.SocketChannel" : "SocketChannel",
    "java.nio.channels.UnresolvedAddressException" : "UnresolvedAddressException",
    "java.nio.channels.UnsupportedAddressTypeException" : "UnsupportedAddressTypeException",
    "java.nio.channels.WritableByteChannel" : "WritableByteChannel",
    "java.nio.channels.WritePendingException" : "WritePendingException",
    "java.nio.channels.spi.AbstractInterruptibleChannel" : "AbstractInterruptibleChannel",
    "java.nio.channels.spi.AbstractSelectableChannel" : "AbstractSelectableChannel",
    "java.nio.channels.spi.AbstractSelectionKey" : "AbstractSelectionKey",
    "java.nio.channels.spi.AbstractSelector" : "AbstractSelector",
    "java.nio.channels.spi.AsynchronousChannelProvider" : "AsynchronousChannelProvider",
    "java.nio.channels.spi.SelectorProvider" : "SelectorProvider",
    "java.nio.charset.CharacterCodingException" : "CharacterCodingException",
    "java.nio.charset.Charset" : "Charset",
    "java.nio.charset.CharsetDecoder" : "CharsetDecoder",
    "java.nio.charset.CharsetEncoder" : "CharsetEncoder",
    "java.nio.charset.CoderMalfunctionError" : "CoderMalfunctionError",
    "java.nio.charset.CoderResult" : "CoderResult",
    "java.nio.charset.CodingErrorAction" : "CodingErrorAction",
    "java.nio.charset.IllegalCharsetNameException" : "IllegalCharsetNameException",
    "java.nio.charset.MalformedInputException" : "MalformedInputException",
    "java.nio.charset.StandardCharsets" : "StandardCharsets",
    "java.nio.charset.UnmappableCharacterException" : "UnmappableCharacterException",
    "java.nio.charset.UnsupportedCharsetException" : "UnsupportedCharsetException",
    "java.nio.charset.spi.CharsetProvider" : "CharsetProvider",
    "java.nio.file.AccessDeniedException" : "AccessDeniedException",
    "java.nio.file.AccessMode" : "AccessMode",
    "java.nio.file.AtomicMoveNotSupportedException" : "AtomicMoveNotSupportedException",
    "java.nio.file.ClosedDirectoryStreamException" : "ClosedDirectoryStreamException",
    "java.nio.file.ClosedFileSystemException" : "ClosedFileSystemException",
    "java.nio.file.ClosedWatchServiceException" : "ClosedWatchServiceException",
    "java.nio.file.CopyOption" : "CopyOption",
    "java.nio.file.DirectoryIteratorException" : "DirectoryIteratorException",
    "java.nio.file.DirectoryNotEmptyException" : "DirectoryNotEmptyException",
    "java.nio.file.DirectoryStream" : "DirectoryStream",
    "java.nio.file.DirectoryStream$Filter" : "DirectoryStream.Filter",
    "java.nio.file.FileAlreadyExistsException" : "FileAlreadyExistsException",
    "java.nio.file.FileStore" : "FileStore",
    "java.nio.file.FileSystem" : "FileSystem",
    "java.nio.file.FileSystemAlreadyExistsException" : "FileSystemAlreadyExistsException",
    "java.nio.file.FileSystemException" : "FileSystemException",
    "java.nio.file.FileSystemLoopException" : "FileSystemLoopException",
    "java.nio.file.FileSystemNotFoundException" : "FileSystemNotFoundException",
    "java.nio.file.FileSystems" : "FileSystems",
    "java.nio.file.FileVisitOption" : "FileVisitOption",
    "java.nio.file.FileVisitResult" : "FileVisitResult",
    "java.nio.file.FileVisitor" : "FileVisitor",
    "java.nio.file.Files" : "Files",
    "java.nio.file.InvalidPathException" : "InvalidPathException",
    "java.nio.file.LinkOption" : "LinkOption",
    "java.nio.file.LinkPermission" : "LinkPermission",
    "java.nio.file.NoSuchFileException" : "NoSuchFileException",
    "java.nio.file.NotDirectoryException" : "NotDirectoryException",
    "java.nio.file.NotLinkException" : "NotLinkException",
    "java.nio.file.OpenOption" : "OpenOption",
    "java.nio.file.Path" : "Path",
    "java.nio.file.PathMatcher" : "PathMatcher",
    "java.nio.file.Paths" : "Paths",
    "java.nio.file.ProviderMismatchException" : "ProviderMismatchException",
    "java.nio.file.ProviderNotFoundException" : "ProviderNotFoundException",
    "java.nio.file.ReadOnlyFileSystemException" : "ReadOnlyFileSystemException",
    "java.nio.file.SecureDirectoryStream" : "SecureDirectoryStream",
    "java.nio.file.SimpleFileVisitor" : "SimpleFileVisitor",
    "java.nio.file.StandardCopyOption" : "StandardCopyOption",
    "java.nio.file.StandardOpenOption" : "StandardOpenOption",
    "java.nio.file.StandardWatchEventKinds" : "StandardWatchEventKinds",
    "java.nio.file.WatchEvent" : "WatchEvent",
    "java.nio.file.WatchEvent$Kind" : "WatchEvent.Kind",
    "java.nio.file.WatchEvent$Modifier" : "WatchEvent.Modifier",
    "java.nio.file.WatchKey" : "WatchKey",
    "java.nio.file.WatchService" : "WatchService",
    "java.nio.file.Watchable" : "Watchable",
    "java.nio.file.attribute.AclEntry" : "AclEntry",
    "java.nio.file.attribute.AclEntry$Builder" : "AclEntry.Builder",
    "java.nio.file.attribute.AclEntryFlag" : "AclEntryFlag",
    "java.nio.file.attribute.AclEntryPermission" : "AclEntryPermission",
    "java.nio.file.attribute.AclEntryType" : "AclEntryType",
    "java.nio.file.attribute.AclFileAttributeView" : "AclFileAttributeView",
    "java.nio.file.attribute.AttributeView" : "AttributeView",
    "java.nio.file.attribute.BasicFileAttributeView" : "BasicFileAttributeView",
    "java.nio.file.attribute.BasicFileAttributes" : "BasicFileAttributes",
    "java.nio.file.attribute.DosFileAttributeView" : "DosFileAttributeView",
    "java.nio.file.attribute.DosFileAttributes" : "DosFileAttributes",
    "java.nio.file.attribute.FileAttribute" : "FileAttribute",
    "java.nio.file.attribute.FileAttributeView" : "FileAttributeView",
    "java.nio.file.attribute.FileOwnerAttributeView" : "FileOwnerAttributeView",
    "java.nio.file.attribute.FileStoreAttributeView" : "FileStoreAttributeView",
    "java.nio.file.attribute.FileTime" : "FileTime",
    "java.nio.file.attribute.GroupPrincipal" : "GroupPrincipal",
    "java.nio.file.attribute.PosixFileAttributeView" : "PosixFileAttributeView",
    "java.nio.file.attribute.PosixFileAttributes" : "PosixFileAttributes",
    "java.nio.file.attribute.PosixFilePermission" : "PosixFilePermission",
    "java.nio.file.attribute.PosixFilePermissions" : "PosixFilePermissions",
    "java.nio.file.attribute.UserDefinedFileAttributeView" : "UserDefinedFileAttributeView",
    "java.nio.file.attribute.UserPrincipal" : "UserPrincipal",
    "java.nio.file.attribute.UserPrincipalLookupService" : "UserPrincipalLookupService",
    "java.nio.file.attribute.UserPrincipalNotFoundException" : "UserPrincipalNotFoundException",
    "java.nio.file.spi.FileSystemProvider" : "FileSystemProvider",
    "java.nio.file.spi.FileTypeDetector" : "FileTypeDetector"
  },
  "classpath" : "android.jar"
}
