{
  "classes" : {
    "java.time.Clock" : "Clock",
    "java.time.DateTimeException" : "DateTimeException",
    "java.time.DayOfWeek" : "DayOfWeek",
    "java.time.Duration" : "Duration",
    "java.time.Instant" : "Instant",
    "java.time.LocalDate" : "LocalDate",
    "java.time.LocalDateTime" : "LocalDateTime",
    "java.time.LocalTime" : "LocalTime",
    "java.time.Month" : "Month",
    "java.time.MonthDay" : "MonthDay",
    "java.time.OffsetDateTime" : "OffsetDateTime",
    "java.time.OffsetTime" : "OffsetTime",
    "java.time.Period" : "Period",
    "java.time.Year" : "Year",
    "java.time.YearMonth" : "YearMonth",
    "java.time.ZoneId" : "ZoneId",
    "java.time.ZoneOffset" : "ZoneOffset",
    "java.time.ZonedDateTime" : "ZonedDateTime",
    "java.time.chrono.AbstractChronology" : "AbstractChronology",
    "java.time.chrono.ChronoLocalDate" : "ChronoLocalDate",
    "java.time.chrono.ChronoLocalDateTime" : "ChronoLocalDateTime",
    "java.time.chrono.ChronoPeriod" : "ChronoPeriod",
    "java.time.chrono.ChronoZonedDateTime" : "ChronoZonedDateTime",
    "java.time.chrono.Chronology" : "Chronology",
    "java.time.chrono.Era" : "Era",
    "java.time.chrono.HijrahChronology" : "HijrahChronology",
    "java.time.chrono.HijrahDate" : "HijrahDate",
    "java.time.chrono.HijrahEra" : "HijrahEra",
    "java.time.chrono.IsoChronology" : "IsoChronology",
    "java.time.chrono.IsoEra" : "IsoEra",
    "java.time.chrono.JapaneseChronology" : "JapaneseChronology",
    "java.time.chrono.JapaneseDate" : "JapaneseDate",
    "java.time.chrono.JapaneseEra" : "JapaneseEra",
    "java.time.chrono.MinguoChronology" : "MinguoChronology",
    "java.time.chrono.MinguoDate" : "MinguoDate",
    "java.time.chrono.MinguoEra" : "MinguoEra",
    "java.time.chrono.ThaiBuddhistChronology" : "ThaiBuddhistChronology",
    "java.time.chrono.ThaiBuddhistDate" : "ThaiBuddhistDate",
    "java.time.chrono.ThaiBuddhistEra" : "ThaiBuddhistEra",
    "java.time.format.DateTimeFormatter" : "DateTimeFormatter",
    "java.time.format.DateTimeFormatterBuilder" : "DateTimeFormatterBuilder",
    "java.time.format.DateTimeParseException" : "DateTimeParseException",
    "java.time.format.DecimalStyle" : "DecimalStyle",
    "java.time.format.FormatStyle" : "FormatStyle",
    "java.time.format.ResolverStyle" : "ResolverStyle",
    "java.time.format.SignStyle" : "SignStyle",
    "java.time.format.TextStyle" : "TextStyle",
    "java.time.temporal.ChronoField" : "ChronoField",
    "java.time.temporal.ChronoUnit" : "ChronoUnit",
    "java.time.temporal.IsoFields" : "IsoFields",
    "java.time.temporal.JulianFields" : "JulianFields",
    "java.time.temporal.Temporal" : "Temporal",
    "java.time.temporal.TemporalAccessor" : "TemporalAccessor",
    "java.time.temporal.TemporalAdjuster" : "TemporalAdjuster",
    "java.time.temporal.TemporalAdjusters" : "TemporalAdjusters",
    "java.time.temporal.TemporalAmount" : "TemporalAmount",
    "java.time.temporal.TemporalField" : "TemporalField",
    "java.time.temporal.TemporalQueries" : "TemporalQueries",
    "java.time.temporal.TemporalQuery" : "TemporalQuery",
    "java.time.temporal.TemporalUnit" : "TemporalUnit",
    "java.time.temporal.UnsupportedTemporalTypeException" : "UnsupportedTemporalTypeException",
    "java.time.temporal.ValueRange" : "ValueRange",
    "java.time.temporal.WeekFields" : "WeekFields",
    "java.time.zone.ZoneOffsetTransition" : "ZoneOffsetTransition",
    "java.time.zone.ZoneOffsetTransitionRule" : "ZoneOffsetTransitionRule",
    "java.time.zone.ZoneOffsetTransitionRule$TimeDefinition" : "ZoneOffsetTransitionRule.TimeDefinition",
    "java.time.zone.ZoneRules" : "ZoneRules",
    "java.time.zone.ZoneRulesException" : "ZoneRulesException"
  },
  "classpath" : "android.jar"
}
