{
  "classes" : {
    "java.beans.IndexedPropertyChangeEvent" : "IndexedPropertyChangeEvent",
    "java.beans.PropertyChangeEvent" : "PropertyChangeEvent",
    "java.beans.PropertyChangeListener" : "PropertyChangeListener",
    "java.beans.PropertyChangeListenerProxy" : "PropertyChangeListenerProxy",
    "java.beans.PropertyChangeSupport" : "PropertyChangeSupport",
  },
  "classpath" : "android.jar"
}
