{
  "classes" : {
    "android.net.CaptivePortal" : "CaptivePortal",
    "android.net.ConnectivityDiagnosticsManager" : "ConnectivityDiagnosticsManager",
    "android.net.ConnectivityDiagnosticsManager$ConnectivityDiagnosticsCallback" : "ConnectivityDiagnosticsManager.ConnectivityDiagnosticsCallback",
    "android.net.ConnectivityDiagnosticsManager$ConnectivityReport" : "ConnectivityDiagnosticsManager.ConnectivityReport",
    "android.net.ConnectivityDiagnosticsManager$DataStallReport" : "ConnectivityDiagnosticsManager.DataStallReport",
    "android.net.ConnectivityManager" : "ConnectivityManager",
    "android.net.ConnectivityManager$NetworkCallback" : "ConnectivityManager.NetworkCallback",
    "android.net.ConnectivityManager$OnNetworkActiveListener" : "ConnectivityManager.OnNetworkActiveListener",
    "android.net.Credentials" : "Credentials",
    "android.net.DhcpInfo" : "DhcpInfo",
    "android.net.DnsResolver" : "DnsResolver",
    "android.net.DnsResolver$Callback" : "DnsResolver.Callback",
    "android.net.DnsResolver$DnsException" : "DnsResolver.DnsException",
    "android.net.EthernetNetworkSpecifier" : "EthernetNetworkSpecifier",
    "android.net.Ikev2VpnProfile" : "Ikev2VpnProfile",
    "android.net.Ikev2VpnProfile$Builder" : "Ikev2VpnProfile.Builder",
    "android.net.InetAddresses" : "InetAddresses",
    "android.net.IpConfiguration" : "IpConfiguration",
    "android.net.IpConfiguration$Builder" : "IpConfiguration.Builder",
    "android.net.IpPrefix" : "IpPrefix",
    "android.net.IpSecAlgorithm" : "IpSecAlgorithm",
    "android.net.IpSecManager" : "IpSecManager",
    "android.net.IpSecManager$ResourceUnavailableException" : "IpSecManager.ResourceUnavailableException",
    "android.net.IpSecManager$SecurityParameterIndex" : "IpSecManager.SecurityParameterIndex",
    "android.net.IpSecManager$SpiUnavailableException" : "IpSecManager.SpiUnavailableException",
    "android.net.IpSecManager$UdpEncapsulationSocket" : "IpSecManager.UdpEncapsulationSocket",
    "android.net.IpSecTransform" : "IpSecTransform",
    "android.net.IpSecTransform$Builder" : "IpSecTransform.Builder",
    "android.net.LinkAddress" : "LinkAddress",
    "android.net.LinkProperties" : "LinkProperties",
    "android.net.LocalServerSocket" : "LocalServerSocket",
    "android.net.LocalSocket" : "LocalSocket",
    "android.net.LocalSocketAddress" : "LocalSocketAddress",
    "android.net.LocalSocketAddress$Namespace" : "LocalSocketAddress.Namespace",
    "android.net.MacAddress" : "MacAddress",
    "android.net.MailTo" : "MailTo",
    "android.net.Network" : "Network",
    "android.net.NetworkCapabilities" : "NetworkCapabilities",
    "android.net.NetworkInfo" : "NetworkInfo",
    "android.net.NetworkInfo$DetailedState" : "NetworkInfo.DetailedState",
    "android.net.NetworkInfo$State" : "NetworkInfo.State",
    "android.net.NetworkRequest" : "NetworkRequest",
    "android.net.NetworkRequest$Builder" : "NetworkRequest.Builder",
    "android.net.NetworkSpecifier" : "NetworkSpecifier",
    "android.net.ParseException" : "ParseException",
    "android.net.PlatformVpnProfile" : "PlatformVpnProfile",
    "android.net.Proxy" : "Proxy",
    "android.net.ProxyInfo" : "ProxyInfo",
    "android.net.RouteInfo" : "RouteInfo",
    "android.net.SSLCertificateSocketFactory" : "SSLCertificateSocketFactory",
    "android.net.SSLSessionCache" : "SSLSessionCache",
    "android.net.SocketKeepalive" : "SocketKeepalive",
    "android.net.SocketKeepalive$Callback" : "SocketKeepalive.Callback",
    "android.net.StaticIpConfiguration" : "StaticIpConfiguration",
    "android.net.StaticIpConfiguration$Builder" : "StaticIpConfiguration.Builder",
    "android.net.TelephonyNetworkSpecifier" : "TelephonyNetworkSpecifier",
    "android.net.TelephonyNetworkSpecifier$Builder" : "TelephonyNetworkSpecifier.Builder",
    "android.net.TrafficStats" : "TrafficStats",
    "android.net.TransportInfo" : "TransportInfo",
    "android.net.Uri" : "Uri",
    "android.net.Uri$Builder" : "Uri.Builder",
    "android.net.UrlQuerySanitizer" : "UrlQuerySanitizer",
    "android.net.UrlQuerySanitizer$IllegalCharacterValueSanitizer" : "UrlQuerySanitizer.IllegalCharacterValueSanitizer",
    "android.net.UrlQuerySanitizer$ParameterValuePair" : "UrlQuerySanitizer.ParameterValuePair",
    "android.net.UrlQuerySanitizer$ValueSanitizer" : "UrlQuerySanitizer.ValueSanitizer",
    "android.net.VpnManager" : "VpnManager",
    "android.net.VpnProfileState" : "VpnProfileState",
    "android.net.VpnService" : "VpnService",
    "android.net.VpnService$Builder" : "VpnService.Builder",
    "android.net.eap.EapAkaInfo" : "EapAkaInfo",
    "android.net.eap.EapAkaInfo$Builder" : "EapAkaInfo.Builder",
    "android.net.eap.EapInfo" : "EapInfo",
    "android.net.eap.EapSessionConfig" : "EapSessionConfig",
    "android.net.eap.EapSessionConfig$Builder" : "EapSessionConfig.Builder",
    "android.net.eap.EapSessionConfig$EapAkaConfig" : "EapSessionConfig.EapAkaConfig",
    "android.net.eap.EapSessionConfig$EapAkaOption" : "EapSessionConfig.EapAkaOption",
    "android.net.eap.EapSessionConfig$EapAkaOption$Builder" : "EapSessionConfig.EapAkaOption.Builder",
    "android.net.eap.EapSessionConfig$EapAkaPrimeConfig" : "EapSessionConfig.EapAkaPrimeConfig",
    "android.net.eap.EapSessionConfig$EapMethodConfig" : "EapSessionConfig.EapMethodConfig",
    "android.net.eap.EapSessionConfig$EapMsChapV2Config" : "EapSessionConfig.EapMsChapV2Config",
    "android.net.eap.EapSessionConfig$EapSimConfig" : "EapSessionConfig.EapSimConfig",
    "android.net.eap.EapSessionConfig$EapTtlsConfig" : "EapSessionConfig.EapTtlsConfig",
    "android.net.http.HttpResponseCache" : "HttpResponseCache",
    "android.net.http.SslCertificate" : "SslCertificate",
    "android.net.http.SslCertificate$DName" : "SslCertificate.DName",
    "android.net.http.SslError" : "SslError",
    "android.net.http.X509TrustManagerExtensions" : "X509TrustManagerExtensions",
    "android.net.ipsec.ike.ChildSaProposal" : "ChildSaProposal",
    "android.net.ipsec.ike.ChildSaProposal$Builder" : "ChildSaProposal.Builder",
    "android.net.ipsec.ike.ChildSessionCallback" : "ChildSessionCallback",
    "android.net.ipsec.ike.ChildSessionConfiguration" : "ChildSessionConfiguration",
    "android.net.ipsec.ike.ChildSessionConfiguration$Builder" : "ChildSessionConfiguration.Builder",
    "android.net.ipsec.ike.ChildSessionParams" : "ChildSessionParams",
    "android.net.ipsec.ike.IkeDerAsn1DnIdentification" : "IkeDerAsn1DnIdentification",
    "android.net.ipsec.ike.IkeFqdnIdentification" : "IkeFqdnIdentification",
    "android.net.ipsec.ike.IkeIdentification" : "IkeIdentification",
    "android.net.ipsec.ike.IkeIpv4AddrIdentification" : "IkeIpv4AddrIdentification",
    "android.net.ipsec.ike.IkeIpv6AddrIdentification" : "IkeIpv6AddrIdentification",
    "android.net.ipsec.ike.IkeKeyIdIdentification" : "IkeKeyIdIdentification",
    "android.net.ipsec.ike.IkeRfc822AddrIdentification" : "IkeRfc822AddrIdentification",
    "android.net.ipsec.ike.IkeSaProposal" : "IkeSaProposal",
    "android.net.ipsec.ike.IkeSaProposal$Builder" : "IkeSaProposal.Builder",
    "android.net.ipsec.ike.IkeSession" : "IkeSession",
    "android.net.ipsec.ike.IkeSessionCallback" : "IkeSessionCallback",
    "android.net.ipsec.ike.IkeSessionConfiguration" : "IkeSessionConfiguration",
    "android.net.ipsec.ike.IkeSessionConfiguration$Builder" : "IkeSessionConfiguration.Builder",
    "android.net.ipsec.ike.IkeSessionConnectionInfo" : "IkeSessionConnectionInfo",
    "android.net.ipsec.ike.IkeSessionParams" : "IkeSessionParams",
    "android.net.ipsec.ike.IkeSessionParams$Builder" : "IkeSessionParams.Builder",
    "android.net.ipsec.ike.IkeSessionParams$IkeAuthConfig" : "IkeSessionParams.IkeAuthConfig",
    "android.net.ipsec.ike.IkeSessionParams$IkeAuthDigitalSignLocalConfig" : "IkeSessionParams.IkeAuthDigitalSignLocalConfig",
    "android.net.ipsec.ike.IkeSessionParams$IkeAuthDigitalSignRemoteConfig" : "IkeSessionParams.IkeAuthDigitalSignRemoteConfig",
    "android.net.ipsec.ike.IkeSessionParams$IkeAuthEapConfig" : "IkeSessionParams.IkeAuthEapConfig",
    "android.net.ipsec.ike.IkeSessionParams$IkeAuthPskConfig" : "IkeSessionParams.IkeAuthPskConfig",
    "android.net.ipsec.ike.IkeTrafficSelector" : "IkeTrafficSelector",
    "android.net.ipsec.ike.IkeTunnelConnectionParams" : "IkeTunnelConnectionParams",
    "android.net.ipsec.ike.SaProposal" : "SaProposal",
    "android.net.ipsec.ike.TransportModeChildSessionParams" : "TransportModeChildSessionParams",
    "android.net.ipsec.ike.TransportModeChildSessionParams$Builder" : "TransportModeChildSessionParams.Builder",
    "android.net.ipsec.ike.TunnelModeChildSessionParams" : "TunnelModeChildSessionParams",
    "android.net.ipsec.ike.TunnelModeChildSessionParams$Builder" : "TunnelModeChildSessionParams.Builder",
    "android.net.ipsec.ike.TunnelModeChildSessionParams$ConfigRequestIpv4Address" : "TunnelModeChildSessionParams.ConfigRequestIpv4Address",
    "android.net.ipsec.ike.TunnelModeChildSessionParams$ConfigRequestIpv4DhcpServer" : "TunnelModeChildSessionParams.ConfigRequestIpv4DhcpServer",
    "android.net.ipsec.ike.TunnelModeChildSessionParams$ConfigRequestIpv4DnsServer" : "TunnelModeChildSessionParams.ConfigRequestIpv4DnsServer",
    "android.net.ipsec.ike.TunnelModeChildSessionParams$ConfigRequestIpv4Netmask" : "TunnelModeChildSessionParams.ConfigRequestIpv4Netmask",
    "android.net.ipsec.ike.TunnelModeChildSessionParams$ConfigRequestIpv6Address" : "TunnelModeChildSessionParams.ConfigRequestIpv6Address",
    "android.net.ipsec.ike.TunnelModeChildSessionParams$ConfigRequestIpv6DnsServer" : "TunnelModeChildSessionParams.ConfigRequestIpv6DnsServer",
    "android.net.ipsec.ike.TunnelModeChildSessionParams$TunnelModeChildConfigRequest" : "TunnelModeChildSessionParams.TunnelModeChildConfigRequest",
    "android.net.ipsec.ike.exceptions.IkeException" : "IkeException",
    "android.net.ipsec.ike.exceptions.IkeIOException" : "IkeIOException",
    "android.net.ipsec.ike.exceptions.IkeInternalException" : "IkeInternalException",
    "android.net.ipsec.ike.exceptions.IkeNetworkLostException" : "IkeNetworkLostException",
    "android.net.ipsec.ike.exceptions.IkeNonProtocolException" : "IkeNonProtocolException",
    "android.net.ipsec.ike.exceptions.IkeProtocolException" : "IkeProtocolException",
    "android.net.ipsec.ike.exceptions.IkeTimeoutException" : "IkeTimeoutException",
    "android.net.ipsec.ike.exceptions.InvalidKeException" : "InvalidKeException",
    "android.net.ipsec.ike.exceptions.InvalidMajorVersionException" : "InvalidMajorVersionException",
    "android.net.ipsec.ike.exceptions.InvalidSelectorsException" : "InvalidSelectorsException",
    "android.net.nsd.NsdManager" : "NsdManager",
    "android.net.nsd.NsdManager$DiscoveryListener" : "NsdManager.DiscoveryListener",
    "android.net.nsd.NsdManager$RegistrationListener" : "NsdManager.RegistrationListener",
    "android.net.nsd.NsdManager$ResolveListener" : "NsdManager.ResolveListener",
    "android.net.nsd.NsdServiceInfo" : "NsdServiceInfo",
    "android.net.rtp.AudioCodec" : "AudioCodec",
    "android.net.rtp.AudioGroup" : "AudioGroup",
    "android.net.rtp.AudioStream" : "AudioStream",
    "android.net.rtp.RtpStream" : "RtpStream",
    "android.net.sip.SipAudioCall" : "SipAudioCall",
    "android.net.sip.SipAudioCall$Listener" : "SipAudioCall.Listener",
    "android.net.sip.SipErrorCode" : "SipErrorCode",
    "android.net.sip.SipException" : "SipException",
    "android.net.sip.SipManager" : "SipManager",
    "android.net.sip.SipProfile" : "SipProfile",
    "android.net.sip.SipProfile$Builder" : "SipProfile.Builder",
    "android.net.sip.SipRegistrationListener" : "SipRegistrationListener",
    "android.net.sip.SipSession" : "SipSession",
    "android.net.sip.SipSession$Listener" : "SipSession.Listener",
    "android.net.sip.SipSession$State" : "SipSession.State",
    "android.net.ssl.SSLEngines" : "SSLEngines",
    "android.net.ssl.SSLSockets" : "SSLSockets",
    "android.net.vcn.VcnCellUnderlyingNetworkTemplate" : "VcnCellUnderlyingNetworkTemplate",
    "android.net.vcn.VcnCellUnderlyingNetworkTemplate$Builder" : "VcnCellUnderlyingNetworkTemplate.Builder",
    "android.net.vcn.VcnConfig" : "VcnConfig",
    "android.net.vcn.VcnConfig$Builder" : "VcnConfig.Builder",
    "android.net.vcn.VcnGatewayConnectionConfig" : "VcnGatewayConnectionConfig",
    "android.net.vcn.VcnGatewayConnectionConfig$Builder" : "VcnGatewayConnectionConfig.Builder",
    "android.net.vcn.VcnManager" : "VcnManager",
    "android.net.vcn.VcnManager$VcnStatusCallback" : "VcnManager.VcnStatusCallback",
    "android.net.vcn.VcnUnderlyingNetworkTemplate" : "VcnUnderlyingNetworkTemplate",
    "android.net.vcn.VcnWifiUnderlyingNetworkTemplate" : "VcnWifiUnderlyingNetworkTemplate",
    "android.net.vcn.VcnWifiUnderlyingNetworkTemplate$Builder" : "VcnWifiUnderlyingNetworkTemplate.Builder",
    "android.net.wifi.EasyConnectStatusCallback" : "EasyConnectStatusCallback",
    "android.net.wifi.MloLink" : "MloLink",
    "android.net.wifi.ScanResult" : "ScanResult",
    "android.net.wifi.ScanResult$InformationElement" : "ScanResult.InformationElement",
    "android.net.wifi.SoftApConfiguration" : "SoftApConfiguration",
    "android.net.wifi.SupplicantState" : "SupplicantState",
    "android.net.wifi.WifiConfiguration" : "WifiConfiguration",
    "android.net.wifi.WifiConfiguration$AuthAlgorithm" : "WifiConfiguration.AuthAlgorithm",
    "android.net.wifi.WifiConfiguration$GroupCipher" : "WifiConfiguration.GroupCipher",
    "android.net.wifi.WifiConfiguration$GroupMgmtCipher" : "WifiConfiguration.GroupMgmtCipher",
    "android.net.wifi.WifiConfiguration$KeyMgmt" : "WifiConfiguration.KeyMgmt",
    "android.net.wifi.WifiConfiguration$PairwiseCipher" : "WifiConfiguration.PairwiseCipher",
    "android.net.wifi.WifiConfiguration$Protocol" : "WifiConfiguration.WiFiProtocol",
    "android.net.wifi.WifiConfiguration$Status" : "WifiConfiguration.Status",
    "android.net.wifi.WifiEnterpriseConfig" : "WifiEnterpriseConfig",
    "android.net.wifi.WifiEnterpriseConfig$Eap" : "WifiEnterpriseConfig.Eap",
    "android.net.wifi.WifiEnterpriseConfig$Phase2" : "WifiEnterpriseConfig.Phase2",
    "android.net.wifi.WifiInfo" : "WifiInfo",
    "android.net.wifi.WifiInfo$Builder" : "WifiInfo.Builder",
    "android.net.wifi.WifiManager" : "WifiManager",
    "android.net.wifi.WifiManager$AddNetworkResult" : "WifiManager.AddNetworkResult",
    "android.net.wifi.WifiManager$InterfaceCreationImpact" : "WifiManager.InterfaceCreationImpact",
    "android.net.wifi.WifiManager$LocalOnlyHotspotCallback" : "WifiManager.LocalOnlyHotspotCallback",
    "android.net.wifi.WifiManager$LocalOnlyHotspotReservation" : "WifiManager.LocalOnlyHotspotReservation",
    "android.net.wifi.WifiManager$MulticastLock" : "WifiManager.MulticastLock",
    "android.net.wifi.WifiManager$ScanResultsCallback" : "WifiManager.ScanResultsCallback",
    "android.net.wifi.WifiManager$SubsystemRestartTrackingCallback" : "WifiManager.SubsystemRestartTrackingCallback",
    "android.net.wifi.WifiManager$SuggestionConnectionStatusListener" : "WifiManager.SuggestionConnectionStatusListener",
    "android.net.wifi.WifiManager$SuggestionUserApprovalStatusListener" : "WifiManager.SuggestionUserApprovalStatusListener",
    "android.net.wifi.WifiManager$WifiLock" : "WifiManager.WifiLock",
    "android.net.wifi.WifiManager$WpsCallback" : "WifiManager.WpsCallback",
    "android.net.wifi.WifiNetworkSpecifier" : "WifiNetworkSpecifier",
    "android.net.wifi.WifiNetworkSpecifier$Builder" : "WifiNetworkSpecifier.Builder",
    "android.net.wifi.WifiNetworkSuggestion" : "WifiNetworkSuggestion",
    "android.net.wifi.WifiNetworkSuggestion$Builder" : "WifiNetworkSuggestion.Builder",
    "android.net.wifi.WifiSsid" : "WifiSsid",
    "android.net.wifi.WpsInfo" : "WpsInfo",
    "android.net.wifi.aware.AttachCallback" : "AttachCallback",
    "android.net.wifi.aware.AwareResources" : "AwareResources",
    "android.net.wifi.aware.Characteristics" : "Characteristics",
    "android.net.wifi.aware.DiscoverySession" : "DiscoverySession",
    "android.net.wifi.aware.DiscoverySessionCallback" : "DiscoverySessionCallback",
    "android.net.wifi.aware.IdentityChangedListener" : "IdentityChangedListener",
    "android.net.wifi.aware.ParcelablePeerHandle" : "ParcelablePeerHandle",
    "android.net.wifi.aware.PeerHandle" : "PeerHandle",
    "android.net.wifi.aware.PublishConfig" : "PublishConfig",
    "android.net.wifi.aware.PublishConfig$Builder" : "PublishConfig.Builder",
    "android.net.wifi.aware.PublishDiscoverySession" : "PublishDiscoverySession",
    "android.net.wifi.aware.ServiceDiscoveryInfo" : "ServiceDiscoveryInfo",
    "android.net.wifi.aware.SubscribeConfig" : "SubscribeConfig",
    "android.net.wifi.aware.SubscribeConfig$Builder" : "SubscribeConfig.Builder",
    "android.net.wifi.aware.SubscribeDiscoverySession" : "SubscribeDiscoverySession",
    "android.net.wifi.aware.WifiAwareChannelInfo" : "WifiAwareChannelInfo",
    "android.net.wifi.aware.WifiAwareDataPathSecurityConfig" : "WifiAwareDataPathSecurityConfig",
    "android.net.wifi.aware.WifiAwareDataPathSecurityConfig$Builder" : "WifiAwareDataPathSecurityConfig.Builder",
    "android.net.wifi.aware.WifiAwareManager" : "WifiAwareManager",
    "android.net.wifi.aware.WifiAwareNetworkInfo" : "WifiAwareNetworkInfo",
    "android.net.wifi.aware.WifiAwareNetworkSpecifier" : "WifiAwareNetworkSpecifier",
    "android.net.wifi.aware.WifiAwareNetworkSpecifier$Builder" : "WifiAwareNetworkSpecifier.Builder",
    "android.net.wifi.aware.WifiAwareSession" : "WifiAwareSession",
    "android.net.wifi.hotspot2.ConfigParser" : "ConfigParser",
    "android.net.wifi.hotspot2.PasspointConfiguration" : "PasspointConfiguration",
    "android.net.wifi.hotspot2.omadm.PpsMoParser" : "PpsMoParser",
    "android.net.wifi.hotspot2.pps.Credential" : "Credential",
    "android.net.wifi.hotspot2.pps.Credential$CertificateCredential" : "Credential.CertificateCredential",
    "android.net.wifi.hotspot2.pps.Credential$SimCredential" : "Credential.SimCredential",
    "android.net.wifi.hotspot2.pps.Credential$UserCredential" : "Credential.UserCredential",
    "android.net.wifi.hotspot2.pps.HomeSp" : "HomeSp",
    "android.net.wifi.p2p.WifiP2pConfig" : "WifiP2pConfig",
    "android.net.wifi.p2p.WifiP2pConfig$Builder" : "WifiP2pConfig.Builder",
    "android.net.wifi.p2p.WifiP2pDevice" : "WifiP2pDevice",
    "android.net.wifi.p2p.WifiP2pDeviceList" : "WifiP2pDeviceList",
    "android.net.wifi.p2p.WifiP2pGroup" : "WifiP2pGroup",
    "android.net.wifi.p2p.WifiP2pInfo" : "WifiP2pInfo",
    "android.net.wifi.p2p.WifiP2pManager" : "WifiP2pManager",
    "android.net.wifi.p2p.WifiP2pManager$ActionListener" : "WifiP2pManager.ActionListener",
    "android.net.wifi.p2p.WifiP2pManager$Channel" : "WifiP2pManager.Channel",
    "android.net.wifi.p2p.WifiP2pManager$ChannelListener" : "WifiP2pManager.ChannelListener",
    "android.net.wifi.p2p.WifiP2pManager$ConnectionInfoListener" : "WifiP2pManager.ConnectionInfoListener",
    "android.net.wifi.p2p.WifiP2pManager$DeviceInfoListener" : "WifiP2pManager.DeviceInfoListener",
    "android.net.wifi.p2p.WifiP2pManager$DiscoveryStateListener" : "WifiP2pManager.DiscoveryStateListener",
    "android.net.wifi.p2p.WifiP2pManager$DnsSdServiceResponseListener" : "WifiP2pManager.DnsSdServiceResponseListener",
    "android.net.wifi.p2p.WifiP2pManager$DnsSdTxtRecordListener" : "WifiP2pManager.DnsSdTxtRecordListener",
    "android.net.wifi.p2p.WifiP2pManager$ExternalApproverRequestListener" : "WifiP2pManager.ExternalApproverRequestListener",
    "android.net.wifi.p2p.WifiP2pManager$GroupInfoListener" : "WifiP2pManager.GroupInfoListener",
    "android.net.wifi.p2p.WifiP2pManager$NetworkInfoListener" : "WifiP2pManager.NetworkInfoListener",
    "android.net.wifi.p2p.WifiP2pManager$P2pStateListener" : "WifiP2pManager.P2pStateListener",
    "android.net.wifi.p2p.WifiP2pManager$PeerListListener" : "WifiP2pManager.PeerListListener",
    "android.net.wifi.p2p.WifiP2pManager$ServiceResponseListener" : "WifiP2pManager.ServiceResponseListener",
    "android.net.wifi.p2p.WifiP2pManager$UpnpServiceResponseListener" : "WifiP2pManager.UpnpServiceResponseListener",
    "android.net.wifi.p2p.WifiP2pWfdInfo" : "WifiP2pWfdInfo",
    "android.net.wifi.p2p.nsd.WifiP2pDnsSdServiceInfo" : "WifiP2pDnsSdServiceInfo",
    "android.net.wifi.p2p.nsd.WifiP2pDnsSdServiceRequest" : "WifiP2pDnsSdServiceRequest",
    "android.net.wifi.p2p.nsd.WifiP2pServiceInfo" : "WifiP2pServiceInfo",
    "android.net.wifi.p2p.nsd.WifiP2pServiceRequest" : "WifiP2pServiceRequest",
    "android.net.wifi.p2p.nsd.WifiP2pUpnpServiceInfo" : "WifiP2pUpnpServiceInfo",
    "android.net.wifi.p2p.nsd.WifiP2pUpnpServiceRequest" : "WifiP2pUpnpServiceRequest",
    "android.net.wifi.rtt.CivicLocationKeys" : "CivicLocationKeys",
    "android.net.wifi.rtt.RangingRequest" : "RangingRequest",
    "android.net.wifi.rtt.RangingRequest$Builder" : "RangingRequest.Builder",
    "android.net.wifi.rtt.RangingResult" : "RangingResult",
    "android.net.wifi.rtt.RangingResultCallback" : "RangingResultCallback",
    "android.net.wifi.rtt.ResponderConfig" : "ResponderConfig",
    "android.net.wifi.rtt.ResponderConfig$Builder" : "ResponderConfig.Builder",
    "android.net.wifi.rtt.ResponderLocation" : "ResponderLocation",
    "android.net.wifi.rtt.WifiRttManager" : "WifiRttManager"
  },
  "classpath" : "android.jar"
}
