{
  "classes" : {
    "androidx.annotation.RecentlyNonNull" : "RecentlyNonNull",
    "androidx.annotation.RecentlyNullable" : "RecentlyNullable",
    "androidx.recyclerview.widget.RecyclerView" : "RecyclerView"
  },
  "classpath" : "android.jar:recyclerview.jar:androidxcore.jar:androidxcustomview.jar"
}
