{
  "classes" : {
    "androidx.annotation.RecentlyNonNull" : "RecentlyNonNull",
    "androidx.annotation.RecentlyNullable" : "RecentlyNullable",
    "androidx.core.accessibilityservice.AccessibilityServiceInfoCompat" : "AccessibilityServiceInfoCompat",
    "androidx.core.app.ActivityCompat" : "ActivityCompat",
    "androidx.core.math.MathUtils" : "MathUtils",
    "androidx.core.view.NestedScrollingChild" : "NestedScrollingChild",
    "androidx.core.view.NestedScrollingChild2" : "NestedScrollingChild2",
    "androidx.core.view.NestedScrollingChild3" : "NestedScrollingChild3",
    "androidx.core.view.NestedScrollingChildHelper" : "NestedScrollingChildHelper",
    "androidx.core.view.NestedScrollingParent" : "NestedScrollingParent",
    "androidx.core.view.NestedScrollingParent2" : "NestedScrollingParent2",
    "androidx.core.view.NestedScrollingParent3" : "NestedScrollingParent3",
    "androidx.core.view.NestedScrollingParentHelper" : "NestedScrollingParentHelper",
    "androidx.customview.view.AbsSavedState" : "AbsSavedState",
    "androidx.customview.widget.FocusStrategy" : "FocusStrategy",
    "androidx.customview.widget.FocusStrategy$BoundsAdapter" : "FocusStrategy.BoundsAdapter",
    "androidx.customview.widget.FocusStrategy$CollectionAdapter" : "FocusStrategy.CollectionAdapter",
    "androidx.customview.widget.FocusStrategy$SequentialComparator" : "FocusStrategy.SequentialComparator",
    "androidx.customview.widget.ViewDragHelper" : "ViewDragHelper",
    "androidx.customview.widget.ViewDragHelper$Callback" : "ViewDragHelper.Callback",
    "androidx.viewpager.widget.ViewPager" : "ViewPager",
    "androidx.viewpager.widget.PagerAdapter" : "PagerAdapter",
    "androidx.navigation.ActionOnlyNavDirections" : "ActionOnlyNavDirections",
    "androidx.navigation.AnimBuilder" : "AnimBuilder",
    "androidx.navigation.CollectionNavType" : "CollectionNavType",
    "androidx.navigation.FloatingWindow" : "FloatingWindow",
    "androidx.navigation.NamedNavArgument" : "NamedNavArgument",
    "androidx.navigation.NamedNavArgumentKt" : "NamedNavArgumentKt",
    "androidx.navigation.NavAction" : "NavAction",
    "androidx.navigation.NavActionBuilder" : "NavActionBuilder",
    "androidx.navigation.NavArgs" : "NavArgs",
    "androidx.navigation.NavArgsLazy" : "NavArgsLazy",
    "androidx.navigation.NavArgsLazyKt" : "NavArgsLazyKt",
    "androidx.navigation.NavArgument" : "NavArgument",
    "androidx.navigation.NavArgument$Builder" : "NavArgument.Builder",
    "androidx.navigation.NavArgumentBuilder" : "NavArgumentBuilder",
    "androidx.navigation.NavArgumentKt" : "NavArgumentKt",
    "androidx.navigation.NavBackStackEntry" : "NavBackStackEntry",
    "androidx.navigation.NavBackStackEntry$Companion" : "NavBackStackEntry.Companion",
    "androidx.navigation.NavBackStackEntry$NavResultSavedStateFactory" : "NavBackStackEntry.NavResultSavedStateFactory",
    "androidx.navigation.NavBackStackEntry$SavedStateViewModel" : "NavBackStackEntry.SavedStateViewModel",
    "androidx.navigation.NavBackStackEntryKt" : "NavBackStackEntryKt",
    "androidx.navigation.NavDeepLink" : "NavDeepLink",
    "androidx.navigation.NavDeepLink$Builder" : "NavDeepLink.Builder",
    "androidx.navigation.NavDeepLink$Builder$Companion" : "NavDeepLink.Builder.Companion",
    "androidx.navigation.NavDeepLink$Companion" : "NavDeepLink.Companion",
    "androidx.navigation.NavDeepLink$MimeType" : "NavDeepLink.MimeType",
    "androidx.navigation.NavDeepLink$ParamQuery" : "NavDeepLink.ParamQuery",
    "androidx.navigation.NavDeepLinkDsl" : "NavDeepLinkDsl",
    "androidx.navigation.NavDeepLinkDslBuilder" : "NavDeepLinkDslBuilder",
    "androidx.navigation.NavDeepLinkDslBuilderKt" : "NavDeepLinkDslBuilderKt",
    "androidx.navigation.NavDeepLinkRequest" : "NavDeepLinkRequest",
    "androidx.navigation.NavDeepLinkRequest$Builder" : "NavDeepLinkRequest.Builder",
    "androidx.navigation.NavDeepLinkRequest$Builder$Companion" : "NavDeepLinkRequest.Builder.Companion",
    "androidx.navigation.NavDestination" : "NavDestination",
    "androidx.navigation.NavDestination$ClassType" : "NavDestination.ClassType",
    "androidx.navigation.NavDestination$Companion" : "NavDestination.Companion",
    "androidx.navigation.NavDestination$DeepLinkMatch" : "NavDestination.DeepLinkMatch",
    "androidx.navigation.NavDestinationBuilder" : "NavDestinationBuilder",
    "androidx.navigation.NavDestinationDsl" : "NavDestinationDsl",
    "androidx.navigation.NavDirections" : "NavDirections",
    "androidx.navigation.NavGraph" : "NavGraph",
    "androidx.navigation.NavGraph$Companion" : "NavGraph.Companion",
    "androidx.navigation.NavGraphBuilder" : "NavGraphBuilder",
    "androidx.navigation.NavGraphBuilderKt" : "NavGraphBuilderKt",
    "androidx.navigation.NavGraphKt" : "NavGraphKt",
    "androidx.navigation.NavGraphNavigator" : "NavGraphNavigator",
    "androidx.navigation.NavOptions" : "NavOptions",
    "androidx.navigation.NavOptions$Builder" : "NavOptions.Builder",
    "androidx.navigation.NavOptionsBuilder" : "NavOptionsBuilder",
    "androidx.navigation.NavOptionsBuilderKt" : "NavOptionsBuilderKt",
    "androidx.navigation.NavOptionsDsl" : "NavOptionsDsl",
    "androidx.navigation.NavType" : "NavType",
    "androidx.navigation.NavType$Companion" : "NavType.Companion",
    "androidx.navigation.NavType$EnumType" : "NavType.EnumType",
    "androidx.navigation.NavType$ParcelableArrayType" : "NavType.ParcelableArrayType",
    "androidx.navigation.NavType$ParcelableType" : "NavType.ParcelableType",
    "androidx.navigation.NavType$SerializableArrayType" : "NavType.SerializableArrayType",
    "androidx.navigation.NavType$SerializableType" : "NavType.SerializableType",
    "androidx.navigation.NavViewModelStoreProvider" : "NavViewModelStoreProvider",
    "androidx.navigation.Navigator" : "Navigator",
    "androidx.navigation.Navigator$Extras" : "Navigator.Extras",
    "androidx.navigation.Navigator$Name" : "Navigator.Name",
    "androidx.navigation.NavigatorProvider" : "NavigatorProvider",
    "androidx.navigation.NavigatorProvider$Companion" : "NavigatorProvider.Companion",
    "androidx.navigation.NavigatorProviderKt" : "NavigatorProviderKt",
    "androidx.navigation.NavigatorState" : "NavigatorState",
    "androidx.navigation.NoOpNavigator" : "NoOpNavigator",
    "androidx.navigation.PopUpToBuilder" : "PopUpToBuilder",
    "androidx.navigation.SavedStateHandleKt" : "SavedStateHandleKt",
    "androidx.lifecycle.ClassesInfoCache" : "ClassesInfoCache",
    "androidx.lifecycle.ClassesInfoCache$CallbackInfo" : "ClassesInfoCache.CallbackInfo",
    "androidx.lifecycle.ClassesInfoCache$MethodReference" : "ClassesInfoCache.MethodReference",
    "androidx.lifecycle.CompositeGeneratedAdaptersObserver" : "CompositeGeneratedAdaptersObserver",
    "androidx.lifecycle.FullLifecycleObserver" : "FullLifecycleObserver",
    "androidx.lifecycle.FullLifecycleObserverAdapter" : "FullLifecycleObserverAdapter",
    "androidx.lifecycle.GeneratedAdapter" : "GeneratedAdapter",
    "androidx.lifecycle.GenericLifecycleObserver" : "GenericLifecycleObserver",
    "androidx.lifecycle.Lifecycle" : "Lifecycle",
    "androidx.lifecycle.Lifecycle$Event" : "Lifecycle.Event",
    "androidx.lifecycle.Lifecycle$State" : "Lifecycle.State",
    "androidx.lifecycle.LifecycleEventObserver" : "LifecycleEventObserver",
    "androidx.lifecycle.LifecycleObserver" : "LifecycleObserver",
    "androidx.lifecycle.LifecycleOwner" : "LifecycleOwner",
    "androidx.lifecycle.Lifecycling" : "Lifecycling",
    "androidx.lifecycle.MethodCallsLogger" : "MethodCallsLogger",
    "androidx.lifecycle.OnLifecycleEvent" : "OnLifecycleEvent",
    "androidx.lifecycle.ReflectiveGenericLifecycleObserver" : "ReflectiveGenericLifecycleObserver",
    "androidx.lifecycle.SingleGeneratedAdapterObserver" : "SingleGeneratedAdapterObserver",
    "androidx.recyclerview.widget.AdapterHelper" : "AdapterHelper",
    "androidx.recyclerview.widget.AdapterHelper$Callback" : "AdapterHelper.Callback",
    "androidx.recyclerview.widget.AdapterHelper$UpdateOp" : "AdapterHelper.UpdateOp",
    "androidx.recyclerview.widget.AdapterListUpdateCallback" : "AdapterListUpdateCallback",
    "androidx.recyclerview.widget.AsyncDifferConfig" : "AsyncDifferConfig",
    "androidx.recyclerview.widget.AsyncDifferConfig$Builder" : "AsyncDifferConfig.Builder",
    "androidx.recyclerview.widget.AsyncListDiffer" : "AsyncListDiffer",
    "androidx.recyclerview.widget.AsyncListDiffer$ListListener" : "AsyncListDiffer.ListListener",
    "androidx.recyclerview.widget.AsyncListDiffer$MainThreadExecutor" : "AsyncListDiffer.MainThreadExecutor",
    "androidx.recyclerview.widget.AsyncListUtil" : "AsyncListUtil",
    "androidx.recyclerview.widget.AsyncListUtil$DataCallback" : "AsyncListUtil.DataCallback",
    "androidx.recyclerview.widget.AsyncListUtil$ViewCallback" : "AsyncListUtil.ViewCallback",
    "androidx.recyclerview.widget.BatchingListUpdateCallback" : "BatchingListUpdateCallback",
    "androidx.recyclerview.widget.ChildHelper" : "ChildHelper",
    "androidx.recyclerview.widget.ChildHelper$Bucket" : "ChildHelper.Bucket",
    "androidx.recyclerview.widget.ChildHelper$Callback" : "ChildHelper.Callback",
    "androidx.recyclerview.widget.ConcatAdapter" : "ConcatAdapter",
    "androidx.recyclerview.widget.ConcatAdapter$Config" : "ConcatAdapter.Config",
    "androidx.recyclerview.widget.ConcatAdapter$Config$Builder" : "ConcatAdapter.Config.Builder",
    "androidx.recyclerview.widget.ConcatAdapter$Config$StableIdMode" : "ConcatAdapter.Config.StableIdMode",
    "androidx.recyclerview.widget.ConcatAdapterController" : "ConcatAdapterController",
    "androidx.recyclerview.widget.ConcatAdapterController$WrapperAndLocalPosition" : "ConcatAdapterController.WrapperAndLocalPosition",
    "androidx.recyclerview.widget.DefaultItemAnimator" : "DefaultItemAnimator",
    "androidx.recyclerview.widget.DefaultItemAnimator$ChangeInfo" : "DefaultItemAnimator.ChangeInfo",
    "androidx.recyclerview.widget.DefaultItemAnimator$MoveInfo" : "DefaultItemAnimator.MoveInfo",
    "androidx.recyclerview.widget.DiffUtil" : "DiffUtil",
    "androidx.recyclerview.widget.DiffUtil$Callback" : "DiffUtil.Callback",
    "androidx.recyclerview.widget.DiffUtil$CenteredArray" : "DiffUtil.CenteredArray",
    "androidx.recyclerview.widget.DiffUtil$Diagonal" : "DiffUtil.Diagonal",
    "androidx.recyclerview.widget.DiffUtil$DiffResult" : "DiffUtil.DiffResult",
    "androidx.recyclerview.widget.DiffUtil$ItemCallback" : "DiffUtil.ItemCallback",
    "androidx.recyclerview.widget.DiffUtil$PostponedUpdate" : "DiffUtil.PostponedUpdate",
    "androidx.recyclerview.widget.DiffUtil$Range" : "DiffUtil.Range",
    "androidx.recyclerview.widget.DiffUtil$Snake" : "DiffUtil.Snake",
    "androidx.recyclerview.widget.DividerItemDecoration" : "DividerItemDecoration",
    "androidx.recyclerview.widget.FastScroller" : "FastScroller",
    "androidx.recyclerview.widget.FastScroller$AnimatorListener" : "FastScroller.AnimatorListener",
    "androidx.recyclerview.widget.FastScroller$AnimatorUpdater" : "FastScroller.AnimatorUpdater",
    "androidx.recyclerview.widget.GapWorker" : "GapWorker",
    "androidx.recyclerview.widget.GapWorker$Task" : "GapWorker.Task",
    "androidx.recyclerview.widget.GridLayoutManager" : "GridLayoutManager",
    "androidx.recyclerview.widget.GridLayoutManager$DefaultSpanSizeLookup" : "GridLayoutManager.DefaultSpanSizeLookup",
    "androidx.recyclerview.widget.GridLayoutManager$LayoutParams" : "GridLayoutManager.LayoutParams",
    "androidx.recyclerview.widget.GridLayoutManager$SpanSizeLookup" : "GridLayoutManager.SpanSizeLookup",
    "androidx.recyclerview.widget.ItemTouchHelper" : "ItemTouchHelper",
    "androidx.recyclerview.widget.ItemTouchHelper$Callback" : "ItemTouchHelper.Callback",
    "androidx.recyclerview.widget.ItemTouchHelper$ItemTouchHelperGestureListener" : "ItemTouchHelper.ItemTouchHelperGestureListener",
    "androidx.recyclerview.widget.ItemTouchHelper$RecoverAnimation" : "ItemTouchHelper.RecoverAnimation",
    "androidx.recyclerview.widget.ItemTouchHelper$SimpleCallback" : "ItemTouchHelper.SimpleCallback",
    "androidx.recyclerview.widget.ItemTouchHelper$ViewDropHandler" : "ItemTouchHelper.ViewDropHandler",
    "androidx.recyclerview.widget.ItemTouchUIUtil" : "ItemTouchUIUtil",
    "androidx.recyclerview.widget.LayoutState" : "LayoutState",
    "androidx.recyclerview.widget.LinearLayoutManager" : "LinearLayoutManager",
    "androidx.recyclerview.widget.LinearLayoutManager$AnchorInfo" : "LinearLayoutManager.AnchorInfo",
    "androidx.recyclerview.widget.LinearLayoutManager$LayoutChunkResult" : "LinearLayoutManager.LayoutChunkResult",
    "androidx.recyclerview.widget.LinearLayoutManager$LayoutState" : "LinearLayoutManager.LayoutState",
    "androidx.recyclerview.widget.LinearLayoutManager$SavedState" : "LinearLayoutManager.SavedState",
    "androidx.recyclerview.widget.LinearSmoothScroller" : "LinearSmoothScroller",
    "androidx.recyclerview.widget.LinearSnapHelper" : "LinearSnapHelper",
    "androidx.recyclerview.widget.ListAdapter" : "ListAdapter",
    "androidx.recyclerview.widget.ListUpdateCallback" : "ListUpdateCallback",
    "androidx.recyclerview.widget.MessageThreadUtil" : "MessageThreadUtil",
    "androidx.recyclerview.widget.MessageThreadUtil$MessageQueue" : "MessageThreadUtil.MessageQueue",
    "androidx.recyclerview.widget.MessageThreadUtil$SyncQueueItem" : "MessageThreadUtil.SyncQueueItem",
    "androidx.recyclerview.widget.NestedAdapterWrapper" : "NestedAdapterWrapper",
    "androidx.recyclerview.widget.NestedAdapterWrapper$Callback" : "NestedAdapterWrapper.Callback",
    "androidx.recyclerview.widget.OpReorderer" : "OpReorderer",
    "androidx.recyclerview.widget.OpReorderer$Callback" : "OpReorderer.Callback",
    "androidx.recyclerview.widget.OrientationHelper" : "OrientationHelper",
    "androidx.recyclerview.widget.PagerSnapHelper" : "PagerSnapHelper",
    "androidx.recyclerview.widget.RecyclerView" : "RecyclerView",
    "androidx.recyclerview.widget.RecyclerView$Adapter" : "RecyclerView.Adapter",
    "androidx.recyclerview.widget.RecyclerView$Adapter$StateRestorationPolicy" : "RecyclerView.Adapter.StateRestorationPolicy",
    "androidx.recyclerview.widget.RecyclerView$AdapterDataObservable" : "RecyclerView.AdapterDataObservable",
    "androidx.recyclerview.widget.RecyclerView$AdapterDataObserver" : "RecyclerView.AdapterDataObserver",
    "androidx.recyclerview.widget.RecyclerView$ChildDrawingOrderCallback" : "RecyclerView.ChildDrawingOrderCallback",
    "androidx.recyclerview.widget.RecyclerView$EdgeEffectFactory" : "RecyclerView.EdgeEffectFactory",
    "androidx.recyclerview.widget.RecyclerView$EdgeEffectFactory$EdgeDirection" : "RecyclerView.EdgeEffectFactory.EdgeDirection",
    "androidx.recyclerview.widget.RecyclerView$ItemAnimator" : "RecyclerView.ItemAnimator",
    "androidx.recyclerview.widget.RecyclerView$ItemAnimator$AdapterChanges" : "RecyclerView.ItemAnimator.AdapterChanges",
    "androidx.recyclerview.widget.RecyclerView$ItemAnimator$ItemAnimatorFinishedListener" : "RecyclerView.ItemAnimator.ItemAnimatorFinishedListener",
    "androidx.recyclerview.widget.RecyclerView$ItemAnimator$ItemAnimatorListener" : "RecyclerView.ItemAnimator.ItemAnimatorListener",
    "androidx.recyclerview.widget.RecyclerView$ItemAnimator$ItemHolderInfo" : "RecyclerView.ItemAnimator.ItemHolderInfo",
    "androidx.recyclerview.widget.RecyclerView$ItemAnimatorRestoreListener" : "RecyclerView.ItemAnimatorRestoreListener",
    "androidx.recyclerview.widget.RecyclerView$ItemDecoration" : "RecyclerView.ItemDecoration",
    "androidx.recyclerview.widget.RecyclerView$LayoutManager" : "RecyclerView.LayoutManager",
    "androidx.recyclerview.widget.RecyclerView$LayoutManager$LayoutPrefetchRegistry" : "RecyclerView.LayoutManager.LayoutPrefetchRegistry",
    "androidx.recyclerview.widget.RecyclerView$LayoutManager$Properties" : "RecyclerView.LayoutManager.Properties",
    "androidx.recyclerview.widget.RecyclerView$LayoutParams" : "RecyclerView.LayoutParams",
    "androidx.recyclerview.widget.RecyclerView$OnChildAttachStateChangeListener" : "RecyclerView.OnChildAttachStateChangeListener",
    "androidx.recyclerview.widget.RecyclerView$OnFlingListener" : "RecyclerView.OnFlingListener",
    "androidx.recyclerview.widget.RecyclerView$OnItemTouchListener" : "RecyclerView.OnItemTouchListener",
    "androidx.recyclerview.widget.RecyclerView$OnScrollListener" : "RecyclerView.OnScrollListener",
    "androidx.recyclerview.widget.RecyclerView$Orientation" : "RecyclerView.Orientation",
    "androidx.recyclerview.widget.RecyclerView$RecycledViewPool" : "RecyclerView.RecycledViewPool",
    "androidx.recyclerview.widget.RecyclerView$RecycledViewPool$ScrapData" : "RecyclerView.RecycledViewPool.ScrapData",
    "androidx.recyclerview.widget.RecyclerView$Recycler" : "RecyclerView.Recycler",
    "androidx.recyclerview.widget.RecyclerView$RecyclerListener" : "RecyclerView.RecyclerListener",
    "androidx.recyclerview.widget.RecyclerView$RecyclerViewDataObserver" : "RecyclerView.RecyclerViewDataObserver",
    "androidx.recyclerview.widget.RecyclerView$SavedState" : "RecyclerView.SavedState",
    "androidx.recyclerview.widget.RecyclerView$SimpleOnItemTouchListener" : "RecyclerView.SimpleOnItemTouchListener",
    "androidx.recyclerview.widget.RecyclerView$SmoothScroller" : "RecyclerView.SmoothScroller",
    "androidx.recyclerview.widget.RecyclerView$SmoothScroller$Action" : "RecyclerView.SmoothScroller.Action",
    "androidx.recyclerview.widget.RecyclerView$SmoothScroller$ScrollVectorProvider" : "RecyclerView.SmoothScroller.ScrollVectorProvider",
    "androidx.recyclerview.widget.RecyclerView$State" : "RecyclerView.State",
    "androidx.recyclerview.widget.RecyclerView$StretchEdgeEffectFactory" : "RecyclerView.StretchEdgeEffectFactory",
    "androidx.recyclerview.widget.RecyclerView$ViewCacheExtension" : "RecyclerView.ViewCacheExtension",
    "androidx.recyclerview.widget.RecyclerView$ViewFlinger" : "RecyclerView.ViewFlinger",
    "androidx.recyclerview.widget.RecyclerView$ViewHolder" : "RecyclerView.ViewHolder",
    "androidx.recyclerview.widget.RecyclerViewAccessibilityDelegate" : "RecyclerViewAccessibilityDelegate",
    "androidx.recyclerview.widget.RecyclerViewAccessibilityDelegate$ItemDelegate" : "RecyclerViewAccessibilityDelegate.ItemDelegate",
    "androidx.recyclerview.widget.ScrollbarHelper" : "ScrollbarHelper",
    "androidx.recyclerview.widget.SimpleItemAnimator" : "SimpleItemAnimator",
    "androidx.recyclerview.widget.SnapHelper" : "SnapHelper",
    "androidx.recyclerview.widget.SortedList" : "SortedList",
    "androidx.recyclerview.widget.SortedList$BatchedCallback" : "SortedList.BatchedCallback",
    "androidx.recyclerview.widget.SortedList$Callback" : "SortedList.Callback",
    "androidx.recyclerview.widget.SortedListAdapterCallback" : "SortedListAdapterCallback",
    "androidx.recyclerview.widget.StableIdStorage" : "StableIdStorage",
    "androidx.recyclerview.widget.StableIdStorage$IsolatedStableIdStorage" : "StableIdStorage.IsolatedStableIdStorage",
    "androidx.recyclerview.widget.StableIdStorage$IsolatedStableIdStorage$WrapperStableIdLookup" : "StableIdStorage.IsolatedStableIdStorage.WrapperStableIdLookup",
    "androidx.recyclerview.widget.StableIdStorage$NoStableIdStorage" : "StableIdStorage.NoStableIdStorage",
    "androidx.recyclerview.widget.StableIdStorage$SharedPoolStableIdStorage" : "StableIdStorage.SharedPoolStableIdStorage",
    "androidx.recyclerview.widget.StableIdStorage$StableIdLookup" : "StableIdStorage.StableIdLookup",
    "androidx.recyclerview.widget.StaggeredGridLayoutManager" : "StaggeredGridLayoutManager",
    "androidx.recyclerview.widget.StaggeredGridLayoutManager$AnchorInfo" : "StaggeredGridLayoutManager.AnchorInfo",
    "androidx.recyclerview.widget.StaggeredGridLayoutManager$LayoutParams" : "StaggeredGridLayoutManager.LayoutParams",
    "androidx.recyclerview.widget.StaggeredGridLayoutManager$LazySpanLookup" : "StaggeredGridLayoutManager.LazySpanLookup",
    "androidx.recyclerview.widget.StaggeredGridLayoutManager$LazySpanLookup$FullSpanItem" : "StaggeredGridLayoutManager.LazySpanLookup.FullSpanItem",
    "androidx.recyclerview.widget.StaggeredGridLayoutManager$SavedState" : "StaggeredGridLayoutManager.SavedState",
    "androidx.recyclerview.widget.StaggeredGridLayoutManager$Span" : "StaggeredGridLayoutManager.Span",
    "androidx.recyclerview.widget.ThreadUtil" : "ThreadUtil",
    "androidx.recyclerview.widget.ThreadUtil$BackgroundCallback" : "ThreadUtil.BackgroundCallback",
    "androidx.recyclerview.widget.ThreadUtil$MainThreadCallback" : "ThreadUtil.MainThreadCallback",
    "androidx.recyclerview.widget.TileList" : "TileList",
    "androidx.recyclerview.widget.TileList$Tile" : "TileList.Tile",
    "androidx.recyclerview.widget.ViewBoundsCheck" : "ViewBoundsCheck",
    "androidx.recyclerview.widget.ViewBoundsCheck$BoundFlags" : "ViewBoundsCheck.BoundFlags",
    "androidx.recyclerview.widget.ViewBoundsCheck$Callback" : "ViewBoundsCheck.Callback",
    "androidx.recyclerview.widget.ViewBoundsCheck$ViewBounds" : "ViewBoundsCheck.ViewBounds",
    "androidx.recyclerview.widget.ViewInfoStore" : "ViewInfoStore",
    "androidx.recyclerview.widget.ViewInfoStore$InfoRecord" : "ViewInfoStore.InfoRecord",
    "androidx.recyclerview.widget.ViewInfoStore$ProcessCallback" : "ViewInfoStore.ProcessCallback",
    "androidx.recyclerview.widget.ViewTypeStorage" : "ViewTypeStorage",
    "androidx.recyclerview.widget.ViewTypeStorage$IsolatedViewTypeStorage" : "ViewTypeStorage.IsolatedViewTypeStorage",
    "androidx.recyclerview.widget.ViewTypeStorage$IsolatedViewTypeStorage$WrapperViewTypeLookup" : "ViewTypeStorage.IsolatedViewTypeStorage.WrapperViewTypeLookup",
    "androidx.recyclerview.widget.ViewTypeStorage$SharedIdRangeViewTypeStorage" : "ViewTypeStorage.SharedIdRangeViewTypeStorage",
    "androidx.recyclerview.widget.ViewTypeStorage$SharedIdRangeViewTypeStorage$WrapperViewTypeLookup" : "ViewTypeStorage.SharedIdRangeViewTypeStorage.WrapperViewTypeLookup",
    "androidx.recyclerview.widget.ViewTypeStorage$ViewTypeLookup" : "ViewTypeStorage.ViewTypeLookup"
  },
  "classpath" : "jar/android.jar:jar/kotlin-stdlib.jar:jar/recyclerview.jar:jar/core.jar:jar/collection.jar:jar/customview.jar:jar/lifecycle-common.jar:jar/navigation-runtime.jar:jar/navigation-common.jar:jar/lifecycle-viewmodel.jar:jar/savedstate.jar:jar/lifecycle-viewmodel-savedstate.jar:jar/viewpager.jar:jar/fragment.jar:jar/coordinatorlayout.jar:jar/transition.jar:jar/appcompat.jar:jar/activity.jar:jar/vectordrawable.jar:jar/constraintlayout.jar"
}
