{
  "classes" : {
    "android.media.AudioAttributes" : "AudioAttributes",
    "android.media.AudioAttributes$Builder" : "AudioAttributes.Builder",
    "android.media.AudioFocusRequest" : "AudioFocusRequest",
    "android.media.AudioFocusRequest$Builder" : "AudioFocusRequest.Builder",
    "android.media.AudioFormat" : "AudioFormat",
    "android.media.AudioFormat$Builder" : "AudioFormat.Builder",
    "android.media.AudioManager" : "AudioManager",
    "android.media.AudioManager$OnAudioFocusChangeListener" : "AudioManager.OnAudioFocusChangeListener",
    "android.media.AudioRecord" : "AudioRecord",
    "android.media.AudioRecord$Builder" : "AudioRecord.Builder",
    "android.media.AudioRecord$OnRecordPositionUpdateListener" : "AudioRecord.OnRecordPositionUpdateListener",
    "android.media.AudioTrack" : "AudioTrack",
    "android.media.AudioTrack$Builder" : "AudioTrack.Builder",
    "android.media.AudioTrack$OnPlaybackPositionUpdateListener" : "AudioTrack.OnPlaybackPositionUpdateListener",
    "android.media.MediaCodec" : "MediaCodec",
    "android.media.MediaCodec$BufferInfo" : "MediaCodec.BufferInfo",
    "android.media.MediaCodec$Callback" : "MediaCodec.Callback",
    "android.media.MediaCodec$CodecException" : "MediaCodec.CodecException",
    "android.media.MediaCodecInfo" : "MediaCodecInfo",
    "android.media.MediaCodecInfo$AudioCapabilities" : "MediaCodecInfo.AudioCapabilities",
    "android.media.MediaCodecInfo$CodecCapabilities" : "MediaCodecInfo.CodecCapabilities",
    "android.media.MediaCodecInfo$EncoderCapabilities" : "MediaCodecInfo.EncoderCapabilities",
    "android.media.MediaCodecInfo$VideoCapabilities" : "MediaCodecInfo.VideoCapabilities",
    "android.media.MediaCodecList" : "MediaCodecList",
    "android.media.MediaExtractor" : "MediaExtractor",
    "android.media.MediaFormat" : "MediaFormat",
    "android.media.MediaMetadataRetriever" : "MediaMetadataRetriever",
    "android.media.MediaMuxer" : "MediaMuxer",
    "android.media.MediaPlayer" : "MediaPlayer",
    "android.media.MediaPlayer$OnBufferingUpdateListener" : "MediaPlayer.OnBufferingUpdateListener",
    "android.media.MediaPlayer$OnCompletionListener" : "MediaPlayer.OnCompletionListener",
    "android.media.MediaPlayer$OnErrorListener" : "MediaPlayer.OnErrorListener",
    "android.media.MediaPlayer$OnInfoListener" : "MediaPlayer.OnInfoListener",
    "android.media.MediaPlayer$OnPreparedListener" : "MediaPlayer.OnPreparedListener",
    "android.media.MediaPlayer$OnSeekCompleteListener" : "MediaPlayer.OnSeekCompleteListener",
    "android.media.MediaPlayer$OnVideoSizeChangedListener" : "MediaPlayer.OnVideoSizeChangedListener",
    "android.media.MediaPlayer$TrackInfo" : "MediaPlayer.TrackInfo",
    "android.media.MediaRecorder" : "MediaRecorder",
    "android.media.MediaRecorder$AudioEncoder" : "MediaRecorder.AudioEncoder",
    "android.media.MediaRecorder$AudioSource" : "MediaRecorder.AudioSource",
    "android.media.MediaRecorder$OnErrorListener" : "MediaRecorder.OnErrorListener",
    "android.media.MediaRecorder$OnInfoListener" : "MediaRecorder.OnInfoListener",
    "android.media.MediaRecorder$OutputFormat" : "MediaRecorder.OutputFormat",
    "android.media.MediaRecorder$VideoEncoder" : "MediaRecorder.VideoEncoder",
    "android.media.MediaRecorder$VideoSource" : "MediaRecorder.VideoSource",
    "android.media.Ringtone" : "Ringtone",
    "android.media.RingtoneManager" : "RingtoneManager",
    "android.media.SoundPool" : "SoundPool",
    "android.media.SoundPool$Builder" : "SoundPool.Builder",
    "android.media.SoundPool$OnLoadCompleteListener" : "SoundPool.OnLoadCompleteListener",
    "android.media.VolumeProvider" : "VolumeProvider"
  },
  "classpath" : "jar/android.jar"
}
