{
  "classes" : {
    "android.view.AbsSavedState" : "AbsSavedState",
    "android.view.ActionMode" : "ActionMode",
    "android.view.ActionMode$Callback" : "ActionMode.Callback",
    "android.view.ActionMode$Callback2" : "ActionMode.Callback2",
    "android.view.ActionProvider" : "ActionProvider",
    "android.view.ActionProvider$VisibilityListener" : "ActionProvider.VisibilityListener",
    "android.view.AttachedSurfaceControl" : "AttachedSurfaceControl",
    "android.view.AttachedSurfaceControl$OnBufferTransformHintChangedListener" : "AttachedSurfaceControl.OnBufferTransformHintChangedListener",
    "android.view.Choreographer" : "Choreographer",
    "android.view.Choreographer$FrameCallback" : "Choreographer.FrameCallback",
    "android.view.Choreographer$FrameData" : "Choreographer.FrameData",
    "android.view.Choreographer$FrameTimeline" : "Choreographer.FrameTimeline",
    "android.view.Choreographer$VsyncCallback" : "Choreographer.VsyncCallback",
    "android.view.CollapsibleActionView" : "CollapsibleActionView",
    "android.view.ContentInfo" : "ContentInfo",
    "android.view.ContentInfo$Builder" : "ContentInfo.Builder",
    "android.view.ContextMenu" : "ContextMenu",
    "android.view.ContextMenu$ContextMenuInfo" : "ContextMenu.ContextMenuInfo",
    "android.view.ContextThemeWrapper" : "ContextThemeWrapper",
    "android.view.Display" : "Display",
    "android.view.Display$HdrCapabilities" : "Display.HdrCapabilities",
    "android.view.Display$Mode" : "Display.Mode",
    "android.view.DisplayCutout" : "DisplayCutout",
    "android.view.DisplayCutout$Builder" : "DisplayCutout.Builder",
    "android.view.DragAndDropPermissions" : "DragAndDropPermissions",
    "android.view.DragEvent" : "DragEvent",
    "android.view.FocusFinder" : "FocusFinder",
    "android.view.FrameMetrics" : "FrameMetrics",
    "android.view.FrameStats" : "FrameStats",
    "android.view.GestureDetector" : "GestureDetector",
    "android.view.GestureDetector$OnContextClickListener" : "GestureDetector.OnContextClickListener",
    "android.view.GestureDetector$OnDoubleTapListener" : "GestureDetector.OnDoubleTapListener",
    "android.view.GestureDetector$OnGestureListener" : "GestureDetector.OnGestureListener",
    "android.view.GestureDetector$SimpleOnGestureListener" : "GestureDetector.SimpleOnGestureListener",
    "android.view.Gravity" : "Gravity",
    "android.view.HapticFeedbackConstants" : "HapticFeedbackConstants",
    "android.view.InflateException" : "InflateException",
    "android.view.InputDevice" : "InputDevice",
    "android.view.InputDevice$MotionRange" : "InputDevice.MotionRange",
    "android.view.InputEvent" : "InputEvent",
    "android.view.InputQueue" : "InputQueue",
    "android.view.InputQueue$Callback" : "InputQueue.Callback",
    "android.view.KeyCharacterMap" : "KeyCharacterMap",
    "android.view.KeyCharacterMap$KeyData" : "KeyCharacterMap.KeyData",
    "android.view.KeyCharacterMap$UnavailableException" : "KeyCharacterMap.UnavailableException",
    "android.view.KeyEvent" : "KeyEvent",
    "android.view.KeyEvent$Callback" : "KeyEvent.Callback",
    "android.view.KeyEvent$DispatcherState" : "KeyEvent.DispatcherState",
    "android.view.KeyboardShortcutGroup" : "KeyboardShortcutGroup",
    "android.view.KeyboardShortcutInfo" : "KeyboardShortcutInfo",
    "android.view.LayoutInflater" : "LayoutInflater",
    "android.view.LayoutInflater$Factory" : "LayoutInflater.Factory",
    "android.view.LayoutInflater$Factory2" : "LayoutInflater.Factory2",
    "android.view.LayoutInflater$Filter" : "LayoutInflater.Filter",
    "android.view.Menu" : "Menu",
    "android.view.MenuInflater" : "MenuInflater",
    "android.view.MenuItem" : "MenuItem",
    "android.view.MenuItem$OnActionExpandListener" : "MenuItem.OnActionExpandListener",
    "android.view.MenuItem$OnMenuItemClickListener" : "MenuItem.OnMenuItemClickListener",
    "android.view.MotionEvent" : "MotionEvent",
    "android.view.MotionEvent$PointerCoords" : "MotionEvent.PointerCoords",
    "android.view.MotionEvent$PointerProperties" : "MotionEvent.PointerProperties",
    "android.view.OnReceiveContentListener" : "OnReceiveContentListener",
    "android.view.OrientationEventListener" : "OrientationEventListener",
    "android.view.OrientationListener" : "OrientationListener",
    "android.view.PixelCopy" : "PixelCopy",
    "android.view.PixelCopy$OnPixelCopyFinishedListener" : "PixelCopy.OnPixelCopyFinishedListener",
    "android.view.PointerIcon" : "PointerIcon",
    "android.view.RoundedCorner" : "RoundedCorner",
    "android.view.ScaleGestureDetector" : "ScaleGestureDetector",
    "android.view.ScaleGestureDetector$OnScaleGestureListener" : "ScaleGestureDetector.OnScaleGestureListener",
    "android.view.ScaleGestureDetector$SimpleOnScaleGestureListener" : "ScaleGestureDetector.SimpleOnScaleGestureListener",
    "android.view.ScrollCaptureCallback" : "ScrollCaptureCallback",
    "android.view.ScrollCaptureSession" : "ScrollCaptureSession",
    "android.view.ScrollCaptureTarget" : "ScrollCaptureTarget",
    "android.view.SearchEvent" : "SearchEvent",
    "android.view.SoundEffectConstants" : "SoundEffectConstants",
    "android.view.SubMenu" : "SubMenu",
    "android.view.Surface" : "Surface",
    "android.view.Surface$OutOfResourcesException" : "Surface.OutOfResourcesException",
    "android.view.SurfaceControl" : "SurfaceControl",
    "android.view.SurfaceControl$Builder" : "SurfaceControl.Builder",
    "android.view.SurfaceControl$Transaction" : "SurfaceControl.Transaction",
    "android.view.SurfaceControl$TransactionCommittedListener" : "SurfaceControl.TransactionCommittedListener",
    "android.view.SurfaceControlViewHost" : "SurfaceControlViewHost",
    "android.view.SurfaceControlViewHost$SurfacePackage" : "SurfaceControlViewHost.SurfacePackage",
    "android.view.SurfaceHolder" : "SurfaceHolder",
    "android.view.SurfaceHolder$BadSurfaceTypeException" : "SurfaceHolder.BadSurfaceTypeException",
    "android.view.SurfaceHolder$Callback" : "SurfaceHolder.Callback",
    "android.view.SurfaceHolder$Callback2" : "SurfaceHolder.Callback2",
    "android.view.SurfaceView" : "SurfaceView",
    "android.view.TextureView" : "TextureView",
    "android.view.TextureView$SurfaceTextureListener" : "TextureView.SurfaceTextureListener",
    "android.view.TouchDelegate" : "TouchDelegate",
    "android.view.VelocityTracker" : "VelocityTracker",
    "android.view.VerifiedInputEvent" : "VerifiedInputEvent",
    "android.view.VerifiedKeyEvent" : "VerifiedKeyEvent",
    "android.view.VerifiedMotionEvent" : "VerifiedMotionEvent",
    "android.view.View" : "View",
    "android.view.View$AccessibilityDelegate" : "View.AccessibilityDelegate",
    "android.view.View$BaseSavedState" : "View.BaseSavedState",
    "android.view.View$DragShadowBuilder" : "View.DragShadowBuilder",
    "android.view.View$MeasureSpec" : "View.MeasureSpec",
    "android.view.View$OnApplyWindowInsetsListener" : "View.OnApplyWindowInsetsListener",
    "android.view.View$OnAttachStateChangeListener" : "View.OnAttachStateChangeListener",
    "android.view.View$OnCapturedPointerListener" : "View.OnCapturedPointerListener",
    "android.view.View$OnClickListener" : "View.OnClickListener",
    "android.view.View$OnContextClickListener" : "View.OnContextClickListener",
    "android.view.View$OnCreateContextMenuListener" : "View.OnCreateContextMenuListener",
    "android.view.View$OnDragListener" : "View.OnDragListener",
    "android.view.View$OnFocusChangeListener" : "View.OnFocusChangeListener",
    "android.view.View$OnGenericMotionListener" : "View.OnGenericMotionListener",
    "android.view.View$OnHoverListener" : "View.OnHoverListener",
    "android.view.View$OnKeyListener" : "View.OnKeyListener",
    "android.view.View$OnLayoutChangeListener" : "View.OnLayoutChangeListener",
    "android.view.View$OnLongClickListener" : "View.OnLongClickListener",
    "android.view.View$OnScrollChangeListener" : "View.OnScrollChangeListener",
    "android.view.View$OnSystemUiVisibilityChangeListener" : "View.OnSystemUiVisibilityChangeListener",
    "android.view.View$OnTouchListener" : "View.OnTouchListener",
    "android.view.View$OnUnhandledKeyEventListener" : "View.OnUnhandledKeyEventListener",
    "android.view.ViewAnimationUtils" : "ViewAnimationUtils",
    "android.view.ViewConfiguration" : "ViewConfiguration",
    "android.view.ViewDebug" : "ViewDebug",
    "android.view.ViewDebug$CapturedViewProperty" : "ViewDebug.CapturedViewProperty",
    "android.view.ViewDebug$ExportedProperty" : "ViewDebug.ExportedProperty",
    "android.view.ViewDebug$FlagToString" : "ViewDebug.FlagToString",
    "android.view.ViewDebug$HierarchyTraceType" : "ViewDebug.HierarchyTraceType",
    "android.view.ViewDebug$IntToString" : "ViewDebug.IntToString",
    "android.view.ViewDebug$RecyclerTraceType" : "ViewDebug.RecyclerTraceType",
    "android.view.ViewGroup" : "ViewGroup",
    "android.view.ViewGroup$LayoutParams" : "ViewGroup.LayoutParams",
    "android.view.ViewGroup$MarginLayoutParams" : "ViewGroup.MarginLayoutParams",
    "android.view.ViewGroup$OnHierarchyChangeListener" : "ViewGroup.OnHierarchyChangeListener",
    "android.view.ViewGroupOverlay" : "ViewGroupOverlay",
    "android.view.ViewManager" : "ViewManager",
    "android.view.ViewOutlineProvider" : "ViewOutlineProvider",
    "android.view.ViewOverlay" : "ViewOverlay",
    "android.view.ViewParent" : "ViewParent",
    "android.view.ViewPropertyAnimator" : "ViewPropertyAnimator",
    "android.view.ViewStructure" : "ViewStructure",
    "android.view.ViewStructure$HtmlInfo" : "ViewStructure.HtmlInfo",
    "android.view.ViewStructure$HtmlInfo$Builder" : "ViewStructure.HtmlInfo.Builder",
    "android.view.ViewStub" : "ViewStub",
    "android.view.ViewStub$OnInflateListener" : "ViewStub.OnInflateListener",
    "android.view.ViewTreeObserver" : "ViewTreeObserver",
    "android.view.ViewTreeObserver$OnDrawListener" : "ViewTreeObserver.OnDrawListener",
    "android.view.ViewTreeObserver$OnGlobalFocusChangeListener" : "ViewTreeObserver.OnGlobalFocusChangeListener",
    "android.view.ViewTreeObserver$OnGlobalLayoutListener" : "ViewTreeObserver.OnGlobalLayoutListener",
    "android.view.ViewTreeObserver$OnPreDrawListener" : "ViewTreeObserver.OnPreDrawListener",
    "android.view.ViewTreeObserver$OnScrollChangedListener" : "ViewTreeObserver.OnScrollChangedListener",
    "android.view.ViewTreeObserver$OnTouchModeChangeListener" : "ViewTreeObserver.OnTouchModeChangeListener",
    "android.view.ViewTreeObserver$OnWindowAttachListener" : "ViewTreeObserver.OnWindowAttachListener",
    "android.view.ViewTreeObserver$OnWindowFocusChangeListener" : "ViewTreeObserver.OnWindowFocusChangeListener",
    "android.view.Window" : "Window",
    "android.view.Window$Callback" : "Window.Callback",
    "android.view.Window$OnFrameMetricsAvailableListener" : "Window.OnFrameMetricsAvailableListener",
    "android.view.Window$OnRestrictedCaptionAreaChangedListener" : "Window.OnRestrictedCaptionAreaChangedListener",
    "android.view.WindowAnimationFrameStats" : "WindowAnimationFrameStats",
    "android.view.WindowContentFrameStats" : "WindowContentFrameStats",
    "android.view.WindowId" : "WindowId",
    "android.view.WindowId$FocusObserver" : "WindowId.FocusObserver",
    "android.view.WindowInsets" : "WindowInsets",
    "android.view.WindowInsets$Builder" : "WindowInsets.Builder",
    "android.view.WindowInsets$Side" : "WindowInsets.Side",
    "android.view.WindowInsets$Type" : "WindowInsetsType",
    "android.view.WindowInsetsAnimation" : "WindowInsetsAnimation",
    "android.view.WindowInsetsAnimation$Bounds" : "WindowInsetsAnimation.Bounds",
    "android.view.WindowInsetsAnimation$Callback" : "WindowInsetsAnimation.Callback",
    "android.view.WindowInsetsAnimationControlListener" : "WindowInsetsAnimationControlListener",
    "android.view.WindowInsetsAnimationController" : "WindowInsetsAnimationController",
    "android.view.WindowInsetsController" : "WindowInsetsController",
    "android.view.WindowInsetsController$OnControllableInsetsChangedListener" : "WindowInsetsController.OnControllableInsetsChangedListener",
    "android.view.WindowManager" : "WindowManager",
    "android.view.WindowManager$BadTokenException" : "WindowManager.BadTokenException",
    "android.view.WindowManager$InvalidDisplayException" : "WindowManager.InvalidDisplayException",
    "android.view.WindowManager$LayoutParams" : "WindowManager.LayoutParams",
    "android.view.WindowMetrics" : "WindowMetrics",
    "android.view.animation.AccelerateInterpolator" : "AccelerateInterpolator",
    "android.view.animation.AlphaAnimation" : "AlphaAnimation",
    "android.view.animation.Animation" : "Animation",
    "android.view.animation.Animation$AnimationListener" : "Animation.AnimationListener",
    "android.view.animation.Animation$Description" : "Animation.Description",
    "android.view.animation.AnimationSet" : "AnimationSet",
    "android.view.animation.AnimationUtils" : "AnimationUtils",
    "android.view.animation.AnticipateInterpolator" : "AnticipateInterpolator",
    "android.view.animation.AnticipateOvershootInterpolator" : "AnticipateOvershootInterpolator",
    "android.view.animation.BaseInterpolator" : "BaseInterpolator",
    "android.view.animation.BounceInterpolator" : "BounceInterpolator",
    "android.view.animation.CycleInterpolator" : "CycleInterpolator",
    "android.view.animation.DecelerateInterpolator" : "DecelerateInterpolator",
    "android.view.animation.GridLayoutAnimationController" : "GridLayoutAnimationController",
    "android.view.animation.GridLayoutAnimationController$AnimationParameters" : "GridLayoutAnimationController.AnimationParameters",
    "android.view.animation.Interpolator" : "Interpolator",
    "android.view.animation.LayoutAnimationController" : "LayoutAnimationController",
    "android.view.animation.LayoutAnimationController$AnimationParameters" : "LayoutAnimationController.AnimationParameters",
    "android.view.animation.LinearInterpolator" : "LinearInterpolator",
    "android.view.animation.OvershootInterpolator" : "OvershootInterpolator",
    "android.view.animation.PathInterpolator" : "PathInterpolator",
    "android.view.animation.RotateAnimation" : "RotateAnimation",
    "android.view.animation.ScaleAnimation" : "ScaleAnimation",
    "android.view.animation.Transformation" : "Transformation",
    "android.view.animation.TranslateAnimation" : "TranslateAnimation",
    "android.view.autofill.AutofillId" : "AutofillId",
    "android.view.autofill.AutofillManager" : "AutofillManager",
    "android.view.autofill.AutofillManager$AutofillCallback" : "AutofillManager.AutofillCallback",
    "android.view.autofill.AutofillValue" : "AutofillValue",
  },
  "classpath" : "android.jar"
}
