{
  "classes" : {
    "android.animation.Animator" : "Animator",
    "android.animation.Animator$AnimatorListener" : "Animator.AnimatorListener",
    "android.animation.Animator$AnimatorPauseListener" : "Animator.AnimatorPauseListener",
    "android.animation.AnimatorInflater" : "AnimatorInflater",
    "android.animation.AnimatorListenerAdapter" : "AnimatorListenerAdapter",
    "android.animation.AnimatorSet" : "AnimatorSet",
    "android.animation.AnimatorSet$Builder" : "AnimatorSet.Builder",
    "android.animation.ArgbEvaluator" : "ArgbEvaluator",
    "android.animation.BidirectionalTypeConverter" : "BidirectionalTypeConverter",
    "android.animation.FloatArrayEvaluator" : "FloatArrayEvaluator",
    "android.animation.FloatEvaluator" : "FloatEvaluator",
    "android.animation.IntArrayEvaluator" : "IntArrayEvaluator",
    "android.animation.IntEvaluator" : "IntEvaluator",
    "android.animation.Keyframe" : "Keyframe",
    "android.animation.LayoutTransition" : "LayoutTransition",
    "android.animation.LayoutTransition$TransitionListener" : "LayoutTransition.TransitionListener",
    "android.animation.ObjectAnimator" : "ObjectAnimator",
    "android.animation.PointFEvaluator" : "PointFEvaluator",
    "android.animation.PropertyValuesHolder" : "PropertyValuesHolder",
    "android.animation.RectEvaluator" : "RectEvaluator",
    "android.animation.StateListAnimator" : "StateListAnimator",
    "android.animation.TimeAnimator" : "TimeAnimator",
    "android.animation.TimeAnimator$TimeListener" : "TimeAnimator.TimeListener",
    "android.animation.TimeInterpolator" : "TimeInterpolator",
    "android.animation.TypeConverter" : "TypeConverter",
    "android.animation.TypeEvaluator" : "TypeEvaluator",
    "android.animation.ValueAnimator" : "ValueAnimator",
    "android.animation.ValueAnimator$AnimatorUpdateListener" : "ValueAnimator.AnimatorUpdateListener",
    "android.animation.ValueAnimator$DurationScaleChangeListener" : "ValueAnimator.DurationScaleChangeListener"
  },
  "classpath" : "android.jar"
}
