{
  "classes" : {
    "com.google.android.material.animation.AnimatableView" : "AnimatableView",
    "com.google.android.material.animation.AnimatableView$Listener" : "AnimatableView.Listener",
    "com.google.android.material.animation.AnimationUtils" : "AnimationUtils",
    "com.google.android.material.animation.AnimatorSetCompat" : "AnimatorSetCompat",
    "com.google.android.material.animation.ArgbEvaluatorCompat" : "ArgbEvaluatorCompat",
    "com.google.android.material.animation.ChildrenAlphaProperty" : "ChildrenAlphaProperty",
    "com.google.android.material.animation.DrawableAlphaProperty" : "DrawableAlphaProperty",
    "com.google.android.material.animation.ImageMatrixProperty" : "ImageMatrixProperty",
    "com.google.android.material.animation.MatrixEvaluator" : "MatrixEvaluator",
    "com.google.android.material.animation.MotionSpec" : "MotionSpec",
    "com.google.android.material.animation.MotionTiming" : "MotionTiming",
    "com.google.android.material.animation.Positioning" : "Positioning",
    "com.google.android.material.animation.TransformationCallback" : "TransformationCallback",
    "com.google.android.material.appbar.AppBarLayout" : "AppBarLayout",
    "com.google.android.material.appbar.AppBarLayout$BaseBehavior" : "AppBarLayout.BaseBehavior",
    "com.google.android.material.appbar.AppBarLayout$BaseBehavior$BaseDragCallback" : "AppBarLayout.BaseBehavior.BaseDragCallback",
    "com.google.android.material.appbar.AppBarLayout$BaseBehavior$SavedState" : "AppBarLayout.BaseBehavior.SavedState",
    "com.google.android.material.appbar.AppBarLayout$BaseOnOffsetChangedListener" : "AppBarLayout.BaseOnOffsetChangedListener",
    "com.google.android.material.appbar.AppBarLayout$Behavior" : "AppBarLayout.Behavior",
    "com.google.android.material.appbar.AppBarLayout$Behavior$DragCallback" : "AppBarLayout.Behavior.DragCallback",
    "com.google.android.material.appbar.AppBarLayout$ChildScrollEffect" : "AppBarLayout.ChildScrollEffect",
    "com.google.android.material.appbar.AppBarLayout$CompressChildScrollEffect" : "AppBarLayout.CompressChildScrollEffect",
    "com.google.android.material.appbar.AppBarLayout$LayoutParams" : "AppBarLayout.LayoutParams",
    "com.google.android.material.appbar.AppBarLayout$LayoutParams$ScrollEffect" : "AppBarLayout.LayoutParams.ScrollEffect",
    "com.google.android.material.appbar.AppBarLayout$LayoutParams$ScrollFlags" : "AppBarLayout.LayoutParams.ScrollFlags",
    "com.google.android.material.appbar.AppBarLayout$LiftOnScrollListener" : "AppBarLayout.LiftOnScrollListener",
    "com.google.android.material.appbar.AppBarLayout$OnOffsetChangedListener" : "AppBarLayout.OnOffsetChangedListener",
    "com.google.android.material.appbar.AppBarLayout$ScrollingViewBehavior" : "AppBarLayout.ScrollingViewBehavior",
    "com.google.android.material.appbar.CollapsingToolbarLayout" : "CollapsingToolbarLayout",
    "com.google.android.material.appbar.CollapsingToolbarLayout$LayoutParams" : "CollapsingToolbarLayout.LayoutParams",
    "com.google.android.material.appbar.CollapsingToolbarLayout$OffsetUpdateListener" : "CollapsingToolbarLayout.OffsetUpdateListener",
    "com.google.android.material.appbar.CollapsingToolbarLayout$StaticLayoutBuilderConfigurer" : "CollapsingToolbarLayout.StaticLayoutBuilderConfigurer",
    "com.google.android.material.appbar.CollapsingToolbarLayout$TitleCollapseMode" : "CollapsingToolbarLayout.TitleCollapseMode",
    "com.google.android.material.appbar.HeaderBehavior" : "HeaderBehavior",
    "com.google.android.material.appbar.HeaderBehavior$FlingRunnable" : "HeaderBehavior.FlingRunnable",
    "com.google.android.material.appbar.HeaderScrollingViewBehavior" : "HeaderScrollingViewBehavior",
    "com.google.android.material.appbar.MaterialToolbar" : "MaterialToolbar",
    "com.google.android.material.appbar.ViewOffsetBehavior" : "ViewOffsetBehavior",
    "com.google.android.material.appbar.ViewOffsetHelper" : "ViewOffsetHelper",
    "com.google.android.material.appbar.ViewUtilsLollipop" : "ViewUtilsLollipop",
    "com.google.android.material.badge.BadgeDrawable" : "BadgeDrawable",
    "com.google.android.material.badge.BadgeDrawable$BadgeGravity" : "BadgeDrawable.BadgeGravity",
    "com.google.android.material.badge.BadgeState" : "BadgeState",
    "com.google.android.material.badge.BadgeState$State" : "BadgeState.State",
    "com.google.android.material.badge.BadgeUtils" : "BadgeUtils",
    "com.google.android.material.badge.ExperimentalBadgeUtils" : "ExperimentalBadgeUtils",
    "com.google.android.material.behavior.HideBottomViewOnScrollBehavior" : "HideBottomViewOnScrollBehavior",
    "com.google.android.material.behavior.HideBottomViewOnScrollBehavior$OnScrollStateChangedListener" : "HideBottomViewOnScrollBehavior.OnScrollStateChangedListener",
    "com.google.android.material.behavior.HideBottomViewOnScrollBehavior$ScrollState" : "HideBottomViewOnScrollBehavior.ScrollState",
    "com.google.android.material.behavior.SwipeDismissBehavior" : "SwipeDismissBehavior",
    "com.google.android.material.behavior.SwipeDismissBehavior$OnDismissListener" : "SwipeDismissBehavior.OnDismissListener",
    "com.google.android.material.behavior.SwipeDismissBehavior$SettleRunnable" : "SwipeDismissBehavior.SettleRunnable",
    "com.google.android.material.bottomappbar.BottomAppBar" : "BottomAppBar",
    "com.google.android.material.bottomappbar.BottomAppBar$AnimationListener" : "BottomAppBar.AnimationListener",
    "com.google.android.material.bottomappbar.BottomAppBar$Behavior" : "BottomAppBar.Behavior",
    "com.google.android.material.bottomappbar.BottomAppBar$FabAlignmentMode" : "BottomAppBar.FabAlignmentMode",
    "com.google.android.material.bottomappbar.BottomAppBar$FabAnchorMode" : "BottomAppBar.FabAnchorMode",
    "com.google.android.material.bottomappbar.BottomAppBar$FabAnimationMode" : "BottomAppBar.FabAnimationMode",
    "com.google.android.material.bottomappbar.BottomAppBar$MenuAlignmentMode" : "BottomAppBar.MenuAlignmentMode",
    "com.google.android.material.bottomappbar.BottomAppBar$SavedState" : "BottomAppBar.SavedState",
    "com.google.android.material.bottomappbar.BottomAppBarTopEdgeTreatment" : "BottomAppBarTopEdgeTreatment",
    "com.google.android.material.bottomnavigation.BottomNavigationItemView" : "BottomNavigationItemView",
    "com.google.android.material.bottomnavigation.BottomNavigationMenuView" : "BottomNavigationMenuView",
    "com.google.android.material.bottomnavigation.BottomNavigationView" : "BottomNavigationView",
    "com.google.android.material.bottomnavigation.BottomNavigationView$OnNavigationItemReselectedListener" : "BottomNavigationView.OnNavigationItemReselectedListener",
    "com.google.android.material.bottomnavigation.BottomNavigationView$OnNavigationItemSelectedListener" : "BottomNavigationView.OnNavigationItemSelectedListener",
    "com.google.android.material.bottomnavigation.LabelVisibilityMode" : "LabelVisibilityMode",
    "com.google.android.material.bottomsheet.BottomSheetBehavior" : "BottomSheetBehavior",
    "com.google.android.material.bottomsheet.BottomSheetBehavior$BottomSheetCallback" : "BottomSheetBehavior.BottomSheetCallback",
    "com.google.android.material.bottomsheet.BottomSheetBehavior$SaveFlags" : "BottomSheetBehavior.SaveFlags",
    "com.google.android.material.bottomsheet.BottomSheetBehavior$SavedState" : "BottomSheetBehavior.SavedState",
    "com.google.android.material.bottomsheet.BottomSheetBehavior$StableState" : "BottomSheetBehavior.StableState",
    "com.google.android.material.bottomsheet.BottomSheetBehavior$State" : "BottomSheetBehavior.State",
    "com.google.android.material.bottomsheet.BottomSheetBehavior$StateSettlingTracker" : "BottomSheetBehavior.StateSettlingTracker",
    "com.google.android.material.bottomsheet.BottomSheetDialog" : "BottomSheetDialog",
    "com.google.android.material.bottomsheet.BottomSheetDialog$EdgeToEdgeCallback" : "BottomSheetDialog.EdgeToEdgeCallback",
    "com.google.android.material.bottomsheet.BottomSheetDialogFragment" : "BottomSheetDialogFragment",
    "com.google.android.material.bottomsheet.BottomSheetDialogFragment$BottomSheetDismissCallback" : "BottomSheetDialogFragment.BottomSheetDismissCallback",
    "com.google.android.material.bottomsheet.BottomSheetDragHandleView" : "BottomSheetDragHandleView",
    "com.google.android.material.bottomsheet.InsetsAnimationCallback" : "InsetsAnimationCallback",
    "com.google.android.material.button.MaterialButton" : "MaterialButton",
    "com.google.android.material.button.MaterialButton$IconGravity" : "MaterialButton.IconGravity",
    "com.google.android.material.button.MaterialButton$InspectionCompanion" : "MaterialButton.InspectionCompanion",
    "com.google.android.material.button.MaterialButton$OnCheckedChangeListener" : "MaterialButton.OnCheckedChangeListener",
    "com.google.android.material.button.MaterialButton$OnPressedChangeListener" : "MaterialButton.OnPressedChangeListener",
    "com.google.android.material.button.MaterialButton$SavedState" : "MaterialButton.SavedState",
    "com.google.android.material.button.MaterialButtonHelper" : "MaterialButtonHelper",
    "com.google.android.material.button.MaterialButtonToggleGroup" : "MaterialButtonToggleGroup",
    "com.google.android.material.button.MaterialButtonToggleGroup$CornerData" : "MaterialButtonToggleGroup.CornerData",
    "com.google.android.material.button.MaterialButtonToggleGroup$OnButtonCheckedListener" : "MaterialButtonToggleGroup.OnButtonCheckedListener",
    "com.google.android.material.button.MaterialButtonToggleGroup$PressedStateTracker" : "MaterialButtonToggleGroup.PressedStateTracker",
    "com.google.android.material.canvas.CanvasCompat" : "CanvasCompat",
    "com.google.android.material.canvas.CanvasCompat$CanvasOperation" : "CanvasCompat.CanvasOperation",
    "com.google.android.material.card.MaterialCardView" : "MaterialCardView",
    "com.google.android.material.card.MaterialCardView$CheckedIconGravity" : "MaterialCardView.CheckedIconGravity",
    "com.google.android.material.card.MaterialCardView$OnCheckedChangeListener" : "MaterialCardView.OnCheckedChangeListener",
    "com.google.android.material.card.MaterialCardViewHelper" : "MaterialCardViewHelper",
    "com.google.android.material.carousel.Arrangement" : "Arrangement",
    "com.google.android.material.carousel.Carousel" : "Carousel",
    "com.google.android.material.carousel.CarouselLayoutManager" : "CarouselLayoutManager",
    "com.google.android.material.carousel.CarouselLayoutManager$ChildCalculations" : "CarouselLayoutManager.ChildCalculations",
    "com.google.android.material.carousel.CarouselLayoutManager$DebugItemDecoration" : "CarouselLayoutManager.DebugItemDecoration",
    "com.google.android.material.carousel.CarouselLayoutManager$KeylineRange" : "CarouselLayoutManager.KeylineRange",
    "com.google.android.material.carousel.CarouselLayoutManager$LayoutDirection" : "CarouselLayoutManager.LayoutDirection",
    "com.google.android.material.carousel.CarouselOrientationHelper" : "CarouselOrientationHelper",
    "com.google.android.material.carousel.CarouselSnapHelper" : "CarouselSnapHelper",
    "com.google.android.material.carousel.CarouselStrategy" : "CarouselStrategy",
    "com.google.android.material.carousel.CarouselStrategyHelper" : "CarouselStrategyHelper",
    "com.google.android.material.carousel.FullScreenCarouselStrategy" : "FullScreenCarouselStrategy",
    "com.google.android.material.carousel.HeroCarouselStrategy" : "HeroCarouselStrategy",
    "com.google.android.material.carousel.KeylineState" : "KeylineState",
    "com.google.android.material.carousel.KeylineState$Builder" : "KeylineState.Builder",
    "com.google.android.material.carousel.KeylineState$Keyline" : "KeylineState.Keyline",
    "com.google.android.material.carousel.KeylineStateList" : "KeylineStateList",
    "com.google.android.material.carousel.Maskable" : "Maskable",
    "com.google.android.material.carousel.MaskableFrameLayout" : "MaskableFrameLayout",
    "com.google.android.material.carousel.MultiBrowseCarouselStrategy" : "MultiBrowseCarouselStrategy",
    "com.google.android.material.carousel.OnMaskChangedListener" : "OnMaskChangedListener",
    "com.google.android.material.carousel.UncontainedCarouselStrategy" : "UncontainedCarouselStrategy",
    "com.google.android.material.checkbox.MaterialCheckBox" : "MaterialCheckBox",
    "com.google.android.material.checkbox.MaterialCheckBox$CheckedState" : "MaterialCheckBox.CheckedState",
    "com.google.android.material.checkbox.MaterialCheckBox$OnCheckedStateChangedListener" : "MaterialCheckBox.OnCheckedStateChangedListener",
    "com.google.android.material.checkbox.MaterialCheckBox$OnErrorChangedListener" : "MaterialCheckBox.OnErrorChangedListener",
    "com.google.android.material.checkbox.MaterialCheckBox$SavedState" : "MaterialCheckBox.SavedState",
    "com.google.android.material.chip.Chip" : "Chip",
    "com.google.android.material.chip.Chip$ChipTouchHelper" : "Chip.ChipTouchHelper",
    "com.google.android.material.chip.ChipDrawable" : "ChipDrawable",
    "com.google.android.material.chip.ChipDrawable$Delegate" : "ChipDrawable.Delegate",
    "com.google.android.material.chip.ChipGroup" : "ChipGroup",
    "com.google.android.material.chip.ChipGroup$LayoutParams" : "ChipGroup.LayoutParams",
    "com.google.android.material.chip.ChipGroup$OnCheckedChangeListener" : "ChipGroup.OnCheckedChangeListener",
    "com.google.android.material.chip.ChipGroup$OnCheckedStateChangeListener" : "ChipGroup.OnCheckedStateChangeListener",
    "com.google.android.material.chip.ChipGroup$PassThroughHierarchyChangeListener" : "ChipGroup.PassThroughHierarchyChangeListener",
    "com.google.android.material.circularreveal.CircularRevealCompat" : "CircularRevealCompat",
    "com.google.android.material.circularreveal.CircularRevealFrameLayout" : "CircularRevealFrameLayout",
    "com.google.android.material.circularreveal.CircularRevealGridLayout" : "CircularRevealGridLayout",
    "com.google.android.material.circularreveal.CircularRevealHelper" : "CircularRevealHelper",
    "com.google.android.material.circularreveal.CircularRevealHelper$Delegate" : "CircularRevealHelper.Delegate",
    "com.google.android.material.circularreveal.CircularRevealHelper$Strategy" : "CircularRevealHelper.Strategy",
    "com.google.android.material.circularreveal.CircularRevealLinearLayout" : "CircularRevealLinearLayout",
    "com.google.android.material.circularreveal.CircularRevealRelativeLayout" : "CircularRevealRelativeLayout",
    "com.google.android.material.circularreveal.CircularRevealWidget" : "CircularRevealWidget",
    "com.google.android.material.circularreveal.CircularRevealWidget$CircularRevealEvaluator" : "CircularRevealWidget.CircularRevealEvaluator",
    "com.google.android.material.circularreveal.CircularRevealWidget$CircularRevealProperty" : "CircularRevealWidget.CircularRevealProperty",
    "com.google.android.material.circularreveal.CircularRevealWidget$CircularRevealScrimColorProperty" : "CircularRevealWidget.CircularRevealScrimColorProperty",
    "com.google.android.material.circularreveal.CircularRevealWidget$RevealInfo" : "CircularRevealWidget.RevealInfo",
    "com.google.android.material.circularreveal.cardview.CircularRevealCardView" : "CircularRevealCardView",
    "com.google.android.material.circularreveal.coordinatorlayout.CircularRevealCoordinatorLayout" : "CircularRevealCoordinatorLayout",
    "com.google.android.material.color.ColorContrast" : "ColorContrast",
    "com.google.android.material.color.ColorContrast$ColorContrastActivityLifecycleCallbacks" : "ColorContrast.ColorContrastActivityLifecycleCallbacks",
    "com.google.android.material.color.ColorContrastOptions" : "ColorContrastOptions",
    "com.google.android.material.color.ColorContrastOptions$Builder" : "ColorContrastOptions.Builder",
    "com.google.android.material.color.ColorResourcesLoaderCreator" : "ColorResourcesLoaderCreator",
    "com.google.android.material.color.ColorResourcesOverride" : "ColorResourcesOverride",
    "com.google.android.material.color.ColorResourcesTableCreator" : "ColorResourcesTableCreator",
    "com.google.android.material.color.ColorResourcesTableCreator$ColorResource" : "ColorResourcesTableCreator.ColorResource",
    "com.google.android.material.color.ColorResourcesTableCreator$PackageChunk" : "ColorResourcesTableCreator.PackageChunk",
    "com.google.android.material.color.ColorResourcesTableCreator$PackageInfo" : "ColorResourcesTableCreator.PackageInfo",
    "com.google.android.material.color.ColorResourcesTableCreator$ResChunkHeader" : "ColorResourcesTableCreator.ResChunkHeader",
    "com.google.android.material.color.ColorResourcesTableCreator$ResEntry" : "ColorResourcesTableCreator.ResEntry",
    "com.google.android.material.color.ColorResourcesTableCreator$ResTable" : "ColorResourcesTableCreator.ResTable",
    "com.google.android.material.color.ColorResourcesTableCreator$StringPoolChunk" : "ColorResourcesTableCreator.StringPoolChunk",
    "com.google.android.material.color.ColorResourcesTableCreator$StringStyledSpan" : "ColorResourcesTableCreator.StringStyledSpan",
    "com.google.android.material.color.ColorResourcesTableCreator$TypeChunk" : "ColorResourcesTableCreator.TypeChunk",
    "com.google.android.material.color.ColorResourcesTableCreator$TypeSpecChunk" : "ColorResourcesTableCreator.TypeSpecChunk",
    "com.google.android.material.color.ColorRoles" : "ColorRoles",
    "com.google.android.material.color.DynamicColors" : "DynamicColors",
    "com.google.android.material.color.DynamicColors$DeviceSupportCondition" : "DynamicColors.DeviceSupportCondition",
    "com.google.android.material.color.DynamicColors$DynamicColorsActivityLifecycleCallbacks" : "DynamicColors.DynamicColorsActivityLifecycleCallbacks",
    "com.google.android.material.color.DynamicColors$OnAppliedCallback" : "DynamicColors.OnAppliedCallback",
    "com.google.android.material.color.DynamicColors$Precondition" : "DynamicColors.Precondition",
    "com.google.android.material.color.DynamicColorsOptions" : "DynamicColorsOptions",
    "com.google.android.material.color.DynamicColorsOptions$Builder" : "DynamicColorsOptions.Builder",
    "com.google.android.material.color.HarmonizedColorAttributes" : "HarmonizedColorAttributes",
    "com.google.android.material.color.HarmonizedColors" : "HarmonizedColors",
    "com.google.android.material.color.HarmonizedColorsOptions" : "HarmonizedColorsOptions",
    "com.google.android.material.color.HarmonizedColorsOptions$Builder" : "HarmonizedColorsOptions.Builder",
    "com.google.android.material.color.MaterialColorUtilitiesHelper" : "MaterialColorUtilitiesHelper",
    "com.google.android.material.color.MaterialColors" : "MaterialColors",
    "com.google.android.material.color.ResourcesLoaderColorResourcesOverride" : "ResourcesLoaderColorResourcesOverride",
    "com.google.android.material.color.ResourcesLoaderColorResourcesOverride$ResourcesLoaderColorResourcesOverrideSingleton" : "ResourcesLoaderColorResourcesOverride.ResourcesLoaderColorResourcesOverrideSingleton",
    "com.google.android.material.color.ResourcesLoaderUtils" : "ResourcesLoaderUtils",
    "com.google.android.material.color.ThemeUtils" : "ThemeUtils",
    "com.google.android.material.color.utilities.Blend" : "Blend",
    "com.google.android.material.color.utilities.Cam16" : "Cam16",
    "com.google.android.material.color.utilities.ColorUtils" : "ColorUtils",
    "com.google.android.material.color.utilities.Contrast" : "Contrast",
    "com.google.android.material.color.utilities.ContrastCurve" : "ContrastCurve",
    "com.google.android.material.color.utilities.CorePalette" : "CorePalette",
    "com.google.android.material.color.utilities.DislikeAnalyzer" : "DislikeAnalyzer",
    "com.google.android.material.color.utilities.DynamicColor" : "DynamicColor",
    "com.google.android.material.color.utilities.DynamicScheme" : "DynamicScheme",
    "com.google.android.material.color.utilities.Hct" : "Hct",
    "com.google.android.material.color.utilities.HctSolver" : "HctSolver",
    "com.google.android.material.color.utilities.MaterialDynamicColors" : "MaterialDynamicColors",
    "com.google.android.material.color.utilities.MathUtils" : "ColorMathUtils",
    "com.google.android.material.color.utilities.PointProvider" : "PointProvider",
    "com.google.android.material.color.utilities.PointProviderLab" : "PointProviderLab",
    "com.google.android.material.color.utilities.Quantizer" : "Quantizer",
    "com.google.android.material.color.utilities.QuantizerCelebi" : "QuantizerCelebi",
    "com.google.android.material.color.utilities.QuantizerMap" : "QuantizerMap",
    "com.google.android.material.color.utilities.QuantizerResult" : "QuantizerResult",
    "com.google.android.material.color.utilities.QuantizerWsmeans" : "QuantizerWsmeans",
    "com.google.android.material.color.utilities.QuantizerWsmeans$Distance" : "QuantizerWsmeans.Distance",
    "com.google.android.material.color.utilities.QuantizerWu" : "QuantizerWu",
    "com.google.android.material.color.utilities.QuantizerWu$Box" : "QuantizerWu.Box",
    "com.google.android.material.color.utilities.QuantizerWu$CreateBoxesResult" : "QuantizerWu.CreateBoxesResult",
    "com.google.android.material.color.utilities.QuantizerWu$Direction" : "QuantizerWu.Direction",
    "com.google.android.material.color.utilities.QuantizerWu$MaximizeResult" : "QuantizerWu.MaximizeResult",
    "com.google.android.material.color.utilities.Scheme" : "Scheme",
    "com.google.android.material.color.utilities.SchemeContent" : "SchemeContent",
    "com.google.android.material.color.utilities.SchemeExpressive" : "SchemeExpressive",
    "com.google.android.material.color.utilities.SchemeFidelity" : "SchemeFidelity",
    "com.google.android.material.color.utilities.SchemeFruitSalad" : "SchemeFruitSalad",
    "com.google.android.material.color.utilities.SchemeMonochrome" : "SchemeMonochrome",
    "com.google.android.material.color.utilities.SchemeNeutral" : "SchemeNeutral",
    "com.google.android.material.color.utilities.SchemeRainbow" : "SchemeRainbow",
    "com.google.android.material.color.utilities.SchemeTonalSpot" : "SchemeTonalSpot",
    "com.google.android.material.color.utilities.SchemeVibrant" : "SchemeVibrant",
    "com.google.android.material.color.utilities.Score" : "Score",
    "com.google.android.material.color.utilities.Score$ScoredComparator" : "Score.ScoredComparator",
    "com.google.android.material.color.utilities.Score$ScoredHCT" : "Score.ScoredHCT",
    "com.google.android.material.color.utilities.TemperatureCache" : "TemperatureCache",
    "com.google.android.material.color.utilities.TonalPalette" : "TonalPalette",
    "com.google.android.material.color.utilities.ToneDeltaPair" : "ToneDeltaPair",
    "com.google.android.material.color.utilities.TonePolarity" : "TonePolarity",
    "com.google.android.material.color.utilities.Variant" : "Variant",
    "com.google.android.material.color.utilities.ViewingConditions" : "ViewingConditions",
    "com.google.android.material.datepicker.CalendarConstraints" : "CalendarConstraints",
    "com.google.android.material.datepicker.CalendarConstraints$Builder" : "CalendarConstraints.Builder",
    "com.google.android.material.datepicker.CalendarConstraints$DateValidator" : "CalendarConstraints.DateValidator",
    "com.google.android.material.datepicker.CalendarItemStyle" : "CalendarItemStyle",
    "com.google.android.material.datepicker.CalendarStyle" : "CalendarStyle",
    "com.google.android.material.datepicker.CompositeDateValidator" : "CompositeDateValidator",
    "com.google.android.material.datepicker.CompositeDateValidator$Operator" : "CompositeDateValidator.Operator",
    "com.google.android.material.datepicker.DateFormatTextWatcher" : "DateFormatTextWatcher",
    "com.google.android.material.datepicker.DateSelector" : "DateSelector",
    "com.google.android.material.datepicker.DateStrings" : "DateStrings",
    "com.google.android.material.datepicker.DateValidatorPointBackward" : "DateValidatorPointBackward",
    "com.google.android.material.datepicker.DateValidatorPointForward" : "DateValidatorPointForward",
    "com.google.android.material.datepicker.DayViewDecorator" : "DayViewDecorator",
    "com.google.android.material.datepicker.DaysOfWeekAdapter" : "DaysOfWeekAdapter",
    "com.google.android.material.datepicker.MaterialCalendar" : "MaterialCalendar",
    "com.google.android.material.datepicker.MaterialCalendar$CalendarSelector" : "MaterialCalendar.CalendarSelector",
    "com.google.android.material.datepicker.MaterialCalendar$OnDayClickListener" : "MaterialCalendar.OnDayClickListener",
    "com.google.android.material.datepicker.MaterialCalendarGridView" : "MaterialCalendarGridView",
    "com.google.android.material.datepicker.MaterialDatePicker" : "MaterialDatePicker",
    "com.google.android.material.datepicker.MaterialDatePicker$Builder" : "MaterialDatePicker.Builder",
    "com.google.android.material.datepicker.MaterialDatePicker$InputMode" : "MaterialDatePicker.InputMode",
    "com.google.android.material.datepicker.MaterialPickerOnPositiveButtonClickListener" : "MaterialPickerOnPositiveButtonClickListener",
    "com.google.android.material.datepicker.MaterialStyledDatePickerDialog" : "MaterialStyledDatePickerDialog",
    "com.google.android.material.datepicker.MaterialTextInputPicker" : "MaterialTextInputPicker",
    "com.google.android.material.datepicker.Month" : "Month",
    "com.google.android.material.datepicker.MonthAdapter" : "MonthAdapter",
    "com.google.android.material.datepicker.MonthsPagerAdapter" : "MonthsPagerAdapter",
    "com.google.android.material.datepicker.MonthsPagerAdapter$ViewHolder" : "MonthsPagerAdapter.ViewHolder",
    "com.google.android.material.datepicker.OnSelectionChangedListener" : "OnSelectionChangedListener",
    "com.google.android.material.datepicker.PickerFragment" : "PickerFragment",
    "com.google.android.material.datepicker.RangeDateSelector" : "RangeDateSelector",
    "com.google.android.material.datepicker.SingleDateSelector" : "SingleDateSelector",
    "com.google.android.material.datepicker.SmoothCalendarLayoutManager" : "SmoothCalendarLayoutManager",
    "com.google.android.material.datepicker.TimeSource" : "TimeSource",
    "com.google.android.material.datepicker.UtcDates" : "UtcDates",
    "com.google.android.material.datepicker.YearGridAdapter" : "YearGridAdapter",
    "com.google.android.material.datepicker.YearGridAdapter$ViewHolder" : "YearGridAdapter.ViewHolder",
    "com.google.android.material.dialog.InsetDialogOnTouchListener" : "InsetDialogOnTouchListener",
    "com.google.android.material.dialog.MaterialAlertDialogBuilder" : "MaterialAlertDialogBuilder",
    "com.google.android.material.dialog.MaterialDialogs" : "MaterialDialogs",
    "com.google.android.material.divider.MaterialDivider" : "MaterialDivider",
    "com.google.android.material.divider.MaterialDividerItemDecoration" : "MaterialDividerItemDecoration",
    "com.google.android.material.drawable.DrawableUtils" : "DrawableUtils",
    "com.google.android.material.drawable.DrawableUtils$OutlineCompatL" : "DrawableUtils.OutlineCompatL",
    "com.google.android.material.drawable.DrawableUtils$OutlineCompatR" : "DrawableUtils.OutlineCompatR",
    "com.google.android.material.drawable.ScaledDrawableWrapper" : "ScaledDrawableWrapper",
    "com.google.android.material.elevation.ElevationOverlayProvider" : "ElevationOverlayProvider",
    "com.google.android.material.elevation.SurfaceColors" : "SurfaceColors",
    "com.google.android.material.expandable.ExpandableTransformationWidget" : "ExpandableTransformationWidget",
    "com.google.android.material.expandable.ExpandableWidget" : "ExpandableWidget",
    "com.google.android.material.expandable.ExpandableWidgetHelper" : "ExpandableWidgetHelper",
    "com.google.android.material.floatingactionbutton.AnimatorTracker" : "AnimatorTracker",
    "com.google.android.material.floatingactionbutton.BaseMotionStrategy" : "BaseMotionStrategy",
    "com.google.android.material.floatingactionbutton.BorderDrawable" : "BorderDrawable",
    "com.google.android.material.floatingactionbutton.BorderDrawable$BorderState" : "BorderDrawable.BorderState",
    "com.google.android.material.floatingactionbutton.ExtendedFloatingActionButton" : "ExtendedFloatingActionButton",
    "com.google.android.material.floatingactionbutton.ExtendedFloatingActionButton$ChangeSizeStrategy" : "ExtendedFloatingActionButton.ChangeSizeStrategy",
    "com.google.android.material.floatingactionbutton.ExtendedFloatingActionButton$ExtendedFloatingActionButtonBehavior" : "ExtendedFloatingActionButton.ExtendedFloatingActionButtonBehavior",
    "com.google.android.material.floatingactionbutton.ExtendedFloatingActionButton$HideStrategy" : "ExtendedFloatingActionButton.HideStrategy",
    "com.google.android.material.floatingactionbutton.ExtendedFloatingActionButton$OnChangedCallback" : "ExtendedFloatingActionButton.OnChangedCallback",
    "com.google.android.material.floatingactionbutton.ExtendedFloatingActionButton$ShowStrategy" : "ExtendedFloatingActionButton.ShowStrategy",
    "com.google.android.material.floatingactionbutton.ExtendedFloatingActionButton$Size" : "ExtendedFloatingActionButton.Size",
    "com.google.android.material.floatingactionbutton.FloatingActionButton" : "FloatingActionButton",
    "com.google.android.material.floatingactionbutton.FloatingActionButton$BaseBehavior" : "FloatingActionButton.BaseBehavior",
    "com.google.android.material.floatingactionbutton.FloatingActionButton$Behavior" : "FloatingActionButton.Behavior",
    "com.google.android.material.floatingactionbutton.FloatingActionButton$OnVisibilityChangedListener" : "FloatingActionButton.OnVisibilityChangedListener",
    "com.google.android.material.floatingactionbutton.FloatingActionButton$ShadowDelegateImpl" : "FloatingActionButton.ShadowDelegateImpl",
    "com.google.android.material.floatingactionbutton.FloatingActionButton$Size" : "FloatingActionButton.Size",
    "com.google.android.material.floatingactionbutton.FloatingActionButton$TransformationCallbackWrapper" : "FloatingActionButton.TransformationCallbackWrapper",
    "com.google.android.material.floatingactionbutton.FloatingActionButtonImpl" : "FloatingActionButtonImpl",
    "com.google.android.material.floatingactionbutton.FloatingActionButtonImpl$DisabledElevationAnimation" : "FloatingActionButtonImpl.DisabledElevationAnimation",
    "com.google.android.material.floatingactionbutton.FloatingActionButtonImpl$ElevateToHoveredFocusedTranslationZAnimation" : "FloatingActionButtonImpl.ElevateToHoveredFocusedTranslationZAnimation",
    "com.google.android.material.floatingactionbutton.FloatingActionButtonImpl$ElevateToPressedTranslationZAnimation" : "FloatingActionButtonImpl.ElevateToPressedTranslationZAnimation",
    "com.google.android.material.floatingactionbutton.FloatingActionButtonImpl$InternalTransformationCallback" : "FloatingActionButtonImpl.InternalTransformationCallback",
    "com.google.android.material.floatingactionbutton.FloatingActionButtonImpl$InternalVisibilityChangedListener" : "FloatingActionButtonImpl.InternalVisibilityChangedListener",
    "com.google.android.material.floatingactionbutton.FloatingActionButtonImpl$ResetElevationAnimation" : "FloatingActionButtonImpl.ResetElevationAnimation",
    "com.google.android.material.floatingactionbutton.FloatingActionButtonImpl$ShadowAnimatorImpl" : "FloatingActionButtonImpl.ShadowAnimatorImpl",
    "com.google.android.material.floatingactionbutton.FloatingActionButtonImplLollipop" : "FloatingActionButtonImplLollipop",
    "com.google.android.material.floatingactionbutton.FloatingActionButtonImplLollipop$AlwaysStatefulMaterialShapeDrawable" : "FloatingActionButtonImplLollipop.AlwaysStatefulMaterialShapeDrawable",
    "com.google.android.material.floatingactionbutton.MotionStrategy" : "MotionStrategy",
    "com.google.android.material.imageview.ShapeableImageView" : "ShapeableImageView",
    "com.google.android.material.imageview.ShapeableImageView$OutlineProvider" : "ShapeableImageView.OutlineProvider",
    "com.google.android.material.materialswitch.MaterialSwitch" : "MaterialSwitch",
    "com.google.android.material.math.MathUtils" : "MathUtils",
    "com.google.android.material.motion.MaterialBackAnimationHelper" : "MaterialBackAnimationHelper",
    "com.google.android.material.motion.MaterialBackHandler" : "MaterialBackHandler",
    "com.google.android.material.motion.MaterialBackOrchestrator" : "MaterialBackOrchestrator",
    "com.google.android.material.motion.MaterialBackOrchestrator$Api33BackCallbackDelegate" : "MaterialBackOrchestrator.Api33BackCallbackDelegate",
    "com.google.android.material.motion.MaterialBackOrchestrator$Api34BackCallbackDelegate" : "MaterialBackOrchestrator.Api34BackCallbackDelegate",
    "com.google.android.material.motion.MaterialBackOrchestrator$BackCallbackDelegate" : "MaterialBackOrchestrator.BackCallbackDelegate",
    "com.google.android.material.motion.MaterialBottomContainerBackHelper" : "MaterialBottomContainerBackHelper",
    "com.google.android.material.motion.MaterialMainContainerBackHelper" : "MaterialMainContainerBackHelper",
    "com.google.android.material.motion.MaterialSideContainerBackHelper" : "MaterialSideContainerBackHelper",
    "com.google.android.material.motion.MotionUtils" : "MotionUtils",
    "com.google.android.material.navigation.DrawerLayoutUtils" : "DrawerLayoutUtils",
    "com.google.android.material.navigation.NavigationBarItemView" : "NavigationBarItemView",
    "com.google.android.material.navigation.NavigationBarItemView$ActiveIndicatorTransform" : "NavigationBarItemView.ActiveIndicatorTransform",
    "com.google.android.material.navigation.NavigationBarItemView$ActiveIndicatorUnlabeledTransform" : "NavigationBarItemView.ActiveIndicatorUnlabeledTransform",
    "com.google.android.material.navigation.NavigationBarMenu" : "NavigationBarMenu",
    "com.google.android.material.navigation.NavigationBarMenuView" : "NavigationBarMenuView",
    "com.google.android.material.navigation.NavigationBarPresenter" : "NavigationBarPresenter",
    "com.google.android.material.navigation.NavigationBarPresenter$SavedState" : "NavigationBarPresenter.SavedState",
    "com.google.android.material.navigation.NavigationBarView" : "NavigationBarView",
    "com.google.android.material.navigation.NavigationBarView$LabelVisibility" : "NavigationBarView.LabelVisibility",
    "com.google.android.material.navigation.NavigationBarView$OnItemReselectedListener" : "NavigationBarView.OnItemReselectedListener",
    "com.google.android.material.navigation.NavigationBarView$OnItemSelectedListener" : "NavigationBarView.OnItemSelectedListener",
    "com.google.android.material.navigation.NavigationBarView$SavedState" : "NavigationBarView.SavedState",
    "com.google.android.material.navigation.NavigationView" : "NavigationView",
    "com.google.android.material.navigation.NavigationView$OnNavigationItemSelectedListener" : "NavigationView.OnNavigationItemSelectedListener",
    "com.google.android.material.navigation.NavigationView$SavedState" : "NavigationView.SavedState",
    "com.google.android.material.navigationrail.NavigationRailItemView" : "NavigationRailItemView",
    "com.google.android.material.navigationrail.NavigationRailMenuView" : "NavigationRailMenuView",
    "com.google.android.material.navigationrail.NavigationRailView" : "NavigationRailView",
    "com.google.android.material.tabs.ElasticTabIndicatorInterpolator" : "ElasticTabIndicatorInterpolator",
    "com.google.android.material.tabs.FadeTabIndicatorInterpolator" : "FadeTabIndicatorInterpolator",
    "com.google.android.material.tabs.TabIndicatorInterpolator" : "TabIndicatorInterpolator",
    "com.google.android.material.tabs.TabItem" : "TabItem",
    "com.google.android.material.tabs.TabLayout" : "TabLayout",
    "com.google.android.material.tabs.TabLayout$AdapterChangeListener" : "TabLayout.AdapterChangeListener",
    "com.google.android.material.tabs.TabLayout$BaseOnTabSelectedListener" : "TabLayout.BaseOnTabSelectedListener",
    "com.google.android.material.tabs.TabLayout$LabelVisibility" : "TabLayout.LabelVisibility",
    "com.google.android.material.tabs.TabLayout$Mode" : "TabLayout.Mode",
    "com.google.android.material.tabs.TabLayout$OnTabSelectedListener" : "TabLayout.OnTabSelectedListener",
    "com.google.android.material.tabs.TabLayout$PagerAdapterObserver" : "TabLayout.PagerAdapterObserver",
    "com.google.android.material.tabs.TabLayout$SlidingTabIndicator" : "TabLayout.SlidingTabIndicator",
    "com.google.android.material.tabs.TabLayout$Tab" : "TabLayout.Tab",
    "com.google.android.material.tabs.TabLayout$TabGravity" : "TabLayout.TabGravity",
    "com.google.android.material.tabs.TabLayout$TabIndicatorAnimationMode" : "TabLayout.TabIndicatorAnimationMode",
    "com.google.android.material.tabs.TabLayout$TabIndicatorGravity" : "TabLayout.TabIndicatorGravity",
    "com.google.android.material.tabs.TabLayout$TabLayoutOnPageChangeListener" : "TabLayout.TabLayoutOnPageChangeListener",
    "com.google.android.material.tabs.TabLayout$TabView" : "TabLayout.TabView",
    "com.google.android.material.tabs.TabLayout$ViewPagerOnTabSelectedListener" : "TabLayout.ViewPagerOnTabSelectedListener",
    "com.google.android.material.tabs.TabLayoutMediator" : "TabLayoutMediator",
    "com.google.android.material.tabs.TabLayoutMediator$PagerAdapterObserver" : "TabLayoutMediator.PagerAdapterObserver",
    "com.google.android.material.tabs.TabLayoutMediator$TabConfigurationStrategy" : "TabLayoutMediator.TabConfigurationStrategy",
    "com.google.android.material.tabs.TabLayoutMediator$TabLayoutOnPageChangeCallback" : "TabLayoutMediator.TabLayoutOnPageChangeCallback",
    "com.google.android.material.tabs.TabLayoutMediator$ViewPagerOnTabSelectedListener" : "TabLayoutMediator.ViewPagerOnTabSelectedListener"
  },
  "classpath" : "jar/android.jar:jar/kotlin-stdlib.jar:jar/recyclerview.jar:jar/core.jar:jar/collection.jar:jar/customview.jar:jar/lifecycle-common.jar:jar/navigation-runtime.jar:jar/navigation-common.jar:jar/lifecycle-viewmodel.jar:jar/savedstate.jar:jar/lifecycle-viewmodel-savedstate.jar:jar/material.jar:jar/viewpager.jar:jar/fragment.jar:jar/coordinatorlayout.jar:jar/transition.jar:jar/appcompat.jar:jar/activity.jar:jar/vectordrawable.jar:jar/constraintlayout.jar:jar/cardview.jar:jar/vectordrawable-animated.jar:jar/appcompat-resources.jar:jar/viewpager2.jar:jar/dynamicanimation.jar:jar/emoji2.jar"
}
