{
  "classes" : {
    "java.util.Arrays" : "Arrays",
    "java.util.Base64" : "Base64",
    "java.util.Base64$Decoder" : "Base64.Decoder",
    "java.util.Base64$Encoder" : "Base64.Encoder",
    "java.util.Calendar" : "Calendar",
    "java.util.Formatter" : "Formatter",
    "java.util.GregorianCalendar" : "GregorianCalendar",
    "java.util.Locale" : "Locale",
    "java.util.Map" : "Map",
    "java.util.Map$Entry" : "Map.Entry",
    "java.util.Random" : "Random",
    "java.util.random.RandomGenerator" : "Random.Generator",
    "java.util.TimeZone" : "TimeZone",
    "java.util.Timer" : "Timer",
    "java.util.UUID" : "UUID",
  },
  "classpath" : "android.jar"
}
