{
  "classes" : {
    "android.appwidget.AppWidgetHost" : "AppWidgetHost",
    "android.appwidget.AppWidgetHostView" : "AppWidgetHostView",
    "android.appwidget.AppWidgetManager" : "AppWidgetManager",
    "android.appwidget.AppWidgetProvider" : "AppWidgetProvider",
    "android.appwidget.AppWidgetProviderInfo" : "AppWidgetProviderInfo"
  },
  "classpath" : "../../../../Library/Android/sdk/platforms/android-31/android.jar"
}
