{
  "classes" : {
    "android.graphics.Bitmap" : "Bitmap",
    "android.graphics.Bitmap$CompressFormat" : "Bitmap.CompressFormat",
    "android.graphics.Bitmap$Config" : "Bitmap.Config",
    "android.graphics.BitmapFactory" : "BitmapFactory",
    "android.graphics.BitmapFactory$Options" : "BitmapFactory.Options",
    "android.graphics.BitmapRegionDecoder" : "BitmapRegionDecoder",
    "android.graphics.BitmapShader" : "BitmapShader",
    "android.graphics.BlendMode" : "BlendMode",
    "android.graphics.BlendModeColorFilter" : "BlendModeColorFilter",
    "android.graphics.BlurMaskFilter" : "BlurMaskFilter",
    "android.graphics.BlurMaskFilter$Blur" : "BlurMaskFilter.Blur",
    "android.graphics.Camera" : "Camera",
    "android.graphics.Canvas" : "Canvas",
    "android.graphics.Canvas$EdgeType" : "Canvas.EdgeType",
    "android.graphics.Canvas$VertexMode" : "Canvas.VertexMode",
    "android.graphics.Color" : "Color",
    "android.graphics.ColorFilter" : "ColorFilter",
    "android.graphics.ColorMatrix" : "ColorMatrix",
    "android.graphics.ColorMatrixColorFilter" : "ColorMatrixColorFilter",
    "android.graphics.ColorSpace" : "ColorSpace",
    "android.graphics.ColorSpace$Adaptation" : "ColorSpace.Adaptation",
    "android.graphics.ColorSpace$Connector" : "ColorSpace.Connector",
    "android.graphics.ColorSpace$Model" : "ColorSpace.Model",
    "android.graphics.ColorSpace$Named" : "ColorSpace.Named",
    "android.graphics.ColorSpace$RenderIntent" : "ColorSpace.RenderIntent",
    "android.graphics.ColorSpace$Rgb" : "ColorSpace.Rgb",
    "android.graphics.ColorSpace$Rgb$TransferParameters" : "ColorSpace.Rgb.TransferParameters",
    "android.graphics.ComposePathEffect" : "ComposePathEffect",
    "android.graphics.ComposeShader" : "ComposeShader",
    "android.graphics.CornerPathEffect" : "CornerPathEffect",
    "android.graphics.DashPathEffect" : "DashPathEffect",
    "android.graphics.DiscretePathEffect" : "DiscretePathEffect",
    "android.graphics.DrawFilter" : "DrawFilter",
    "android.graphics.EmbossMaskFilter" : "EmbossMaskFilter",
    "android.graphics.HardwareRenderer" : "HardwareRenderer",
    "android.graphics.HardwareRenderer$FrameRenderRequest" : "HardwareRenderer.FrameRenderRequest",
    "android.graphics.ImageDecoder" : "ImageDecoder",
    "android.graphics.ImageDecoder$DecodeException" : "ImageDecoder.DecodeException",
    "android.graphics.ImageDecoder$ImageInfo" : "ImageDecoder.ImageInfo",
    "android.graphics.ImageDecoder$OnHeaderDecodedListener" : "ImageDecoder.OnHeaderDecodedListener",
    "android.graphics.ImageDecoder$OnPartialImageListener" : "ImageDecoder.OnPartialImageListener",
    "android.graphics.ImageDecoder$Source" : "ImageDecoder.Source",
    "android.graphics.ImageFormat" : "ImageFormat",
    "android.graphics.Insets" : "Insets",
    "android.graphics.Interpolator" : "Interpolator",
    "android.graphics.Interpolator$Result" : "Interpolator.Result",
    "android.graphics.LightingColorFilter" : "LightingColorFilter",
    "android.graphics.LinearGradient" : "LinearGradient",
    "android.graphics.MaskFilter" : "MaskFilter",
    "android.graphics.Matrix" : "Matrix",
    "android.graphics.Matrix$ScaleToFit" : "Matrix.ScaleToFit",
    "android.graphics.Movie" : "Movie",
    "android.graphics.NinePatch" : "NinePatch",
    "android.graphics.Outline" : "Outline",
    "android.graphics.Paint" : "Paint",
    "android.graphics.Paint$Align" : "Paint.Align",
    "android.graphics.Paint$Cap" : "Paint.Cap",
    "android.graphics.Paint$FontMetrics" : "Paint.FontMetrics",
    "android.graphics.Paint$FontMetricsInt" : "Paint.FontMetricsInt",
    "android.graphics.Paint$Join" : "Paint.Join",
    "android.graphics.Paint$Style" : "Paint.Style",
    "android.graphics.PaintFlagsDrawFilter" : "PaintFlagsDrawFilter",
    "android.graphics.ParcelableColorSpace" : "ParcelableColorSpace",
    "android.graphics.Path" : "Path",
    "android.graphics.Path$Direction" : "Path.Direction",
    "android.graphics.Path$FillType" : "Path.FillType",
    "android.graphics.Path$Op" : "Path.Op",
    "android.graphics.PathDashPathEffect" : "PathDashPathEffect",
    "android.graphics.PathDashPathEffect$Style" : "PathDashPathEffect.Style",
    "android.graphics.PathEffect" : "PathEffect",
    "android.graphics.PathMeasure" : "PathMeasure",
    "android.graphics.Picture" : "Picture",
    "android.graphics.PixelFormat" : "PixelFormat",
    "android.graphics.Point" : "Point",
    "android.graphics.PointF" : "PointF",
    "android.graphics.PorterDuff" : "PorterDuff",
    "android.graphics.PorterDuff$Mode" : "PorterDuff.Mode",
    "android.graphics.PorterDuffColorFilter" : "PorterDuffColorFilter",
    "android.graphics.PorterDuffXfermode" : "PorterDuffXfermode",
    "android.graphics.PostProcessor" : "PostProcessor",
    "android.graphics.RadialGradient" : "RadialGradient",
    "android.graphics.RecordingCanvas" : "RecordingCanvas",
    "android.graphics.Rect" : "Rect",
    "android.graphics.RectF" : "RectF",
    "android.graphics.Region" : "Region",
    "android.graphics.Region$Op" : "Region.Op",
    "android.graphics.RegionIterator" : "RegionIterator",
    "android.graphics.RenderEffect" : "RenderEffect",
    "android.graphics.RenderNode" : "RenderNode",
    "android.graphics.RuntimeShader" : "RuntimeShader",
    "android.graphics.Shader" : "Shader",
    "android.graphics.Shader$TileMode" : "Shader.TileMode",
    "android.graphics.SumPathEffect" : "SumPathEffect",
    "android.graphics.SurfaceTexture" : "SurfaceTexture",
    "android.graphics.SurfaceTexture$OnFrameAvailableListener" : "SurfaceTexture.OnFrameAvailableListener",
    "android.graphics.SurfaceTexture$OutOfResourcesException" : "SurfaceTexture.OutOfResourcesException",
    "android.graphics.SweepGradient" : "SweepGradient",
    "android.graphics.Typeface" : "Typeface",
    "android.graphics.Typeface$Builder" : "Typeface.Builder",
    "android.graphics.Typeface$CustomFallbackBuilder" : "Typeface.CustomFallbackBuilder",
    "android.graphics.Xfermode" : "Xfermode",
    "android.graphics.YuvImage" : "YuvImage",
    "android.graphics.drawable.AdaptiveIconDrawable" : "AdaptiveIconDrawable",
    "android.graphics.drawable.Animatable" : "Animatable",
    "android.graphics.drawable.Animatable2" : "Animatable2",
    "android.graphics.drawable.Animatable2$AnimationCallback" : "Animatable2.AnimationCallback",
    "android.graphics.drawable.AnimatedImageDrawable" : "AnimatedImageDrawable",
    "android.graphics.drawable.AnimatedStateListDrawable" : "AnimatedStateListDrawable",
    "android.graphics.drawable.AnimatedVectorDrawable" : "AnimatedVectorDrawable",
    "android.graphics.drawable.AnimationDrawable" : "AnimationDrawable",
    "android.graphics.drawable.BitmapDrawable" : "BitmapDrawable",
    "android.graphics.drawable.ClipDrawable" : "ClipDrawable",
    "android.graphics.drawable.ColorDrawable" : "ColorDrawable",
    "android.graphics.drawable.ColorStateListDrawable" : "ColorStateListDrawable",
    "android.graphics.drawable.Drawable" : "Drawable",
    "android.graphics.drawable.Drawable$Callback" : "Drawable.Callback",
    "android.graphics.drawable.Drawable$ConstantState" : "Drawable.ConstantState",
    "android.graphics.drawable.DrawableContainer" : "DrawableContainer",
    "android.graphics.drawable.DrawableContainer$DrawableContainerState" : "DrawableContainer.DrawableContainerState",
    "android.graphics.drawable.DrawableWrapper" : "DrawableWrapper",
    "android.graphics.drawable.GradientDrawable" : "GradientDrawable",
    "android.graphics.drawable.GradientDrawable$Orientation" : "GradientDrawable.Orientation",
    "android.graphics.drawable.Icon" : "Icon",
    "android.graphics.drawable.Icon$OnDrawableLoadedListener" : "Icon.OnDrawableLoadedListener",
    "android.graphics.drawable.InsetDrawable" : "InsetDrawable",
    "android.graphics.drawable.LayerDrawable" : "LayerDrawable",
    "android.graphics.drawable.LevelListDrawable" : "LevelListDrawable",
    "android.graphics.drawable.NinePatchDrawable" : "NinePatchDrawable",
    "android.graphics.drawable.PaintDrawable" : "PaintDrawable",
    "android.graphics.drawable.PictureDrawable" : "PictureDrawable",
    "android.graphics.drawable.RippleDrawable" : "RippleDrawable",
    "android.graphics.drawable.RotateDrawable" : "RotateDrawable",
    "android.graphics.drawable.ScaleDrawable" : "ScaleDrawable",
    "android.graphics.drawable.ShapeDrawable" : "ShapeDrawable",
    "android.graphics.drawable.ShapeDrawable$ShaderFactory" : "ShapeDrawable.ShaderFactory",
    "android.graphics.drawable.StateListDrawable" : "StateListDrawable",
    "android.graphics.drawable.TransitionDrawable" : "TransitionDrawable",
    "android.graphics.drawable.VectorDrawable" : "VectorDrawable",
    "android.graphics.drawable.shapes.ArcShape" : "ArcShape",
    "android.graphics.drawable.shapes.OvalShape" : "OvalShape",
    "android.graphics.drawable.shapes.PathShape" : "PathShape",
    "android.graphics.drawable.shapes.RectShape" : "RectShape",
    "android.graphics.drawable.shapes.RoundRectShape" : "RoundRectShape",
    "android.graphics.drawable.shapes.Shape" : "Shape",
    "android.graphics.fonts.Font" : "Font",
    "android.graphics.fonts.Font$Builder" : "Font.Builder",
    "android.graphics.fonts.FontFamily" : "FontFamily",
    "android.graphics.fonts.FontFamily$Builder" : "FontFamily.Builder",
    "android.graphics.fonts.FontStyle" : "FontStyle",
    "android.graphics.fonts.FontVariationAxis" : "FontVariationAxis",
    "android.graphics.fonts.SystemFonts" : "SystemFonts",
    "android.graphics.pdf.PdfDocument" : "PdfDocument",
    "android.graphics.pdf.PdfDocument$Page" : "PdfDocument.Page",
    "android.graphics.pdf.PdfDocument$PageInfo" : "PdfDocument.PageInfo",
    "android.graphics.pdf.PdfDocument$PageInfo$Builder" : "PdfDocument.PageInfo.Builder",
    "android.graphics.pdf.PdfRenderer" : "PdfRenderer",
    "android.graphics.pdf.PdfRenderer$Page" : "PdfRenderer.Page",
    "android.graphics.text.LineBreakConfig" : "LineBreakConfig",
    "android.graphics.text.LineBreakConfig$Builder" : "LineBreakConfig.Builder",
    "android.graphics.text.LineBreaker" : "LineBreaker",
    "android.graphics.text.LineBreaker$Builder" : "LineBreaker.Builder",
    "android.graphics.text.LineBreaker$ParagraphConstraints" : "LineBreaker.ParagraphConstraints",
    "android.graphics.text.LineBreaker$Result" : "LineBreaker.Result",
    "android.graphics.text.MeasuredText" : "MeasuredText",
    "android.graphics.text.MeasuredText$Builder" : "MeasuredText.Builder",
    "android.graphics.text.PositionedGlyphs" : "PositionedGlyphs",
    "android.graphics.text.TextRunShaper" : "TextRunShaper"
  },
  "classpath" : "android.jar"
}
