{
  "classes" : {
    "android.location.Address" : "Address",
    "android.location.Criteria" : "Criteria",
    "android.location.Geocoder" : "Geocoder",
    "android.location.Geocoder$GeocodeListener" : "Geocoder.GeocodeListener",
    "android.location.GnssAntennaInfo" : "GnssAntennaInfo",
    "android.location.GnssAntennaInfo$Builder" : "GnssAntennaInfo.Builder",
    "android.location.GnssAntennaInfo$Listener" : "GnssAntennaInfo.Listener",
    "android.location.GnssAntennaInfo$PhaseCenterOffset" : "GnssAntennaInfo.PhaseCenterOffset",
    "android.location.GnssAntennaInfo$SphericalCorrections" : "GnssAntennaInfo.SphericalCorrections",
    "android.location.GnssAutomaticGainControl" : "GnssAutomaticGainControl",
    "android.location.GnssAutomaticGainControl$Builder" : "GnssAutomaticGainControl.Builder",
    "android.location.GnssCapabilities" : "GnssCapabilities",
    "android.location.GnssCapabilities$Builder" : "GnssCapabilities.Builder",
    "android.location.GnssClock" : "GnssClock",
    "android.location.GnssMeasurement" : "GnssMeasurement",
    "android.location.GnssMeasurementRequest" : "GnssMeasurementRequest",
    "android.location.GnssMeasurementRequest$Builder" : "GnssMeasurementRequest.Builder",
    "android.location.GnssMeasurementsEvent" : "GnssMeasurementsEvent",
    "android.location.GnssMeasurementsEvent$Builder" : "GnssMeasurementsEvent.Builder",
    "android.location.GnssMeasurementsEvent$Callback" : "GnssMeasurementsEvent.Callback",
    "android.location.GnssNavigationMessage" : "GnssNavigationMessage",
    "android.location.GnssNavigationMessage$Callback" : "GnssNavigationMessage.Callback",
    "android.location.GnssSignalType" : "GnssSignalType",
    "android.location.GnssStatus" : "GnssStatus",
    "android.location.GnssStatus$Builder" : "GnssStatus.Builder",
    "android.location.GnssStatus$Callback" : "GnssStatus.Callback",
    "android.location.Location" : "Location",
    "android.location.LocationListener" : "LocationListener",
    "android.location.LocationManager" : "LocationManager",
    "android.location.LocationProvider" : "LocationProvider",
    "android.location.LocationRequest" : "LocationRequest",
    "android.location.LocationRequest$Builder" : "LocationRequest.Builder",
    "android.location.OnNmeaMessageListener" : "OnNmeaMessageListener"
  },
  "classpath" : "jar/android.jar"
}
