{
  "classes" : {
    "android.util.AndroidException" : "AndroidException",
    "android.util.AndroidRuntimeException" : "AndroidRuntimeException",
    "android.util.ArrayMap" : "ArrayMap",
    "android.util.ArraySet" : "ArraySet",
    "android.util.AtomicFile" : "AtomicFile",
    "android.util.AttributeSet" : "AttributeSet",
    "android.util.Base64" : "Base64",
    "android.util.Base64DataException" : "Base64DataException",
    "android.util.Base64InputStream" : "Base64InputStream",
    "android.util.Base64OutputStream" : "Base64OutputStream",
    "android.util.CloseGuard" : "CloseGuard",
    "android.util.Config" : "Config",
    "android.util.DebugUtils" : "DebugUtils",
    "android.util.DisplayMetrics" : "DisplayMetrics",
    "android.util.Dumpable" : "Dumpable",
    "android.util.DumpableContainer" : "DumpableContainer",
    "android.util.EventLog" : "EventLog",
    "android.util.EventLog$Event" : "EventLog.Event",
    "android.util.EventLogTags" : "EventLogTags",
    "android.util.EventLogTags$Description" : "EventLogTags.Description",
    "android.util.FloatMath" : "FloatMath",
    "android.util.Half" : "Half",
    "android.util.JsonReader" : "JsonReader",
    "android.util.JsonToken" : "JsonToken",
    "android.util.JsonWriter" : "JsonWriter",
    "android.util.LayoutDirection" : "LayoutDirection",
    "android.util.Log" : "Log",
    "android.util.LogPrinter" : "LogPrinter",
    "android.util.LongSparseArray" : "LongSparseArray",
    "android.util.LruCache" : "LruCache",
    "android.util.MalformedJsonException" : "MalformedJsonException",
    "android.util.MonthDisplayHelper" : "MonthDisplayHelper",
    "android.util.MutableBoolean" : "MutableBoolean",
    "android.util.MutableByte" : "MutableByte",
    "android.util.MutableChar" : "MutableChar",
    "android.util.MutableDouble" : "MutableDouble",
    "android.util.MutableFloat" : "MutableFloat",
    "android.util.MutableInt" : "MutableInt",
    "android.util.MutableLong" : "MutableLong",
    "android.util.MutableShort" : "MutableShort",
    "android.util.NoSuchPropertyException" : "NoSuchPropertyException",
    "android.util.Pair" : "Pair",
    "android.util.Patterns" : "Patterns",
    "android.util.PrintStreamPrinter" : "PrintStreamPrinter",
    "android.util.PrintWriterPrinter" : "PrintWriterPrinter",
    "android.util.Printer" : "Printer",
    "android.util.Property" : "Property",
    "android.util.Range" : "Range",
    "android.util.Rational" : "Rational",
    "android.util.Size" : "Size",
    "android.util.SizeF" : "SizeF",
    "android.util.SparseArray" : "SparseArray",
    "android.util.SparseBooleanArray" : "SparseBooleanArray",
    "android.util.SparseIntArray" : "SparseIntArray",
    "android.util.SparseLongArray" : "SparseLongArray",
    "android.util.StateSet" : "StateSet",
    "android.util.StatsLog" : "StatsLog",
    "android.util.StringBuilderPrinter" : "StringBuilderPrinter",
    "android.util.TimeFormatException" : "TimeFormatException",
    "android.util.TimeUtils" : "TimeUtils",
    "android.util.TimingLogger" : "TimingLogger",
    "android.util.TypedValue" : "TypedValue",
    "android.util.Xml" : "Xml",
    "android.util.Xml$Encoding" : "Xml.Encoding",
    "android.util.proto.ProtoOutputStream" : "ProtoOutputStream"
  },
  "classpath" : "android.jar"
}
