{
  "classes" : {
    "java.io.BufferedInputStream" : "BufferedInputStream",
    "java.io.BufferedOutputStream" : "BufferedOutputStream",
    "java.io.BufferedReader" : "BufferedReader",
    "java.io.BufferedWriter" : "BufferedWriter",
    "java.io.ByteArrayInputStream" : "ByteArrayInputStream",
    "java.io.ByteArrayOutputStream" : "ByteArrayOutputStream",
    "java.io.CharArrayReader" : "CharArrayReader",
    "java.io.CharArrayWriter" : "CharArrayWriter",
    "java.io.CharConversionException" : "CharConversionException",
    "java.io.Closeable" : "Closeable",
    "java.io.Console" : "Console",
    "java.io.DataInput" : "DataInput",
    "java.io.DataInputStream" : "DataInputStream",
    "java.io.DataOutput" : "DataOutput",
    "java.io.DataOutputStream" : "DataOutputStream",
    "java.io.EOFException" : "EOFException",
    "java.io.Externalizable" : "Externalizable",
    "java.io.File" : "File",
    "java.io.FileDescriptor" : "FileDescriptor",
    "java.io.FileFilter" : "FileFilter",
    "java.io.FileInputStream" : "FileInputStream",
    "java.io.FileNotFoundException" : "FileNotFoundException",
    "java.io.FileOutputStream" : "FileOutputStream",
    "java.io.FilePermission" : "FilePermission",
    "java.io.FileReader" : "FileReader",
    "java.io.FileWriter" : "FileWriter",
    "java.io.FilenameFilter" : "FilenameFilter",
    "java.io.FilterInputStream" : "FilterInputStream",
    "java.io.FilterOutputStream" : "FilterOutputStream",
    "java.io.FilterReader" : "FilterReader",
    "java.io.FilterWriter" : "FilterWriter",
    "java.io.Flushable" : "Flushable",
    "java.io.IOError" : "IOError",
    "java.io.IOException" : "IOException",
    "java.io.InputStream" : "InputStream",
    "java.io.InputStreamReader" : "InputStreamReader",
    "java.io.InterruptedIOException" : "InterruptedIOException",
    "java.io.InvalidClassException" : "InvalidClassException",
    "java.io.InvalidObjectException" : "InvalidObjectException",
    "java.io.LineNumberInputStream" : "LineNumberInputStream",
    "java.io.LineNumberReader" : "LineNumberReader",
    "java.io.NotActiveException" : "NotActiveException",
    "java.io.NotSerializableException" : "NotSerializableException",
    "java.io.ObjectInput" : "ObjectInput",
    "java.io.ObjectInputStream" : "ObjectInputStream",
    "java.io.ObjectInputStream$GetField" : "ObjectInputStream.GetField",
    "java.io.ObjectInputValidation" : "ObjectInputValidation",
    "java.io.ObjectOutput" : "ObjectOutput",
    "java.io.ObjectOutputStream" : "ObjectOutputStream",
    "java.io.ObjectOutputStream$PutField" : "ObjectOutputStream.PutField",
    "java.io.ObjectStreamClass" : "ObjectStreamClass",
    "java.io.ObjectStreamConstants" : "ObjectStreamConstants",
    "java.io.ObjectStreamException" : "ObjectStreamException",
    "java.io.ObjectStreamField" : "ObjectStreamField",
    "java.io.OptionalDataException" : "OptionalDataException",
    "java.io.OutputStream" : "OutputStream",
    "java.io.OutputStreamWriter" : "OutputStreamWriter",
    "java.io.PipedInputStream" : "PipedInputStream",
    "java.io.PipedOutputStream" : "PipedOutputStream",
    "java.io.PipedReader" : "PipedReader",
    "java.io.PipedWriter" : "PipedWriter",
    "java.io.PrintStream" : "PrintStream",
    "java.io.PrintWriter" : "PrintWriter",
    "java.io.PushbackInputStream" : "PushbackInputStream",
    "java.io.PushbackReader" : "PushbackReader",
    "java.io.RandomAccessFile" : "RandomAccessFile",
    "java.io.Reader" : "Reader",
    "java.io.SequenceInputStream" : "SequenceInputStream",
    "java.io.Serializable" : "Serializable",
    "java.io.SerializablePermission" : "SerializablePermission",
    "java.io.StreamCorruptedException" : "StreamCorruptedException",
    "java.io.StreamTokenizer" : "StreamTokenizer",
    "java.io.StringBufferInputStream" : "StringBufferInputStream",
    "java.io.StringReader" : "StringReader",
    "java.io.StringWriter" : "StringWriter",
    "java.io.SyncFailedException" : "SyncFailedException",
    "java.io.UTFDataFormatException" : "UTFDataFormatException",
    "java.io.UncheckedIOException" : "UncheckedIOException",
    "java.io.UnsupportedEncodingException" : "UnsupportedEncodingException",
    "java.io.WriteAbortedException" : "WriteAbortedException",
    "java.io.Writer" : "Writer"
  },
  "classpath" : "android.jar"
}
