{
  "classes" : {
    "android.os.AsyncTask" : "AsyncTask",
    "android.os.AsyncTask$Status" : "AsyncTask.Status",
    "android.os.BadParcelableException" : "BadParcelableException",
    "android.os.BaseBundle" : "BaseBundle",
    "android.os.BatteryManager" : "BatteryManager",
    "android.os.Binder" : "Binder",
    "android.os.BugreportManager" : "BugreportManager",
    "android.os.BugreportManager$BugreportCallback" : "BugreportManager.BugreportCallback",
    "android.os.Build" : "Build",
    "android.os.Build$Partition" : "Build.Partition",
    "android.os.Build$VERSION" : "Build.VERSION",
    "android.os.Build$VERSION_CODES" : "Build.VERSION_CODES",
    "android.os.Bundle" : "Bundle",
    "android.os.CancellationSignal" : "CancellationSignal",
    "android.os.CancellationSignal$OnCancelListener" : "CancellationSignal.OnCancelListener",
    "android.os.CombinedVibration" : "CombinedVibration",
    "android.os.CombinedVibration$ParallelCombination" : "CombinedVibration.ParallelCombination",
    "android.os.ConditionVariable" : "ConditionVariable",
    "android.os.CountDownTimer" : "CountDownTimer",
    "android.os.CpuUsageInfo" : "CpuUsageInfo",
    "android.os.DeadObjectException" : "DeadObjectException",
    "android.os.DeadSystemException" : "DeadSystemException",
    "android.os.Debug" : "Debug",
    "android.os.Debug$InstructionCount" : "Debug.InstructionCount",
    "android.os.Debug$MemoryInfo" : "Debug.MemoryInfo",
    "android.os.DropBoxManager" : "DropBoxManager",
    "android.os.DropBoxManager$Entry" : "DropBoxManager.Entry",
    "android.os.Environment" : "Environment",
    "android.os.FileObserver" : "FileObserver",
    "android.os.FileUriExposedException" : "FileUriExposedException",
    "android.os.FileUtils" : "FileUtils",
    "android.os.FileUtils$ProgressListener" : "FileUtils.ProgressListener",
    "android.os.Handler" : "Handler",
    "android.os.Handler$Callback" : "Handler.Callback",
    "android.os.HandlerThread" : "HandlerThread",
    "android.os.HardwarePropertiesManager" : "HardwarePropertiesManager",
    "android.os.IBinder" : "IBinder",
    "android.os.IBinder$DeathRecipient" : "IBinder.DeathRecipient",
    "android.os.IInterface" : "IInterface",
    "android.os.LimitExceededException" : "LimitExceededException",
    "android.os.LocaleList" : "LocaleList",
    "android.os.Looper" : "Looper",
    "android.os.MemoryFile" : "MemoryFile",
    "android.os.Message" : "Message",
    "android.os.MessageQueue" : "MessageQueue",
    "android.os.MessageQueue$IdleHandler" : "MessageQueue.IdleHandler",
    "android.os.MessageQueue$OnFileDescriptorEventListener" : "MessageQueue.OnFileDescriptorEventListener",
    "android.os.Messenger" : "Messenger",
    "android.os.NetworkOnMainThreadException" : "NetworkOnMainThreadException",
    "android.os.OperationCanceledException" : "OperationCanceledException",
    "android.os.OutcomeReceiver" : "OutcomeReceiver",
    "android.os.Parcel" : "Parcel",
    "android.os.ParcelFileDescriptor" : "ParcelFileDescriptor",
    "android.os.ParcelFileDescriptor$AutoCloseInputStream" : "ParcelFileDescriptor.AutoCloseInputStream",
    "android.os.ParcelFileDescriptor$AutoCloseOutputStream" : "ParcelFileDescriptor.AutoCloseOutputStream",
    "android.os.ParcelFileDescriptor$FileDescriptorDetachedException" : "ParcelFileDescriptor.FileDescriptorDetachedException",
    "android.os.ParcelFileDescriptor$OnCloseListener" : "ParcelFileDescriptor.OnCloseListener",
    "android.os.ParcelFormatException" : "ParcelFormatException",
    "android.os.ParcelUuid" : "ParcelUuid",
    "android.os.Parcelable" : "Parcelable",
    "android.os.Parcelable$ClassLoaderCreator" : "Parcelable.ClassLoaderCreator",
    "android.os.Parcelable$Creator" : "Parcelable.Creator",
    "android.os.PatternMatcher" : "PatternMatcher",
    "android.os.PerformanceHintManager" : "PerformanceHintManager",
    "android.os.PerformanceHintManager$Session" : "PerformanceHintManager.Session",
    "android.os.PersistableBundle" : "PersistableBundle",
    "android.os.PowerManager" : "PowerManager",
    "android.os.PowerManager$OnThermalStatusChangedListener" : "PowerManager.OnThermalStatusChangedListener",
    "android.os.PowerManager$WakeLock" : "PowerManager.WakeLock",
    "android.os.PowerManager$WakeLockStateListener" : "PowerManager.WakeLockStateListener",
    "android.os.Process" : "Process",
    "android.os.ProxyFileDescriptorCallback" : "ProxyFileDescriptorCallback",
    "android.os.RecoverySystem" : "RecoverySystem",
    "android.os.RecoverySystem$ProgressListener" : "RecoverySystem.ProgressListener",
    "android.os.RemoteCallbackList" : "RemoteCallbackList",
    "android.os.RemoteException" : "RemoteException",
    "android.os.ResultReceiver" : "ResultReceiver",
    "android.os.SharedMemory" : "SharedMemory",
    "android.os.StatFs" : "StatFs",
    "android.os.StrictMode" : "StrictMode",
    "android.os.StrictMode$OnThreadViolationListener" : "StrictMode.OnThreadViolationListener",
    "android.os.StrictMode$OnVmViolationListener" : "StrictMode.OnVmViolationListener",
    "android.os.StrictMode$ThreadPolicy" : "StrictMode.ThreadPolicy",
    "android.os.StrictMode$ThreadPolicy$Builder" : "StrictMode.ThreadPolicy.Builder",
    "android.os.StrictMode$VmPolicy" : "StrictMode.VmPolicy",
    "android.os.StrictMode$VmPolicy$Builder" : "StrictMode.VmPolicy.Builder",
    "android.os.SystemClock" : "SystemClock",
    "android.os.TestLooperManager" : "TestLooperManager",
    "android.os.TokenWatcher" : "TokenWatcher",
    "android.os.Trace" : "Trace",
    "android.os.TransactionTooLargeException" : "TransactionTooLargeException",
    "android.os.UserHandle" : "UserHandle",
    "android.os.UserManager" : "UserManager",
    "android.os.UserManager$UserOperationException" : "UserManager.UserOperationException",
    "android.os.VibrationAttributes" : "VibrationAttributes",
    "android.os.VibrationAttributes$Builder" : "VibrationAttributes.Builder",
    "android.os.VibrationEffect" : "VibrationEffect",
    "android.os.VibrationEffect$Composition" : "VibrationEffect.Composition",
    "android.os.Vibrator" : "Vibrator",
    "android.os.VibratorManager" : "VibratorManager",
    "android.os.WorkSource" : "WorkSource",
    "android.os.ext.SdkExtensions" : "SdkExtensions",
    "android.os.health.HealthStats" : "HealthStats",
    "android.os.health.PackageHealthStats" : "PackageHealthStats",
    "android.os.health.PidHealthStats" : "PidHealthStats",
    "android.os.health.ProcessHealthStats" : "ProcessHealthStats",
    "android.os.health.ServiceHealthStats" : "ServiceHealthStats",
    "android.os.health.SystemHealthManager" : "SystemHealthManager",
    "android.os.health.TimerStat" : "TimerStat",
    "android.os.health.UidHealthStats" : "UidHealthStats",
    "android.os.storage.OnObbStateChangeListener" : "OnObbStateChangeListener",
    "android.os.storage.StorageManager" : "StorageManager",
    "android.os.storage.StorageManager$StorageVolumeCallback" : "StorageManager.StorageVolumeCallback",
    "android.os.storage.StorageVolume" : "StorageVolume",
    "android.os.strictmode.CleartextNetworkViolation" : "CleartextNetworkViolation",
    "android.os.strictmode.ContentUriWithoutPermissionViolation" : "ContentUriWithoutPermissionViolation",
    "android.os.strictmode.CredentialProtectedWhileLockedViolation" : "CredentialProtectedWhileLockedViolation",
    "android.os.strictmode.CustomViolation" : "CustomViolation",
    "android.os.strictmode.DiskReadViolation" : "DiskReadViolation",
    "android.os.strictmode.DiskWriteViolation" : "DiskWriteViolation",
    "android.os.strictmode.FileUriExposedViolation" : "FileUriExposedViolation",
    "android.os.strictmode.ImplicitDirectBootViolation" : "ImplicitDirectBootViolation",
    "android.os.strictmode.IncorrectContextUseViolation" : "IncorrectContextUseViolation",
    "android.os.strictmode.InstanceCountViolation" : "InstanceCountViolation",
    "android.os.strictmode.IntentReceiverLeakedViolation" : "IntentReceiverLeakedViolation",
    "android.os.strictmode.LeakedClosableViolation" : "LeakedClosableViolation",
    "android.os.strictmode.NetworkViolation" : "NetworkViolation",
    "android.os.strictmode.NonSdkApiUsedViolation" : "NonSdkApiUsedViolation",
    "android.os.strictmode.ResourceMismatchViolation" : "ResourceMismatchViolation",
    "android.os.strictmode.ServiceConnectionLeakedViolation" : "ServiceConnectionLeakedViolation",
    "android.os.strictmode.SqliteObjectLeakedViolation" : "SqliteObjectLeakedViolation",
    "android.os.strictmode.UnbufferedIoViolation" : "UnbufferedIoViolation",
    "android.os.strictmode.UnsafeIntentLaunchViolation" : "UnsafeIntentLaunchViolation",
    "android.os.strictmode.UntaggedSocketViolation" : "UntaggedSocketViolation",
    "android.os.strictmode.Violation" : "Violation",
    "android.os.strictmode.WebViewMethodCalledOnWrongThreadViolation" : "WebViewMethodCalledOnWrongThreadViolation"
  },
  "classpath" : "android.jar"
}
