{
  "classes" : {
    "android.R" : "R",
    "android.R$anim" : "R.anim",
    "android.R$animator" : "R.animator",
    "android.R$array" : "R.array",
    "android.R$attr" : "R.attr",
    "android.R$bool" : "R.bool",
    "android.R$color" : "R.color",
    "android.R$dimen" : "R.dimen",
    "android.R$drawable" : "R.drawable",
    "android.R$fraction" : "R.fraction",
    "android.R$id" : "R.id",
    "android.R$integer" : "R.integer",
    "android.R$interpolator" : "R.interpolator",
    "android.R$layout" : "R.layout",
    "android.R$menu" : "R.menu",
    "android.R$mipmap" : "R.mipmap",
    "android.R$plurals" : "R.plurals",
    "android.R$raw" : "R.raw",
    "android.R$string" : "R.string",
    "android.R$style" : "R.style",
    "android.R$transition" : "R.transition",
    "android.R$xml" : "R.xml"
  },
  "classpath" : "android.jar"
}
