{
  "classes" : {
    "java.net.Authenticator" : "Authenticator",
    "java.net.Authenticator$RequestorType" : "Authenticator.RequestorType",
    "java.net.BindException" : "BindException",
    "java.net.CacheRequest" : "CacheRequest",
    "java.net.CacheResponse" : "CacheResponse",
    "java.net.ConnectException" : "ConnectException",
    "java.net.ContentHandler" : "ContentHandler",
    "java.net.ContentHandlerFactory" : "ContentHandlerFactory",
    "java.net.CookieHandler" : "CookieHandler",
    "java.net.CookieManager" : "CookieManager",
    "java.net.CookiePolicy" : "CookiePolicy",
    "java.net.CookieStore" : "CookieStore",
    "java.net.DatagramPacket" : "DatagramPacket",
    "java.net.DatagramSocket" : "DatagramSocket",
    "java.net.DatagramSocketImpl" : "DatagramSocketImpl",
    "java.net.DatagramSocketImplFactory" : "DatagramSocketImplFactory",
    "java.net.FileNameMap" : "FileNameMap",
    "java.net.HttpCookie" : "HttpCookie",
    "java.net.HttpRetryException" : "HttpRetryException",
    "java.net.HttpURLConnection" : "HttpURLConnection",
    "java.net.IDN" : "IDN",
    "java.net.Inet4Address" : "Inet4Address",
    "java.net.Inet6Address" : "Inet6Address",
    "java.net.InetAddress" : "InetAddress",
    "java.net.InetSocketAddress" : "InetSocketAddress",
    "java.net.InterfaceAddress" : "InterfaceAddress",
    "java.net.JarURLConnection" : "JarURLConnection",
    "java.net.MalformedURLException" : "MalformedURLException",
    "java.net.MulticastSocket" : "MulticastSocket",
    "java.net.NetPermission" : "NetPermission",
    "java.net.NetworkInterface" : "NetworkInterface",
    "java.net.NoRouteToHostException" : "NoRouteToHostException",
    "java.net.PasswordAuthentication" : "PasswordAuthentication",
    "java.net.PortUnreachableException" : "PortUnreachableException",
    "java.net.ProtocolException" : "ProtocolException",
    "java.net.ProtocolFamily" : "ProtocolFamily",
    "java.net.Proxy" : "Proxy",
    "java.net.Proxy$Type" : "Proxy.Type",
    "java.net.ProxySelector" : "ProxySelector",
    "java.net.ResponseCache" : "ResponseCache",
    "java.net.SecureCacheResponse" : "SecureCacheResponse",
    "java.net.ServerSocket" : "ServerSocket",
    "java.net.Socket" : "Socket",
    "java.net.SocketAddress" : "SocketAddress",
    "java.net.SocketException" : "SocketException",
    "java.net.SocketImpl" : "SocketImpl",
    "java.net.SocketImplFactory" : "SocketImplFactory",
    "java.net.SocketOption" : "SocketOption",
    "java.net.SocketOptions" : "SocketOptions",
    "java.net.SocketPermission" : "SocketPermission",
    "java.net.SocketTimeoutException" : "SocketTimeoutException",
    "java.net.StandardProtocolFamily" : "StandardProtocolFamily",
    "java.net.StandardSocketOptions" : "StandardSocketOptions",
    "java.net.URISyntaxException" : "URISyntaxException",
    "java.net.URLConnection" : "URLConnection",
    "java.net.URLDecoder" : "URLDecoder",
    "java.net.URLEncoder" : "URLEncoder",
    "java.net.URLStreamHandler" : "URLStreamHandler",
    "java.net.URLStreamHandlerFactory" : "URLStreamHandlerFactory",
    "java.net.UnknownHostException" : "UnknownHostException",
    "java.net.UnknownServiceException" : "UnknownServiceException"
  },
  "classpath" : "android.jar"
}
